<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="" src="images/mainsimg/contentMainImgqq.jpg" />
    <h3>מאז 1989</h3>
    <div class="contentTxt">מיום היווסדה בשנת 1989, דלתות פנדור מובילה את מהפכת עיצוב דלתות הפנים בישראל.</div>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>

<section id="wrap_container" class="wrap_container">
    <div class="container">
        <div class="contentTextContainer">שילוב של ידע וניסיון רב שנים, שימוש בחומרים מהשורה הראשונה ובאמצעים האיכותיים והמתקדמים ביותר, תורמים להיותה יצרנית דלתות הפנים הגדולה בישראל.
פנדור מצטיינת ב: מוניטין, איכות מוצרים גבוהה, עיצוב מרהיב ושירות לקוחות אמין ובלתי מתפשר לאורך כל שנות קיומה.
 
חזון החברה מציב את דלתות הפנים כחלק אינטגרלי מעיצוב הבית כולו. מדובר בשינוי בצורה בה אנו תופשים דלתות פנים; מאלמנט פונקציונאלי בלבד, לאחד המרכיבים החשובים והייחודים בעיצוב פנים הבית.
 
כבר משנת 1995, פנדור מייצרת ומשווקת דלתות איכותיות ומעוצבות העונות על התפישה החדשה של דלת הפנים בבית הישראלי, שהיא עצמה יצרה ומתגאה בה. בשנת 1996, פנדור הייתה לחברה הראשונה בארץ שהכניסה לענף נגרות הבניין קווי יצור ממוחשבים; כך ניתן היה לייצר דלתות מחומרים איכותיים בדיוק מרבי וברמת גימור גבוהה יותר. כמו כן, אופן הייצור הממוחשב פרץ את גבולות הסטנדרט, ואיפשר התאמה אישית של הסחורה לטעם העיצובי ולצרכים הטכניים של כל לקוח ולקוח. בשנת 2002 הייתה פנדור לאחת החברות הראשונות בעולם ביצור ושיווק דגמי “למינטו” הייחודיים, שהפכו במהרה לדלתות הנמכרות ביותר בישראל. במרץ 2011 החלה החברה בייצור ושיווק דלתות פנים מסדרת “יוניק” - דלתות ייחודיות מסוגן בעולם.
 
דלתות יוניק הינן דלתות עמידות לנזקי מים ולמזיקי עץ ובעלות עמידות גבוהה במיוחד בפני פגיעות מכניות. אלו הן הדלתות היחידות המגיעות עם תעודת אחריות לתקופה של 8 שנים עבור נזקי מים ומזיקי עץ.
 
כיום, החברה מספקת דלתות ללמעלה מ-35,000 יחידות דיור בשנה (יותר מ-200,000 דלתות), ללקוחות פרטיים ולפרויקטים קבלניים מהמובילים בשוק הנדל”ן.
 
פנדור מעסיקה כ-275 עובדים במפעלים ובמשרדי החברה. לחברה מפעל אוטומטי חדש בקרית גת, המתקדם מסוגו בעולם ומבוסס רובוטיקה. במפעל קו צבע UV אוטומטי לצביעת דלתות פנים היחידי בישראל, המאפשר צביעת דלתות בצבע מים בשיטת UV שעמיד לאורך זמן וכמעט שאינו משנה צבעו בחשיפה לאור.
 
חברת פנדור זוכה כבר 23 פעמים ברציפות בתואר "יצרנית דלתות הפנים הטובות והדקורטיביות ביותר בישראל" בסקרי מכון גיאוקרטוגרפיה בעבור "המבחן של המדינה" (מעודכן ליולי 2016).
כמו כן, בשנת 2011 זכתה פנדור בפרס הראשון בתחרות "לעיצוב, התאמה וחדשנות" מטעם איגוד תעשיות הריהוט בישראל עבור דלת פנים מסדרת "יוניק".
 
בנוסף דורגה פנדור במקום הראשון בפעם ה-5 ברציפות בענף ייצור דלתות הפנים לשנת 2014 עפ"י סקר שערכה חברת BDI (מעודכן לשנת 2014).</div>
        <div class="contentImages">
            <img alt="" src="images/contentDemoPic.jpg" />
            <img alt="" src="images/contentDemoPic.jpg" />
            <img alt="" src="images/contentDemoPic.jpg" />
        </div>
    </div>
</section>