<nav id="nav_panel">
    <div id="nav_wrap">
        <div id="logo_side">
            <a id="logo_imgs" href="/">
                <img alt="" src="images/logo.jpg" id="bigger_logo" />
                <img alt="" src="images/only_door.png" id="minimize_logo" />
            </a>
        </div>

        <div id="centarl_nav" class="header-txt">
            <ul class="header-lang-nav">
                <li><a href="#">HEB</a></li>
                <li><a href="#">ENG</a></li>
                <li><a href="#">RUS</a></li>
            </ul>
            <ul class="header-nav">
                <li><a class="" href="tel:*5058" ><i class="fa fa-phone-square" style="margin:0 5px;"></i>5058
                        *</a></li>
                <li><a href="/catalog">קולקציית פנדור</a></li>
                <li><a href="/contact">שירות לקוחות</a></li>
                <li><a href="/branches">הצעת מחיר</a></li>
            </ul>
        </div>

        <a class="" href="tel:*5058" style="">
            <div id="phone_number_mobile"><i class="fa fa-phone-square" style="margin:0 5px;"></i>5058 *</div>
        </a>

        <div id="nav_side">
            <div id="nav-btn">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
    
        <div class="nav" style="">
            <ul>
                <li class="navLink"><a href="/">עמוד הבית</a></li>
                <li class="navLink"><a href="/aboutus">אודותינו</a></li>
                <li class="navLink"><a href="/catalog">קולקציית פנדור</a></li>
                <li class="navLink"><a href="/gallery">גלריה פרויקטים</a></li>
                <li class="navLink"><a href="/architectslist">ארכיטקטים ומעצבים</a></li>
                </ul>
                <ul>
                <li class="navLink"><a href="/blogs">מעמרים</a></li>
                <li class="navLink"><a href="/comments">לקוחות מספרים</a></li>
                <li class="navLink"><a href="/projectcontact">קבלנים</a></li>
                <li class="navLink"><a href="/branches">סניפים</a></li>
                <li class="navLink"><a href="/contact">צור קשר</a></li>
            </ul>
            <ul id="logo_pandoor_bav_desktop">
                <img alt="" src="images/only_door.png" style="width: 10vh;" />
            </ul>
            <ul class="long" style="text-align: center;">
                <li>
                    <a href="tel:*5058" style=""><i class="fa fa-phone-square" style="margin:0 5px;"></i>5058 *</a>&nbsp;|&nbsp;
                    <a class="mailto" href="mailto:office@pandoor.co.il" style="font-size:3vh;">office<i class="fas fa-at"></i>pandoor.co.il</a>&nbsp;|&nbsp;
                    <a href="https://www.facebook.com/pandoors/" target="_blank"><i class="fab fa-facebook-square"
                            style="font-size:3vh;"></i></a>
                    <a href="https://www.instagram.com/pandoor_doors/" target="_blank"><i class="fab fa-instagram"
                            style="font-size:3vh;"></i></a>
                    <a href="https://www.youtube.com/user/pandoor100" target="_blank"><i class="fab fa-youtube" style="font-size:3vh;"></i></a>
                </li>
            </ul>
            <a class="mobileNavDesignerInfo" href="/architectscontact">
                <span class="click">אדריכל / מעצב?<br /> <b>לחץ כאן</b></span>
                <i class="fas fa-ruler-combined fa-rotate-180"></i>
            </a>

            <i class="fa fa-times xNav" style="font-size:4vh;"></i>

        </div> 

    </div>
</nav>