<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="" src="images/mainsimg/contentMainImgqq.jpg" />
    <h3>דלתות לינו פינו</h3>
    <div class="contentTxt"></div>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>

<section id="wrap_container">
    <div class="container">
        <div class="contentTextContainer">דלתות פנים קולקציית לינופינו הנן דלתות מגורעות (פלץ) אשר עשויות מ- 2 לוחות
            פורמייקה מסוג HPL, ללא MDF. ציפוי הפורמייקה בעל טקסטורה בולטת. הקנט מתואם מ- 3 עבריו - הקדמי, האחורי ודופן
            הצילינדר. תחתית הדלת מכילה קנט פולימרי עבה, בעובי של עד 7 ס"מ, המסייע לעמידות נגד מים. מילוי הדלת הוא
            פלקסבורד. לכל דלת 2 צירי PIPE כפולים בעלי יכולת התכווננות. הדלת מצוידת במנעול מגנטי.

            משקוף הדלת פולימרי מסוג WPC. משקוף זה הנו עמיד למים ולמזיקים, מצופה פורמייקה בגוון זהה לזה של הדלת, ובעל
            אטם סופג תוצרת SCHLEGEL גרמניה. המשקוף מחורץ מ- 2 צדיו. על החריצים שלו ניתן להטמיע הלבשות. האחרונות הנן WPC
            פולימריות מדגם "אקסקלוסיב": חזית בעלת מידת רוחב של 10 ס"מ, צד הצירים ברוחב של כ- 7 ס"מ ובגוון זהה לזה של
            המשקוף.

            להזמנה זו ניתן להוסיף חלונות מסוגים שונים וכן עיטורי פסי מתכת בעלי עיצובים שונים.</div>
        <div class="contentImages">
            <img alt="" src="images/contentDemoPic.jpg" />
        </div>
    </div>
</section>