<% if(Desktop){ %>

<div id="cur_wrap">
    <div class="mySlides cur_animate active" style="background: #000000 url(../images/mainsimg/home-slider-main-demo-picqq.jpg) no-repeat center;"></div>
    <div class="mySlides cur_animate" style="background: #000000 url(../images/mainsimg/home-slider-main-demo-pic2qq.jpg) no-repeat center;"></div>
    <span class="overlay_slides_wrap"></span>
    <span class="slide_inside">
        <img class="door_img" alt="" src="images/home-slider-door-demo-picqq.jpg" style="max-height:98%;" />
        <div class="door_info_container">
            <div>
                <b>דלת יוניק קלאסיק</b> ייחודית מסוגה, עמידה לנזקי מים ובפני מזיקים, ומגיעה עם תעודת אחריות לתקופה
                של 5 שנים עבור נזקים אלו
            </div>
            <a class="pandor-collection-btn" href="#">לקולקצית פנדור</a>
        </div>
        <div class="slider_left_text">
            לחדר השינה שלכם<br />
            <b>פנדור יוניק לינו פינו לבן</b>
        </div>
    </span>
    <span class="slide_inside">
        <img class="door_img" alt="" src="images/home-slider-door-demo-picqq.jpg" style="max-height:98%;" />
        <div class="door_info_container">
            <div>
                <b>דלת blalalal קלאסיק</b> ייחודית מסוגה, עמידה לנזקי מים ובפני מזיקים, ומגיעה עם blalal אחריות לתקופה
                של 5 שנים blalal נזקים אלו
            </div>
            <a class="pandor-collection-btn" href="#">לקולקצית פנדור</a>
        </div>
        <div class="slider_left_text">
            לחדר blalal שלכם<br />
            <b>פנדור יוניק לינו פינו לבן</b>
        </div>
    </span>
</div>

<%} else {%>

<div class="cur_wrap">
    <div class="slideMobile">
        <div class="mySlides cur_animate active" style="background: #000000 url(../images/home-slider-main-demo-pic-mobile.jpg) no-repeat center;background-size: 100%;"></div>
        <div class="mySlides cur_animate" style="background: #000000 url(../images/mainsimg/home-slider-main-demo-pic2qq.jpg) no-repeat center;background-size: 100%;"></div>
        <span class="overlay_slides_wrap"></span>
        <span class="slide_inside">
            <img class="door_img" alt="" src="images/home-slider-door-demo-picqq.jpg" />
            <div class="door_info_container">
                <div>
                    <b>דלת יוניק קלאסיק</b> ייחודית מסוגה, עמידה לנזקי מים ובפני מזיקים, ומגיעה עם תעודת אחריות לתקופה
                    של 5
                    שנים עבור נזקים אלו
                </div>
                <a class="pandor-collection-btn" href="#">לקולקצית פנדור</a>
            </div>
        </span>
        <span class="slide_inside">
            <img class="door_img" alt="" src="images/home-slider-door-demo-picqq.jpg" />
            <div class="door_info_container">
                <div>
                    <b>דלת יוניק blabla</b> ייחודית מסוגה, עמידה לנזקי מים ובפני מזיקים, ומגיעה עם תעודת אחריות לתקופה
                    של 5
                    שנים blalal נזקים אלו
                </div>
                <a class="pandor-collection-btn" href="#">blala פנדור</a>
            </div>
        </span>
    </div>
</div>

<%}%>