<% let Desktop = true%>
<% if(Desktop){ %>

<div id="cur_wrap">
        <div class="mySlides cur_animate active" style="background: #000000 url(../images/home-slider-main-demo-pic.jpg) no-repeat center;"></div>
        <div class="mySlides cur_animate" style="background: #000000 url(../images/home-slider-main-demo-pic2.jpg) no-repeat center;"></div>
        <span class="overlay_slides_wrap"></span>
        <span>
            <img class="door_img" alt="" src="images/home-slider-door-demo-pic.png" style="max-height:98%;" />
            <div class="door_info_container">
                <div>
                    <b>דלת יוניק קלאסיק</b> ייחודית מסוגה, עמידה לנזקי מים ובפני מזיקים, ומגיעה עם תעודת אחריות לתקופה
                    של 5 שנים עבור נזקים אלו
                </div>
                <a class="pandor-collection-btn" href="#">לקולקצית פנדור</a>
            </div>
            <div class="slider_left_text">
                לחדר השינה שלכם<br />
                <b>פנדור יוניק לינו פינו לבן</b>
            </div>
        </span>
    </div>

<%} else {%>

<%}%>
