<h2>מבצעים חמים בפנדור</h2>

<div class="content_sales">
    <div class="left_one">
        <div class="box_one">
            <a href="/sales">
                <img alt="" src="images/demo-pic-home-sale.jpg" />
                <div class="info">
                    <div class="middle"><span>פנדור יוניק קלאסיק</span></div>
                    <div class="sale-btn"></div>
                </div>
            </a>
        </div>
        <div class="box_one">
            <a href="/sales">
                <img alt="" src="images/demo-pic-home-sale.jpg" />
                <div class="info">
                    <div class="middle"><span>פנדור יוניק קלאסיק</span></div>
                    <div class="sale-btn"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="right_one">
        <a href="/sales">
            <img alt="" src="images/demo-pic-home-sale.jpg" />
            <div class="info">
                <div class="middle"><span>פנדור יוניק קלאסיק</span> <br />דלת פנים עמידה למים, במחיר השקה חסר תקדים</div>
                <div class="sale-btn">לפרטים</div>
            </div>
        </a>
    </div>
</div>