<% layout('layoutindex/mainpage') -%>

<section style="background: #f6f6f6;padding: 0;">
    <% include ./carusel %>
</section>
<section class="wrap_container" style="padding:2%;">
<div class="message_carousel">
    <div class="message_slide active">סניפי פנדור עו לסליידר תמונות מתחלפות אני רוצה לעשות בדים כסדרם ב-30/10 יום הבחירות</div>
    <div class="message_slide">מתחת לסליידר תמונות מתחלפות אני רוצה לעשות שורה כתומה כזו עם כותרת בצד ימין</div>
</div>
</section>

<section class="wrap_container">
    <div class="container">
        <% include ./salesonmain %>
    </div>
</section>

<section class="wrap_container">
    <div class="container">
        <h2>מומלצי החודש בפנדור</h2>
        <a href="/door" class="month-recommended-box">
            <img class="home-sale-long" alt="" src="images/door_demo-pic.jpg" />
            <div class="info">
                <span>פנדור יוניק קלאסיק</span>
                  
            </div>
        </a>
        <a href="/door" class="month-recommended-box">
            <img class="home-sale-long" alt="" src="images/door_demo-pic.jpg" />
            <div class="info"><span>פנדור יוניק קלאסיק</span>
                  
            </div>
        </a>
        <a href="/door" class="month-recommended-box">
            <img class="home-sale-long" alt="" src="images/door_demo-pic.jpg" />
            <div class="info"><span>פנדור יוניק קלאסיק</span>
                  
            </div>
        </a>
        <a href="/door" class="month-recommended-box">
            <img class="home-sale-long" alt="" src="images/door_demo-pic.jpg" />
            <div class="info"><span>פנדור יוניק קלאסיק</span>
                  
            </div>
        </a>
    </div>
</section>

<section class="wrap_container">
    <div class="container">
        <h2>לקוחות מספרים</h2>
        <div id="HomeScrollingImagesBlockContainer" class="recommendations-slider" style="position: relative;overflow: hidden;height: 46vh;">
            <div class="scrollingImagesWrapper active" style="width:100%;float:right;position: absolute;">
                <a class="scrollingImageContainer recommendations-box" href="#">
                    <img src="images/Recommendations-demo-pic.jpg" />
                    <span class="client-name">בראד פיט, פתח תקווה</span>
                    <q><span class="comment_wrap">תודה על השירות האדיב, על הוילונות המקסימים. הילדות בעננים, והמתקין נתן שירות מכל הלב. תודה
                        רבה.
                       </span></q>
                </a>
                <a class="scrollingImageContainer recommendations-box" href="#">
                    <img src="images/Recommendations-demo-pic.jpg" />
                    <span class="client-name">בראד פיט, פתח תקווה</span>
                    <q><span class="comment_wrap">תודה על השירות האדיב, על הוילונות המקסימים. הילדות בעננים, והמתקין נתן שירות מכל הלב. תודה
                        רבה.
                        </span></q>
                </a>
            </div>
            <div class="scrollingImagesWrapper" style="width:100%;float:right;position: absolute;left:1200px;">
                <a class="scrollingImageContainer recommendations-box" href="#">
                    <img src="images/Recommendations-demo-pic2.jpg" />
                    <span class="client-name">בראד פיט, פתח תקווה</span>
                    <q><span class="comment_wrap">תודה על השירות האדיב, ודה רבה. </span></q>
                </a>
                <a class="scrollingImageContainer recommendations-box" href="#">
                    <img src="images/Recommendations-demo-pic2.jpg" />
                    <span class="client-name">בראד פיט, פתח תקווה</span>
                    <q><span class="comment_wrap">תודה על השירות האדיב, על הוילונות המקסימים. הילדות בעננים, והמתקין נתן שירות מכל הלב. תודה
                        רבה.
                        תודה על השירות האדיב, על הוילונות המקסימים. הילדות בעננים, והמתקין נתן שירות מכל הלב. תודה
                        רבה.
                        </span></q>
                </a>
            </div>
        </div>
        
        <div>
            <a href="/comments"><input type="button" class="btn_all_pages" value="לכל ההמלצות"></a>
        </div>
    </div>
</section>

<section class="wrap_container">
<div class="container">
    <h2 class="section_title">מעמרים</h2>
    <div class="block_wrap">
        <div class="block_box">
            <a href="/blog">
                <img src="images/demo-pic-home-sale-long.jpg" />
                <div class="block_description">
                    <div class="block_date">15.02</div>
                    <div class="block_title">
                        <h5>בלה בלה בלה</h5>
                        <span>נות המקסימים. הילדות בעננים, והמתקין נתן שירות</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="block_box">
            <a href="/blog">
                <img src="images/demo-pic-home-sale-long.jpg" />
                <div class="block_description">
                    <div class="block_date">15.02</div>
                    <div class="block_title">
                        <h5>בלה בלה בלה</h5>
                        <span>נות המקסימים. הילדות בעננים, והמתקין נתן שירות</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div>
    <a href="/blogs"><input type="button" class="btn_all_pages" value="לכל מעמרים"></a>
</div>
    </div>
</section>