<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="" src="<%= process.env.LINKTOBUCKETS + 'headers/1543475465168-pandoor-contact-page-24.jpg' %>" />
    <h1  tabindex="0">אנחנו מודים על פנייתכם</h1>
    <div class="contentTxt"  tabindex="0">פרטיכם נקלטו במערכת, נציג פנדור ייחזור אליכם בהקדם</div>
</div>

<section id="wrap_container" class="wrap_container">
    <div class="container">
        
    </div>
</section>