<% layout('layoutindex/mainpage') -%>


<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="" src="images/mainsimg/archiDesInfoMainImgqq.jpg" style="filter: brightness(50%);" />
    <h3> קבלן יקר,</h3>
    <div class="contentTxt">אנחנו בפנדור דאגנו להקל ולייעל את כל מערך של עבודה מול אדריכלים <br />מהיום בכל נושא ניתן
        לפנות למייל
        <a style="color:#ff4200;" href="mailto:architect@pandoor.co.il"><b>projects@pandoor.co.il</b></a> ולקבל סיוע
        מיידי ויעיל.<br />
        כמו כן אנחנו זמינים לרשותכם בטלפון:
        <a style="color:#ff4200;" href="tel:03-9555018"><b>03-9555018</b></a>
    </div>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>

<section id="wrap_container" class="wrap_container">
<div class="container">
<div class="contentTextContainer">דלתות פנים קולקציית לינופינו הנן דלתות מגורעות (פלץ) אשר עשויות מ- 2 לוחות
            פורמייקה מסוג HPL, ללא MDF. ציפוי הפורמייקה בעל טקסטורה בולטת. הקנט מתואם מ- 3 עבריו - הקדמי, האחורי ודופן
            הצילינדר. תחתית הדלת מכילה קנט פולימרי עבה, בעובי של עד 7 ס"מ, המסייע לעמידות נגד מים. מילוי הדלת הוא
            פלקסבורד. לכל דלת 2 צירי PIPE כפולים בעלי יכולת התכווננות. הדלת מצוידת במנעול מגנטי.

            משקוף הדלת פולימרי מסוג WPC. משקוף זה הנו עמיד למים ולמזיקים, מצופה פורמייקה בגוון זהה לזה של הדלת, ובעל
            אטם סופג תוצרת SCHLEGEL גרמניה. המשקוף מחורץ מ- 2 צדיו. על החריצים שלו ניתן להטמיע הלבשות. האחרונות הנן WPC
            פולימריות מדגם "אקסקלוסיב": חזית בעלת מידת רוחב של 10 ס"מ, צד הצירים ברוחב של כ- 7 ס"מ ובגוון זהה לזה של
            המשקוף.

            להזמנה זו ניתן להוסיף חלונות מסוגים שונים וכן עיטורי פסי מתכת בעלי עיצובים שונים.</div>
        <div class="contentImages">
            <img alt="" src="images/contentDemoPic.jpg" />
        </div>
</div>
</section>

<section class="wrap_container">
    <div class="" style="width:100%;">
        <div class="container">
            <h2>שאלות נפוצות</h2>
            <button class="accordion_row">Section 1</button>
            <div class="accordion_inside_panel">
                <p>
                    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                    ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                    amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                    odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                </p>
            </div>
            <button class="accordion_row">Section 2</button>
            <div class="accordion_inside_panel">
                <p>
                    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                    purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                    velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                    suscipit faucibus urna.
                </p>
            </div>
            <button class="accordion_row">Section 3</button>
            <div class="accordion_inside_panel">
                <p>
                    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                </p>
                <ul>
                    <li>List item one</li>
                    <li>List item two</li>
                    <li>List item three</li>
                </ul>
            </div>
            <button class="accordion_row">Section 4</button>
            <div class="accordion_inside_panel">
                <p>
                    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                    mauris vel est.
                </p>
                <p>
                    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                    inceptos himenaeos.
                </p>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="wrap_container">
    <div class="container">
        <div class="tbContainer bottom_side">
            <h2>מעוניינ/ת בפרטים נוספים?<b> מלא/י את הטופס:</b></h2>
            <input type="text" class="tb" placeholder="שם מלא:" />
            <input type="text" class="tb" placeholder="טלפון:" />
            <input type="text" class="tb" placeholder="אימייל:" />
            <input type="text" class="tb" placeholder="כתובת:" />
            <input type="text" class="tb" placeholder="תוכן:" />
            <input type="button" class="tb send_btn" value="שליחה" />
        </div>
    </div>
</section>