<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="" src="images/mainsimg/contentMainImgqq.jpg" />
    <h3>דירות בתל אביב</h3>
    <div class="contentTxt">
        <h5>מעצב/ת :</h5><span>גלעד אביב</span><br>
        <h5>פרטים :</h5><span>0525555555</span><br>
        <span>blabla@gmail.com</span><br>
    </div>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>


<section id="wrap_container">
    <div class="container">
        <div>
            <p style="padding: 0 6%;">
                דירת נופש מדהימה בסגנון מודרני בעיצובו של גלעד יצחקי ובכיכובן, איך לא, דלתות פנדור יוניק! "דירת 3 חדרים
                בת 85 מ״ר בצפון הישן של תל אביב. הלקוח תושב חוץ אשר הדירה משמשת לו ולמשפחתו כדירת נופש בביקורים התכופים
                שלהם בארץ ומושכרת לתיירים בהעדרם. השיפוץ היה שיפוץ חלקי והתמקד בעיקר בהשבחת הדירה והתאמתה לצרכי הלקוח
                קרי קונספט דירת נופש דירת נופש! הסגנון המודרני והמינימלסטי השתלב בצורה הרמונית עם הקווים הקלאסים של
                הבית. חדרי השינה נצבעו בפלטת צבעים ים תיכונית יחד עם מסגרות גופי התאורה והשתלבו נהדר עם רצפת החלילה
                הקיימת שעברה חידוש וליטוש. בחדר האורחים הצר והמוארך נכנסה עוד מקלחת וכיור רחצה נוספים הפתוחים לחלל
                ומוגדרים בו על ידי הנמכת התקרה. את מרפסת השמש הנפתחת אל הסלון והמטבח הרחבתי על חשבון שטח לא מנוצל של
                פינת האוכל וחיפיתי בגרניט פורצלן דמוי דק להשגת מראה חם ומזמין. הדלתות מסדרת יוניק של פנדור הוסיפו שלמות
                למראה המודרני והנקי של הדירה." צילום: נדב פקט. עיצוב פנים: גלעד יצחקי.
            </p>
        </div>
        <br>
        
        <div class="project_gallery_row">
            <div class="project_gallery_column">
                <img src="/images/galleryImg/thumbW.jpg" style="width:100%">
                <img src="/images/galleryImg/thumbV.jpg" style="width:100%">
                <img src="/images/galleryImg/thumbW.jpg" style="width:100%">
            </div>
            <div class="project_gallery_column">
                <img src="/images/galleryImg/thumbV.jpg" style="width:100%">
                <img src="/images/galleryImg/thumbW.jpg" style="width:100%">
                <img src="/images/galleryImg/thumbW.jpg" style="width:100%">
            </div>
            <div class="project_gallery_column">
                <img src="/images/galleryImg/thumbW.jpg" style="width:100%">
                <img src="/images/galleryImg/thumbW.jpg" style="width:100%">
                <img src="/images/galleryImg/thumbV.jpg" style="width:100%">
            </div>
        </div>
        <div>
                <input type="button" class="btn_all_pages" value="לכל פרויקטים של אדריכל" /></i>
        </div>
    </div>

      <div id="project_preview_modal" class="preview_modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="preview_image">
      </div>
      
</section>