<div class="container">
        <ul class="footer-nav">
            <li><a href="#">עמוד הבית</a></li>
            <li><a href="#">קולקציית פנדור</a></li>
            <li><a href="#">שירות לקוחות</a></li>
            <li><a href="#">תנאי שימוש</a></li>
            <li><a href="#">צרו קשר</a></li>
        </ul>
        <div class="phoneto-mobile">שירות לקוחות<br />
           <a href="tel:*5058" class="light_style"><i class="fa fa-phone-square" style="margin:0 5px;"></i>5058 *</a>
           <br>
        </div>
        <ul class="social">                    
            <li class="mobile">עיקבו אחרינו ברשת</li>
            <li><a href="#" class="light_style"><i class="fab fa-facebook-square"></i></a></li>
           
        </ul>
        <a class="footerBtn" href="#">לרשימת הסניפים</a>
        <ul class="site-map">
            <li>
                <h3>אולם התצוגה ראשל”צ</h3>
                כתובת: רח' אצ"ל 20<br />
                אזור התעשייה החדש,<br />
                טלפון: 03-9555051
            </li>
            <li>
                <h3>אולם התצוגה ראשל”צ</h3>
                כתובת: רח' אצ"ל 20<br />
                אזור התעשייה החדש,<br />
                טלפון: 03-9555051
            </li>
            <li>
                <h3>אולם התצוגה ראשל”צ</h3>
                כתובת: רח' אצ"ל 20<br />
                אזור התעשייה החדש,<br />
                טלפון: 03-9555051
            </li>
            <li>
                <h3>אולם התצוגה ראשל”צ</h3>
                כתובת: רח' אצ"ל 20<br />
                אזור התעשייה החדש,<br />
                טלפון: 03-9555051
            </li>
            <li>
               <a class="light_style" href="tel:*5058"><i class="fa fa-phone-square" style="margin:0 5px;"></i>5058 *</a>
            </li>
        </ul>
</div>
<div class="footer-bottom-strip">
    <div class="container">
        <span class="pandor-rights">כל הזכויות שמורות לדלתות פנדור ©</span>
    </div>
</div>

<div id="side_sticker" >
    <div class="iconBg"><a href="#"><i class="fas fa-ruler-combined fa-rotate-180"></i></a></div>
    <div class="iconBg"><a href="#"><i class="far fa-heart"></i></a></div>
    <div class="iconBg"><a href="#"><i class="fa fa-phone-square"></i></a></div>
    <div class="iconBg"><a href="#"><i class="fas fa-wheelchair"></i></a></div>

    <div id="closed_sticker_flag" class="<%= !Desktop?'visib':'' %>">
        <div class="small_icons_slider"><i class="fas fa-ruler-combined fa-rotate-180"></i></div><br>
        <div class="small_icons_slider"><i class="far fa-heart"></i></div><br>
        <div class="small_icons_slider"><i class="fas fa-phone-square"></i></div><br>
        <div class="small_icons_slider"><i class="fas fa-wheelchair"></i></i></div>
    </div>
</div>

<a href="javascript:" id="return-to-top"><i></i></a>