<div class="container">
        <ul class="footer-nav">
            <li><a href="#">עמוד הבית</a></li>
            <li><a href="#">קולקציית פנדור</a></li>
            <li><a href="#">שירות לקוחות</a></li>
            <li><a href="#">תנאי שימוש</a></li>
            <li><a href="#">צרו קשר</a></li>
        </ul>
        <div class="phoneto-mobile">שירות לקוחות<br />
            <a class="phoneto mobile" href="phoneto:*5058">5058*</a>
        </div>
        <ul class="social">                    
            <li class="mobile">עיקבו אחרינו ברשת</li>
            <li><a href="#"><img src="images/footer_logo4.png" /></a></li>
            <li><a href="#"><img src="images/footer_logo3.png" /></a></li>
            <li><a href="#"><img src="images/footer_logo2.png" /></a></li>
            <li><a href="#"><img src="images/footer_logo1.png" /></a></li>
        </ul>
        <a class="footerBtn" href="#">לרשימת הסניפים</a>
        <ul class="site-map">
            <li>
                <h3>אולם התצוגה ראשל”צ</h3>
                כתובת: רח' אצ"ל 20<br />
                אזור התעשייה החדש,<br />
                טלפון: 03-9555051
            </li>
            <li>
                <h3>אולם התצוגה ראשל”צ</h3>
                כתובת: רח' אצ"ל 20<br />
                אזור התעשייה החדש,<br />
                טלפון: 03-9555051
            </li>
            <li>
                <h3>אולם התצוגה ראשל”צ</h3>
                כתובת: רח' אצ"ל 20<br />
                אזור התעשייה החדש,<br />
                טלפון: 03-9555051
            </li>
            <li>
                <h3>אולם התצוגה ראשל”צ</h3>
                כתובת: רח' אצ"ל 20<br />
                אזור התעשייה החדש,<br />
                טלפון: 03-9555051
            </li>
            <li>
                <img alt="דלתות פנדור" src="images/footer_pandor_logo.png" /><br />
                <a class="phoneto" href="phoneto:*5058">5058<span>*</span></a>
            </li>
        </ul>
</div>
<div class="footer-bottom-strip">
    <div class="container">
        <span class="pandor-rights">כל הזכויות שמורות לדלתות פנדור ©</span>
    </div>
</div>