<% let Desktop = true%>
<% if(Desktop){ %>

<h2>מבצעים חמים בפנדור</h2>
<a href="#" class="sale-box big" style="width: calc(65.6666% - 15px);margin-left: 19px;">
    <img class="home-sale-long" alt="" src="images/demo-pic-home-sale-long.jpg" />
    <div class="info">
        <div class="middle"><span>פנדור יוניק קלאסיק</span> <br />דלת פנים עמידה למים, במחיר השקה חסר תקדים</div>
        <div class="sale-btn">לפרטים</div>
    </div>
</a>

<a href="#" class="sale-box small" style="margin-left: 15px;">
    <img class="home-sale-long" alt="" src="images/demo-pic-home-sale.jpg" />
    <div class="info">
        <div class="middle"><span>פנדור יוניק קלאסיק</span></div>
        <div class="sale-btn"></div>
    </div>
</a>

<a href="#" class="sale-box small" style="margin-left: 15px;">
    <img class="home-sale-long" alt="" src="images/demo-pic-home-sale.jpg" />
    <div class="info">
        <div class="middle"><span>פנדור יוניק קלאסיק</span></div>
        <div class="sale-btn"></div>
    </div>
</a>

<a href="#" class="sale-box small" style="margin-left: 15px;">
    <img class="home-sale-long" alt="" src="images/demo-pic-home-sale.jpg" />
    <div class="info">
        <div class="middle"><span>פנדור יוניק קלאסיק</span></div>
        <div class="sale-btn"></div>
    </div>
</a>

<a href="#" class="sale-box small" style="margin-left: 15px;">
    <img class="home-sale-long" alt="" src="images/demo-pic-home-sale.jpg" />
    <div class="info">
        <div class="middle"><span>פנדור יוניק קלאסיק</span></div>
        <div class="sale-btn"></div>
    </div>
</a>


<%} else {%>

<%}%>