<!DOCTYPE html>
<html>
<head>
    <title>דלתות פנדור – חברת הדלתות מספר 1 בישראל</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carusel.css" />
</head>
<body>
    <div id="fb-root"></div>
    <div id="preload" style="display:none;">
        <img src="/images/orangNavIcon.png" width="1" height="1" alt="Image 01" />
    </div>
        <header id="nav_warp">
            <% include ./navbar %>    
        </header>
        <section style="all: unset;padding:0;">
               <% include ./startpage %>
       </section>
        <footer>
           <% include ./footer %>
        </footer>
        <section style="all: unset;">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
            <script src="/javascript/general.js"></script>
        </section>
</body>
</html>
