
<nav id="nav_panel">
<a class="logo" href="http://localhost:3000">
    <span class="logo-hover">
        <img alt="" src="images/logo.jpg" id="bigger_logo"/>
        <img alt="" src="images/only_door.png" id="minimize_logo" style=""/>
    </span>
</a>
        
        <div id="nav-btn">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="nav">
            <ul>
                <li class="header">תפריט ראשי</li>                        
                <li class="navLink"><a href="Default.aspx">עמוד הבית</a></li>
                <li class="navLink"><a href="contact.aspx">צור קשר</a></li>
                <li class="navLink"><a href="content.aspx">תוכן</a></li>
                <li class="navLink"><a href="arcitectDesignerInfo.aspx">ארכיטקטים ומעצבים</a></li>                        
            </ul>
            <ul>
                <li class="header">123</li>
                <li class="navLink"><a href="catalog.aspx">קטלוג</a></li>
                <li class="navLink"><a href="catalogInside.aspx">קטלוג פנימי</a></li>
                <li class="navLink"><a href="gallery.aspx">גלריה</a></li>
                <li class="navLink"><a href="pandorOffer.aspx">סניפים</a></li>
            </ul>
            <ul>
                <li class="header">123</li>
                <li class="navLink"><a href="#">123</a></li>
                <li class="navLink"><a href="#">123</a></li>
                <li class="navLink"><a href="#">123</a></li>
                <li class="navLink"><a href="#">123</a></li>
            </ul>
            <ul class="long">
                <li class="header">123</li>
                <li>
                    <a class="phoneto" href="phoneto:*5058">5058<span>*</span></a> 
                    <a class="mailto" href="mailto:office@pandoor.co.il">office@pandoor.co.il</a>  
                    <ul class="social">                    
                        <li><a href="#"><img src="images/logo1_Dark.png" /></a></li>
                        <li><a href="#"><img src="images/logo2_Dark.png" /></a></li>
                        <li><a href="#"><img src="images/logo3_Dark.png" /></a></li>
                        <li><a href="#"><img src="images/logo4_Dark.png" /></a></li>
                    </ul>
                </li>
            </ul>
            <a class="mobileNavDesignerInfo" href="arcitectDesignerInfo.aspx"><span class="click">אדריכל / מעצב?<br /> <b>לחץ כאן</b></span><img src="images/archiIcon.png" /></a>
            <img alt="סגור" title="סגור" src="images/xNav.png" class="xNav" />
        </div>
        <div class="header-txt">
            <ul class="header-lang-nav">
                <li><a href="#">HEB</a></li>
                <li><a href="#">ENG</a></li>
                <li><a href="#">RUS</a></li>
            </ul>
            <ul class="header-nav">
                <li><a href="catalog.aspx">קולקציית פנדור</a></li>
                <li><a href="contact.aspx">שירות לקוחות</a></li>
                <li><a href="pandorOffer.aspx">אולמות תצוגה</a></li>
            </ul>
            <a class="" href="phoneto:*5058"><i class="fal fa-phone-square"></i>5058</a>                
        </div>
</nav>
