<section style="background: #f6f6f6;padding: 0">
    <div style="position:relative;">

        <img class="mySlides cur_animate-fading" src="images/home-slider-main-demo-pic.jpg" style="width:100%;">
        <img class="mySlides cur_animate-fading" src="images/home-slider-main-demo-pic2.jpg" style="width:100%;">

        <span class="overlay_new"></span>
        <span>
            <img class="door_img" alt="" src="images/home-slider-door-demo-pic.png" />
            <div class="door_info_container">
                <div>
                    <b>דלת יוניק קלאסיק</b> ייחודית מסוגה, עמידה לנזקי מים ובפני מזיקים, ומגיעה עם תעודת אחריות לתקופה
                    של 5 שנים עבור נזקים אלו
                </div>
                <a class="pandor-collection-btn" href="#">לקולקצית פנדור</a>
            </div>
            <div class="slider-txt">
                לחדר השינה שלכם<br />
                <b>פנדור יוניק לינו פינו לבן</b>
            </div>
        </span>
    </div>
</section>


<section>
    <div class="container">
        <h2>מבצעים חמים בפנדור</h2>
        <a href="#" class="sale-box decktop"><img class="home-sale-long" alt="" src="images/demo-pic-home-sale-long.jpg" />
            <div class="info">
                <div class="middle"><span>פנדור יוניק קלאסיק</span> <br />דלת פנים עמידה למים, במחיר השקה חסר תקדים
                </div>
                <div class="sale-btn">לפרטים</div>
            </div>
        </a>
        <a href="#" class="sale-box tablet small"><img class="home-sale-long" alt="" src="images/demo-pic-home-sale.jpg" />
            <div class="info">
                <div class="middle"><span>פנדור יוניק קלאסיק</span></div>
                <div class="sale-btn"></div>
            </div>
        </a>
        <a href="#" class="sale-box mobile small"><img class="home-sale-long" alt="" src="images/demo-pic-home-sale-mobile.jpg" />
            <div class="info">
                <div class="middle"><span>פנדור יוניק קלאסיק</span> <br />דלת פנים עמידה למים, במחיר השקה חסר תקדים</div>
                <div class="sale-btn"></div>
            </div>
        </a>
        <a href="#" class="sale-box small"><img class="home-sale-long" alt="" src="images/demo-pic-home-sale.jpg" />
            <div class="info">
                <div class="middle"><span>פנדור יוניק קלאסיק</span></div>
                <div class="sale-btn"></div>
            </div>
        </a>
        <a href="#" class="sale-box mobile small"><img class="home-sale-long" alt="" src="images/demo-pic-home-sale-mobile.jpg" />
            <div class="info">
                <div class="middle"><span>פנדור יוניק קלאסיק</span> <br />דלת פנים עמידה למים, במחיר השקה חסר תקדים</div>
                <div class="sale-btn"></div>
            </div>
        </a>
        <a href="#" class="sale-box small"><img class="home-sale-long" alt="" src="images/demo-pic-home-sale.jpg" />
            <div class="info">
                <div class="middle"><span>פנדור יוניק קלאסיק</span></div>
                <div class="sale-btn"></div>
            </div>
        </a>
        <a href="#" class="sale-box mobile small"><img class="home-sale-long" alt="" src="images/demo-pic-home-sale-mobile.jpg" />
            <div class="info">
                <div class="middle"><span>פנדור יוניק קלאסיק</span> <br />דלת פנים עמידה למים, במחיר השקה חסר תקדים</div>
                <div class="sale-btn"></div>
            </div>
        </a>
        <a href="#" class="sale-box small"><img class="home-sale-long" alt="" src="images/demo-pic-home-sale.jpg" />
            <div class="info">
                <div class="middle"><span>פנדור יוניק קלאסיק</span></div>
                <div class="sale-btn"></div>
            </div>
        </a>
        <a href="#" class="sale-box mobile small"><img class="home-sale-long" alt="" src="images/demo-pic-home-sale-mobile.jpg" />
            <div class="info">
                <div class="middle"><span>פנדור יוניק קלאסיק</span> <br />דלת פנים עמידה למים, במחיר השקה חסר תקדים</div>
                <div class="sale-btn"></div>
            </div>
        </a>
        <a href="#" class="sale-box small"><img class="home-sale-long" alt="" src="images/demo-pic-home-sale.jpg" />
            <div class="info">
                <div class="middle"><span>פנדור יוניק קלאסיק</span></div>
                <div class="sale-btn"></div>
            </div>
        </a>
        <a href="#" class="sale-box mobile small"><img class="home-sale-long" alt="" src="images/demo-pic-home-sale-mobile.jpg" />
            <div class="info">
                <div class="middle"><span>פנדור יוניק קלאסיק</span> <br />דלת פנים עמידה למים, במחיר השקה חסר תקדים</div>
                <div class="sale-btn"></div>
            </div>
        </a>
    </div>
</section>
<section>
    <div class="container">
        <h2>מומלצי החודש בפנדור</h2>
        <a href="#" class="month-recommended-box"><img class="home-sale-long" alt="" src="images/door_demo-pic.jpg" />
            <div class="info"><span>פנדור יוניק קלאסיק</span>
                <div class="sale-btn"></div>
            </div>
        </a>
        <a href="#" class="month-recommended-box"><img class="home-sale-long" alt="" src="images/door_demo-pic.jpg" />
            <div class="info"><span>פנדור יוניק קלאסיק</span>
                <div class="sale-btn"></div>
            </div>
        </a>
        <a href="#" class="month-recommended-box"><img class="home-sale-long" alt="" src="images/door_demo-pic.jpg" />
            <div class="info"><span>פנדור יוניק קלאסיק</span>
                <div class="sale-btn"></div>
            </div>
        </a>
        <a href="#" class="month-recommended-box"><img class="home-sale-long" alt="" src="images/door_demo-pic.jpg" />
            <div class="info"><span>פנדור יוניק קלאסיק</span>
                <div class="sale-btn"></div>
            </div>
        </a>
    </div>
</section>
<section>
    <div class="container recommendations">
        <h2>לקוחות מספרים</h2>
        <div id="HomeScrollingImagesBlockContainer" class="recommendations-slider" data-cycle-swipe="true">
            <div class="scrollingImagesWrapper" style="width:100%;float:right;">
                <a class="scrollingImageContainer recommendations-box" href="#">
                    <img src="images/Recommendations-demo-pic.jpg" />
                    <q>תודה על השירות האדיב, על הוילונות המקסימים. הילדות בעננים, והמתקין נתן שירות מכל הלב. תודה רבה.
                        <span class="client-name">בראד פיט, פתח תקווה</span></q>
                </a>
                <a class="scrollingImageContainer recommendations-box" href="#">
                    <img src="images/Recommendations-demo-pic.jpg" />
                    <q>תודה על השירות האדיב, על הוילונות המקסימים. הילדות בעננים, והמתקין נתן שירות מכל הלב. תודה רבה.
                        <span class="client-name">בראד פיט, פתח תקווה</span></q>
                </a>
            </div>
            <div class="scrollingImagesWrapper" style="width:100%;float:right;">
                <a class="scrollingImageContainer recommendations-box" href="#">
                    <img src="images/Recommendations-demo-pic2.jpg" />
                    <q>תודה על השירות האדיב, ודה רבה. <span class="client-name">בראד פיט, פתח תקווה</span></q>
                </a>
                <a class="scrollingImageContainer recommendations-box" href="#">
                    <img src="images/Recommendations-demo-pic2.jpg" />
                    <q>תודה על השירות האדיב, על הוילונות המקסימים. הילדות בעננים, והמתקין נתן שירות מכל הלב. תודה רבה.
                        תודה על השירות האדיב, על הוילונות המקסימים. הילדות בעננים, והמתקין נתן שירות מכל הלב. תודה רבה.
                        <span class="client-name">בראד פיט, פתח תקווה</span></q>
                </a>
            </div>
        </div>
        <a class="sale-btn" href="#">לכל ההמלצות</a>
    </div>
</section>