<% layout('layoutindex/mainpage') -%>

<div class="arcitectDesignerInfo">
    <div class="contentMainImgContainer">
        <img class="contentMainImg" alt="" src="images/mainsimg/archiDesInfoMainImgqq.jpg" />
        <h3>ארכיטקטים ומעצבים</h3>
        <div class="contentTxt"></div>
        <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
    </div>
    <section id="wrap_container" class="wrap_container">
        <div class="container">
            <h2>רשימת אדריכלים</h2>
            <div style="margin-bottom: 5vh;">
                <table id="architects_tb">
                    <tbody>
                        <tr onclick="window.open('/architect', '_self')">
                            <td class="architect_logo">
                                <img src="https://static.wixstatic.com/media/ed72e6_dae759ecd3e74db5b17a42b2e29e892e~mv2.jpg/v1/fill/w_65,h_57,al_c,q_80,usm_1.20_1.00_0.01/ed72e6_dae759ecd3e74db5b17a42b2e29e892e~mv2.webp"
                                    alt="" />
                            </td>
                            <td class="architect_name">גלית אשמן עיצוב פנים</td>
                            <td class="architect_description">בנייה או שיפוץ בית יכולים להיות חוויה נעימה, מלווה ביצירה
                                משותפת, הגשמה והתרגשות,
                                כשהמטרה ליצור את הבית שיגשים את החלומות והצרכים שלכם. אני רואה בתהליך ערך וחשיבות לא
                                פחותים מהתוצאה.
                            </td>
                            <td class="architect_contacts">
                                <b> info@gainteriordesign.com </b><br>
                                <b> טל: 054-9421988</b>
                            </td>
                        </tr>
                        <tr onclick="window.open('/architect', '_self')">
                            <td class="architect_logo">
                                <img src="https://static.wixstatic.com/media/ed72e6_dae759ecd3e74db5b17a42b2e29e892e~mv2.jpg/v1/fill/w_65,h_57,al_c,q_80,usm_1.20_1.00_0.01/ed72e6_dae759ecd3e74db5b17a42b2e29e892e~mv2.webp"
                                    alt="" />
                            </td>
                            <td class="architect_name">גלית אשמן עיצוב פנים</td>
                            <td class="architect_description">בנייה או שיפוץ בית יכולים להיות חוויה נעימה, מלווה ביצירה
                                משותפת, הגשמה והתרגשות,
                                כשהמטרה ליצור את הבית שיגשים את החלומות והצרכים שלכם. אני רואה בתהליך ערך וחשיבות לא
                                פחותים מהתוצאה.
                            </td>
                            <td class="architect_contacts">
                                <b> info@gainteriordesign.com </b><br>
                                <b> טל: 054-9421988</b>
                            </td>
                        </tr>
                        <tr onclick="window.open('/architect', '_self')">
                            <td class="architect_logo">
                                <img src="https://static.wixstatic.com/media/ed72e6_dae759ecd3e74db5b17a42b2e29e892e~mv2.jpg/v1/fill/w_65,h_57,al_c,q_80,usm_1.20_1.00_0.01/ed72e6_dae759ecd3e74db5b17a42b2e29e892e~mv2.webp"
                                    alt="" />
                            </td>
                            <td class="architect_name">גלית אשמן עיצוב פנים</td>
                            <td class="architect_description">בנייה או שיפוץ בית יכולים להיות חוויה נעימה, מלווה ביצירה
                                משותפת, הגשמה והתרגשות,
                                כשהמטרה ליצור את הבית שיגשים את החלומות והצרכים שלכם. אני רואה בתהליך ערך וחשיבות לא
                                פחותים מהתוצאה.
                            </td>
                            <td class="architect_contacts">
                                <b> info@gainteriordesign.com </b><br>
                                <b> טל: 054-9421988</b>
                            </td>
                        </tr>
                        <tr onclick="window.open('/architect', '_self')">
                            <td class="architect_logo">
                                <img src="https://static.wixstatic.com/media/ed72e6_dae759ecd3e74db5b17a42b2e29e892e~mv2.jpg/v1/fill/w_65,h_57,al_c,q_80,usm_1.20_1.00_0.01/ed72e6_dae759ecd3e74db5b17a42b2e29e892e~mv2.webp"
                                    alt="" />
                            </td>
                            <td class="architect_name">גלית אשמן עיצוב פנים</td>
                            <td class="architect_description">בנייה או שיפוץ בית יכולים להיות חוויה נעימה, מלווה ביצירה
                                משותפת, הגשמה והתרגשות,
                                כשהמטרה ליצור את הבית שיגשים את החלומות והצרכים שלכם. אני רואה בתהליך ערך וחשיבות לא
                                פחותים מהתוצאה.
                            </td>
                            <td class="architect_contacts">
                                <b> info@gainteriordesign.com </b><br>
                                <b> טל: 054-9421988</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="num_pages_wrap">
                <div class="num_page_btn">1</div>
                <div class="num_page_btn">2</div>
                <div class="num_page_btn">3</div>
                <div class="num_page_btn">4</div>
                <div class="num_page_btn">...</div>
                <div class="num_page_btn">&gt;</div>
            </div>
        </div>
    </section>