<div class="contactForm" style="z-index: 0;margin-top: 5vh;">
    <img class="contactMainImg" alt="" src="images/pandorOfferBg.jpg" />
    <h2>מעוניינים לקבל הצעת מחיר?</h2>
    <div class="contactTxt">השאירו פרטים ואנחנו נשמח לחזור אליכם בהקדם האפשרי!</div>
    <div class="tbContainer">
        <input type="text" class="tb tb3" placeholder="שם מלא:" />
        <input type="text" class="tb tb3" placeholder="טלפון:" />
        <input type="text" class="tb tb3" placeholder="אימייל:" />
        <input type="text" class="tb tb2" placeholder="כתובת:" />
        <input type="text" class="tb tb2 floatL" placeholder="תוכן:" />
        <input type="button" class="sale-btn" value="שליחה" style="color:#ffffff;" />
    </div>
</div>
<div class="infoContact">
    <div class="container">
        <div class="branchInfo">
            <div class="infoContactBox">
                <img src="images/contactIconsTime.png" />
                <span>
                    <b>שעות פעילות</b><br />
                    א'-ה' 09:00-18:00<br />
                    יום ו': 9:00-13:00
                </span>
            </div>
            <div class="infoContactBox">
                <img src="images/contactIconsMap.png" />
                <span>
                    <b>כתובת</b><br />
                    ישראל פולק 44<br />
                    קרית גת
                </span>
            </div>
            <div class="infoContactBox">
                <img src="images/contactIconsEmail.png" />
                <span>
                    <b>אימייל</b><br />
                    <a href="mailto:sp@pandoor.co.il">sp@pandoor.co.il</a>
                </span>
            </div>
            <div class="infoContactBox">
                <img src="images/contactIconsPhone.png" />
                <span>
                    <b>טלפון</b> <a href="tel:03-9555034">03-9555034</a><br />
                    <b>פקס</b> 08-6869997<br />

                </span>
            </div>
            <div class="infoContactBox">
                <div style="display:inline-block">
                    <h3>אולם התצוגה ראשל”צ</h3>
                    <span style="vertical-align: sub;"><b>כתובת:</b>ישראל פולק 44 קרית גת</span>
                    <div style="display: inline-flex;">
                        <img src="images/icon-waze.png" />
                        <img src="images/icon-google-maps.png" />
                    </div>
                </div>
            </div>
            <div class="infoContactBox">
                <div>
                    <h3>אולם התצוגה נתניה</h3>
                    <span style="vertical-align: sub;"><b>כתובת:</b>ישראל פולק 44 קרית גת</span>
                    <div style="display: inline-flex;">
                        <img src="images/icon-waze.png" />
                        <img src="images/icon-google-maps.png" />
                    </div>
                </div>
            </div>
            <div class="infoContactBox">
                <div>
                    <h3>אולם התצוגה בני ברק</h3>
                    <span style="vertical-align: sub;"><b>כתובת:</b>ישראל פולק 44 קרית גת</span>
                    <div style="display: inline-flex;">
                        <img src="images/icon-waze.png" />
                        <img src="images/icon-google-maps.png" />
                    </div>
                </div>
            </div>
            <div class="infoContactBox">
                <div>
                    <h3>אולם התצוגה קרית גת</h3>
                    <span style="vertical-align: sub;"><b>כתובת:</b>ישראל פולק 44 קרית גת</span>
                    <div style="display: inline-flex;">
                        <img src="images/icon-waze.png" />
                        <img src="images/icon-google-maps.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="branchesMap">
            <div id="tag_on_map_bnay_brak">
                <div>
                    <div class="dialogbubbl_left">
                        <b>בני ברק</b>
                    </div>
                </div>
            </div>
            <div id="tag_on_map_kriayt_gat">
                <div>
                    <div class="dialogbubbl_left">
                        <b>קרית גת</b>
                    </div>
                </div>
            </div>
            <div id="tag_on_map_natania">
                <div>
                    <div class="dialogbubbl_right">
                        <b>נתניה</b>
                    </div>
                </div>
            </div>
            <div id="tag_on_map_rashlatz">
                <div>
                    <div class="dialogbubbl_right">
                        <span>ראשל"צ<br /><b>הנהלת פנדור</b></span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="faq offers">
    <div class="container">
        <h2>היכן עוד אפשר למצוא דלתות פנדור?</h2>
        <div class="txt">שילוב של ידע וניסיון רב שנים, שימוש בחומרים מהשורה הראשונה ובאמצעים האיכותיים והמתקדמים ביותר,
            תורמים להיותה יצרנית דלתות הפנים הגדולה בישראל.</div>
        <div class="accordionContainer">
            <button class="accordion_row">
                <h3>איזור <b>הצפון</b></h3>
            </button>
            <div class="accordion_inside_panel">
                <div>
                    <span class="brancheName"><b>חדרה</b><br />דלתות רון</span>
                    <span class="addresInfo"><b>כתובת:</b>
                        ישראל פולק 44 קרית גת<br />
                        <a href="https://www.waze.com/ul?ll=31.99031540%2C34.76359606&navigate=yes&zoom=17">
                            <img src="images/icon-waze.png" />
                        </a>
                        <a href="#">
                            <img src="images/icon-google-maps.png" />
                        </a>
                    </span>
                    <span class="addres"><span class="phoneInfo"><b>טלפון:</b>04-8450726</span></span>
                </div>

                <hr>

                <div>
                    <span class="brancheName"><b>חדרה</b><br />דלתות רון</span>
                    <span class="addresInfo"><b>כתובת:</b>
                        ישראל פולק 44 קרית גת<br />
                        <a href="https://www.waze.com/ul?ll=31.99031540%2C34.76359606&navigate=yes&zoom=17">
                            <img src="images/icon-waze.png" />
                        </a>
                        <a href="#">
                            <img src="images/icon-google-maps.png" />
                        </a>
                    </span>
                    <span class="addres"><span class="phoneInfo"><b>טלפון:</b>04-8450726</span></span>
                </div>
            </div>

            <button class="accordion_row">
                <h3>איזור <b>השרון</b></h3>
            </button>
            <div class="accordion_inside_panel">
                <div>
                    <span class="brancheName"><b>חדרה</b><br />דלתות רון</span>
                    <span class="addresInfo"><b>כתובת:</b>
                        ישראל פולק 44 קרית גת<br />
                        <a href="https://www.waze.com/ul?ll=31.99031540%2C34.76359606&navigate=yes&zoom=17">
                            <img src="images/icon-waze.png" />
                        </a>
                        <a href="#">
                            <img src="images/icon-google-maps.png" />
                        </a>
                    </span>
                    <span class="addres"><span class="phoneInfo"><b>טלפון:</b>04-8450726</span></span>
                </div>

                <hr>

                <div>
                    <span class="brancheName"><b>חדרה</b><br />דלתות רון</span>
                    <span class="addresInfo"><b>כתובת:</b>
                        ישראל פולק 44 קרית גת<br />
                        <a href="https://www.waze.com/ul?ll=31.99031540%2C34.76359606&navigate=yes&zoom=17">
                            <img src="images/icon-waze.png" />
                        </a>
                        <a href="#">
                            <img src="images/icon-google-maps.png" />
                        </a>
                    </span>
                    <span class="addres"><span class="phoneInfo"><b>טלפון:</b>04-8450726</span></span>
                </div>
            </div>

            <button class="accordion_row">
                <h3>איזור <b>ירושליים והסביבה</b></h3>
            </button>
            <div class="accordion_inside_panel">
                <div>
                    <span class="brancheName"><b>חדרה</b><br />דלתות רון</span>
                    <span class="addresInfo"><b>כתובת:</b>
                        ישראל פולק 44 קרית גת<br />
                        <a href="https://www.waze.com/ul?ll=31.99031540%2C34.76359606&navigate=yes&zoom=17">
                            <img src="images/icon-waze.png" />
                        </a>
                        <a href="#">
                            <img src="images/icon-google-maps.png" />
                        </a>
                    </span>
                    <span class="addres"><span class="phoneInfo"><b>טלפון:</b>04-8450726</span></span>
                </div>

                <hr>

                <div>
                    <span class="brancheName"><b>חדרה</b><br />דלתות רון</span>
                    <span class="addresInfo"><b>כתובת:</b>
                        ישראל פולק 44 קרית גת<br />
                        <a href="https://www.waze.com/ul?ll=31.99031540%2C34.76359606&navigate=yes&zoom=17">
                            <img src="images/icon-waze.png" />
                        </a>
                        <a href="#">
                            <img src="images/icon-google-maps.png" />
                        </a>
                    </span>
                    <span class="addres"><span class="phoneInfo"><b>טלפון:</b>04-8450726</span></span>
                </div>
            </div>

            <button class="accordion_row">
                <h3>איזור <b>הדרום</b></h3>
            </button>
            <div class="accordion_inside_panel">
                <div>
                    <span class="brancheName"><b>חדרה</b><br />דלתות רון</span>
                    <span class="addresInfo"><b>כתובת:</b>
                        ישראל פולק 44 קרית גת<br />
                        <a href="https://www.waze.com/ul?ll=31.99031540%2C34.76359606&navigate=yes&zoom=17">
                            <img src="images/icon-waze.png" />
                        </a>
                        <a href="#">
                            <img src="images/icon-google-maps.png" />
                        </a>
                    </span>
                    <span class="addres"><span class="phoneInfo"><b>טלפון:</b>04-8450726</span></span>
                </div>

                <hr>

                <div>
                    <span class="brancheName"><b>חדרה</b><br />דלתות רון</span>
                    <span class="addresInfo"><b>כתובת:</b>
                        ישראל פולק 44 קרית גת<br />
                        <a href="https://www.waze.com/ul?ll=31.99031540%2C34.76359606&navigate=yes&zoom=17">
                            <img src="images/icon-waze.png" />
                        </a>
                        <a href="#">
                            <img src="images/icon-google-maps.png" />
                        </a>
                    </span>
                    <span class="addres"><span class="phoneInfo"><b>טלפון:</b>04-8450726</span></span>
                </div>
            </div>

            <button class="accordion_row">
                <h3>איזור <b>השפלה</b></h3>
            </button>
            <div class="accordion_inside_panel">
                <div>
                    <span class="brancheName"><b>חדרה</b><br />דלתות רון</span>
                    <span class="addresInfo"><b>כתובת:</b>
                        ישראל פולק 44 קרית גת<br />
                        <a href="https://www.waze.com/ul?ll=31.99031540%2C34.76359606&navigate=yes&zoom=17">
                            <img src="images/icon-waze.png" />
                        </a>
                        <a href="#">
                            <img src="images/icon-google-maps.png" />
                        </a>
                    </span>
                    <span class="addres"><span class="phoneInfo"><b>טלפון:</b>04-8450726</span></span>
                </div>

                <hr>

                <div>
                    <span class="brancheName"><b>חדרה</b><br />דלתות רון</span>
                    <span class="addresInfo"><b>כתובת:</b>
                        ישראל פולק 44 קרית גת<br />
                        <a href="https://www.waze.com/ul?ll=31.99031540%2C34.76359606&navigate=yes&zoom=17">
                            <img src="images/icon-waze.png" />
                        </a>
                        <a href="#">
                            <img src="images/icon-google-maps.png" />
                        </a>
                    </span>
                    <span class="addres"><span class="phoneInfo"><b>טלפון:</b>04-8450726</span></span>
                </div>
            </div>
        </div>
        <div class="txt">
            *כל מפיץ מורשה ברשימה הוא סוחר עצמאי, הקונה את המוצרים מפנדור על חשבונו ומוכר אותם בשמו ועל אחריותו.<br />

            **ברכישה ממפיץ מורשה של מוצרי פנדור, המפיץ הוא הגורם האחראי להתקנה, לשירות וכיוצ"ב, ולא פנדור.
        </div>
    </div>
</div>