<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="תמונת רקע" src="<%= process.env.LINKTOBUCKETS + Page.Header.LinkToBucket + Page.Header.ImageId %>" />
    <h1 tabindex="0"><%- Page.Header.Title %></h1>
    <div class="contentTxt" tabindex="0"><%- Page.Header.SubTitleHtml %></div>
    <% if(Desktop){ %>
    <div tabindex="0" class="contentTxt">לקביעת פגישה השאירו פרטים ונחזור אליכם בהקדם!</div>
    <div class="tbContainer">
        <form class="clientcomment_form" action="/priceoffer" method="post" >
            <input type="text" class="tb form_input" name="Name" placeholder="שם מלא:" />
            <input type="text" class="tb form_input" name="PhoneNumber" placeholder="טלפון:" />
            <input type="text" class="tb form_input" name="Email" placeholder="אימייל:" />
            <input type="text" class="tb form_input" name="City" placeholder="עיר:" />
            <input type="submit" class="tb send_btn" value="שליחה"  />
        </form>
    </div>
    <%}%>
    <span data-scrollto="bottom_side_form" class="event_scroll_to_el to_form_section">מעוניינים לקבל הצעת מחיר</span>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>

<section id="wrap_container" class="wrap_container" style="background:#f5f5f5;">
    <div class="container">
        <h2 tabindex="0">דלתות פנדור סניפים - דרכי ההגעה לאולמות התצוגה שלנו</h2>
        <p class="section_text" tabindex="0">
            אנו מזמינים את קהל לקוחתינו הרב להתרשם מקרוב ממבחר הקולקציות הענק והאיכותי שלנו בכל אחד מ-5 אולמות התצוגה
            הנוחים והמעוצבים של חברת פנדור. אנו מתחייבים בפניכם לשירות לקוחות אמין ובלתי מתפשר בכל אחד מסניפי פנדור.</p>
        <br>
        <% include selfbranches.ejs %>
    </div>
</section>
<section id="wrap_container" class="wrap_container">
    <div class="container">
        <h2 tabindex="0">היכן עוד אפשר למצוא דלתות פנדור?</h2>
        <% include externalbranches %>
    </div>
</section>

<% if(!Desktop){%>
<section id="bottom_side_form" class="wrap_container">
    <div class="container">
        <h2>לקביעת פגישה השאירו פרטים ונחזור אליכם בהקדם!</h2>
        <div class="tbContainer bottom_side">
            <form class="clientcomment_form" action="/priceoffer" method="post" >
                <input type="text" class="tb form_input" name="Name" placeholder="שם מלא:" />
                <input type="text" class="tb form_input" name="PhoneNumber" placeholder="טלפון:" />
                <input type="text" class="tb form_input" name="Email" placeholder="אימייל:" />
                <input type="text" class="tb form_input" name="City" placeholder="עיר:" />
                <input type="submit" class="tb send_btn" value="שליחה"/>
            </form>
        </div>
    </div>
</section>
<%}%>