<% layout('adminpanel/index') -%>

<h2 class="title_wrap">
<%- title %>
</h2>
<div>
<button class="btn_class radio_btn_buckets active" data-bucket="generals">תמונות כלליות</button>
<button class="btn_class radio_btn_buckets" data-bucket="headers">תמונות כותרת</button>
<button class="btn_class radio_btn_buckets" data-bucket="doors">תמונות דלתות</button>
<button class="btn_class radio_btn_buckets" data-bucket="sales">תמונות מבצעים</button>
<button class="btn_class radio_btn_buckets" data-bucket="blogs">תמונות מאמרים</button>
<button class="btn_class radio_btn_buckets" data-bucket="clients">תמונות לקוחות</button>
<button class="btn_class radio_btn_buckets" data-bucket="architects">תמונות אדריכלים</button>
<button class="btn_class upload_btn">הוספת קובץ <i class="fas fa-cloud-upload-alt"></i></button>
</div>

<div id="gallery_wrap">
   <% include ./imagespreview %>
</div>