<!DOCTYPE html>
<html>

<head>
    <title>לוח ניהול - פנדור</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleadmin.css" />
</head>

<body>
    <header>
    </header>
    <section>
        <nav>
            <% include ./navbar %>
        </nav>
        <article>
            <section>
                <div class="container"></div>
            </section>
        </article>
    </section>
    <footer></footer>

    <div id="conform_modal" class="modal">
        <div class="modal-content conform_content">
            <h2></h2>
            <div class="buttons_wrap" >
                <button class="btn_class" id="conform" >כן</button>
                <button class="btn_class" id="cancel" >לא</button>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="/javascript/generaladmin.js"></script>
    <script src="/javascript/uploadfiles.js"></script>
    <script src="/javascript/flash.js"></script>


</body>

</html>