

    <div id="nav_bar_wrap">
        <a href="/admin"><div class="nav_item active" id="home">עמוד הבית <span><i class="fas fa-home"></i></span></div></a>
        <a href="/admin/navigationeditor"><div class="nav_item" id="navigation_edit">ניווט <span><i class="fas fa-bars"></i></span></div></a>
        <a href="/admin/footereditor"><div class="nav_item" id="footer_edit">תחתונה <span><i class="fas fa-shoe-prints"></i></span></div></a>
        <a href="/admin/galleryeditor"><div class="nav_item" id="images_gallery">תמונות  <span><i class="far fa-images"></i></span></div></a>
        <div class="nav_item" id="pages">עמודות <span><i class="far fa-file-alt"></i></span></div>
        <ul class="pages_list">
            <a href="/admin/pagetoedit?page=aboutus"><li>אודותינו</li></a>
            <a href="/admin/pagetoedit?page=projectcontact"><li>קבלנים</li></a>
        </ul>
    </div>
    