

    <div id="nav_bar_wrap">
        <div class="nav_item active" id="home">עמוד הבית <span><i class="fas fa-home"></i></span></div>
        <div class="nav_item" id="navigation_edit">ניווט <span><i class="fas fa-bars"></i></span></div>
        <div class="nav_item" id="footer_edit">תחתונה <span><i class="fas fa-shoe-prints"></i></span></div>
        <div class="nav_item" id="images_gallery">תמונות  <span><i class="far fa-images"></i></span></div>
        <div class="nav_item" id="pages">עמודות <span><i class="far fa-file-alt"></i></span></div>
        <ul class="pages_list">
            <li data-page="aboutus">אודותינו</li>
            <li>ssssssserf</li>
            <li>dddddd</li>
        </ul>
    </div>
    