

    <div id="nav_bar_wrap">
        <div class="nav_item active" id="home">עמוד הבית <span><i class="fas fa-home"></i></span></div>
        <div class="nav_item" id="navigation_edit">ניווט <span><i class="fas fa-bars"></i></span></div>
        <div class="nav_item" id="blog">עמודות  <span><i class="far fa-file-alt"></i></span></div>
        <div class="nav_item" id="contact">תחתונה <span><i class="fas fa-download"></i></span></div>
        <div class="nav_item" id="images_gallery">תמונות  <span><i class="far fa-images"></i></span></div>
        <div class="nav_item" id="about">css  <span><i class="fab fa-css3-alt"></i></span></div>
        <div class="nav_item" id="about">js  <span><i class="fab fa-js"></i></span></div>
    </div>
    