

    <div id="nav_bar_wrap">
        <div id="home" class="active">עמוד הבית <span><i class="fas fa-home"></i></span></div>
        <div id="blog">עמודות  <span><i class="far fa-file-alt"></i></span></div>
        <div id="projects">ניווט <span><i class="fas fa-bars"></i></span></div>
        <div id="contact">תחתונה <span><i class="fas fa-download"></i></span></div>
        <div id="images_gallery">תמונות  <span><i class="far fa-images"></i></span></div>
        <div id="about">css  <span><i class="fab fa-css3-alt"></i></span></div>
        <div id="about">js  <span><i class="fab fa-js"></i></span></div>
    </div>
    