<% layout('layoutindex/mainpage') -%>

<div class="contactForm" style="z-index: 0;margin-top: 5vh;">
    <img class="contactMainImg" alt="" src="images/contactMainImg.jpg" />
    <h2>לקוחות מספרים</h2>
    <div class="contactTxt">bla bla bla תשיר המלצה</div>
    <div class="tbContainer">
        <input type="text" class="tb tb3" placeholder="שם מלא:" />
        <input type="text" class="tb tb3" placeholder="טלפון:" />
        <input type="text" class="tb tb3" placeholder="אימייל:" />
        <input type="text" class="tb tb3 floatR longinput" placeholder="תוכן:" />
        <input type="button" class="sale-btn" value="שליחה" style="color:#ffffff;" />
    </div>
    <span class="downBtn" data-scrollto="wrap_container" style="top:10vh;"><i class="far fa-caret-square-down"></i></span>
</div>


<section id="wrap_container">
    <div class="container">
        <div class="comments_row">
            <div>
                <img class="" src="images/Recommendations-demo-pic.jpg" />
                <span class="client-name">בראד פיט, פתח תקווה</span></q>
            </div>
            <div>
                <q>תודה על השירות האדיב, על הוילונות המקסימים. הילדות בעננים, והמתקין נתן שירות מכל הלב. תודה
                    רבה.</q>
            </div>
        </div>
        <div class="comments_row">
            <div>
                <img class="" src="images/Recommendations-demo-pic.jpg" />
                <span class="client-name">בראד פיט, פתח תקווה</span></q>
            </div>
            <div>
                <q>תודה על השירות האדיב, על הוילונות המקסימים. הילדות בעננים, והמתקין נתן שירות מכל הלב. תודה
                        תודה על השירות האדיב, על הוילונות המקסימים. הילדות בעננים, והמתקין נתן שירות מכל הלב. תודה
                        תודה על השירות האדיב, על הוילונות המקסימים. הילדות בעננים, והמתקין נתן שירות מכל הלב. תודה
                    רבה.</q>
            </div>
        </div>
        <div class="comments_row">
            <div>
                <img class="" src="images/Recommendations-demo-pic.jpg" />
                <span class="client-name">בראד פיט, פתח תקווה</span></q>
            </div>
            <div>
                <q>תודה על השירות האדיב, על הוילונות המקסימים. הילדות בעננים, והמתקין נתן שירות מכל הלב. תודה
                    רבה.</q>
            </div>
        </div>
        <div class="comments_row">
            <div>
                <img class="" src="images/Recommendations-demo-pic.jpg" />
                <span class="client-name">בראד פיט, פתח תקווה</span></q>
            </div>
            <div>
                <q>תודה על השירות האדיב, על הוילונות המקסימים. הילדות בעננים, והמתקין נתן שירות מכל הלב. תודה
                    רבה.</q>
            </div>
        </div>
</section>