
/*  === nav ===============*/
#nav_panel{
    position: relative;
    width: 100%;
    height: 100%;
}
#nav-btn {
    cursor: pointer;
    padding: 4vh 5vh 5vh 5vh;
    text-align: -webkit-center;
    float: left;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#minimize_logo{
    opacity: 0;
    opacity: 0;
    width: 7vh;
    height: 8vh;
    top: 10px;
    position: absolute;
    z-index: 1000;
    right: 21px;
}
.nav{
    width: 38%;
    padding: 3%;
    padding-top: 1%;
}

/*==============*/

#cur_wrap {
    position:relative;
    height:72vh;
}

.cur_animate{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
}

.overlay_slides_wrap{
    position: absolute;
    width: 100%;
    background: #000000 url(../images/overlayPattern.png);
    z-index: 300;
    left: 0;
    top: 0;
    height: 72vh;
    opacity: 0;
}

.door_info_container{
    padding: 50px;
    width: 30%;
    max-width: 369px;
    box-sizing: border-box;
    background: rgba(37, 37, 37, 0.72);
    position: absolute;
    bottom: 25%;
    right: 25%;
    color: #ffffff;
    z-index: 400;
    opacity:0;
}

.door_img{
    position: absolute;
    float: right;
    right: 10%;
    opacity:0;
    width: 17%;
    z-index: 400;
    top: 4%;
}

.header-txt{
    padding-top: 8px;
}

.slider_left_text{
    position:absolute;
    z-index:400;
    bottom:25%;
    left:-25%;
    font-size:5vh;
    color:#ffffff;
    line-height:45px;
    max-width:500px;
    opacity:0;
}

#side_sticker{
    position:fixed;
    top: 33%;
    right: 1vw;
    z-index: 500;
}

#closed_sticker_flag{
    border: 1px solid #ff4200;
    height: 107px;
    background: #ff4200;
    padding-top: 5px;
    width: 14vh;
    cursor: pointer;
    position: absolute;
    right: -18vh;
    margin-top: -18vh;
}
.small_icons_slider{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    text-align: center;
}

.btn_wrap_comments{
    position: absolute;
    bottom: -4vh;
    right: 38%;
}

.header{
    display: none;
}
#logo_pandoor_bav_desktop{
    padding: 4% 3%;
    float: left;
}
#phone_number_mobile{
    display: none;
    right: 0;
    position: absolute;
    direction: rtl;
    top:2vh;
    z-index: -1;
    color: #ffffff;
}

.iconBg
{
    background: #ff4200;
    transition: background ease-in-out 0.5s;
    color: #ffffff;
    padding: 2vh;
    margin-bottom: 3px;
    cursor: pointer;
}
.iconBg a{
    color: #ffffff;
}
.iconBg:hover{
    background: #ffffff;
    transition: background ease-in-out 0.5s;
}
.iconBg:hover a{
    color: #000000;
    transition: color ease-in-out 0.5s;
}
.light_style{
    color: #ffffff;
    font-size: 5vh;
}
.light_style *{
    color: #ffffff;
    font-size: 5vh;
}
.footerBtn:hover{
    background: #ff4200;
    transition: background ease-in-out 0.5s;
}
.footer-nav li:hover{
    background: #ff4200;
    transition: background ease-in-out 0.5s;
}

@media all and (max-width:900px){
    #nav-btn{
        width: 3vh;
        height: 2vh;
        padding: 1vh 4vh 4vh 2vh;
    }
    #minimize_logo{
        width: 19%;
        height: 71%;
    }
    #nav_warp{
        height: 60px;   
    }
    .slider_left_text, .door_img, .door_info_container{
        display: none;
    }
    .sectionsContainer{
        padding-top: 56px;
    }
    #cur_wrap, .overlay_slides_wrap{
        height: 35vh;
    }
    .nav{
        top: 58px;
    }
    .mobileNavDesignerInfo .fas{
        position: absolute;
        font-size: 6vh;
        margin-right: 5vh;
    }
    #phone_number_mobile{
        display: inline-block;
    }
    #logo_pandoor_bav_desktop{
        display: none;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #nav-btn{
        width: 16vh;
        height: 18vh;
        
    }
    .logo
    {
        width: 40%;
    }
    .slider_left_text, .door_img, .door_info_container{
        display: none;
    }
    #phone_number_mobile{
        display: block;
    }
}

  
@media (min-width: 768px) and (max-width: 1024px) {
    .nav{
        width: 100%;
        padding: 0 0 20px 0 !important;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #nav-btn{
        width: 16vh;
        height: 18vh;
        
    }
    .logo
    {
        width: 40%;
    }
    .slider_left_text, .door_img, .door_info_container{
        display: none;
    }
    #phone_number_mobile{
        display: block;
    }
    .nav{
        width: 100%;
        padding: 0 0 20px 0 !important;
    }
}

@media (min-width: 481px) and (max-width: 767px) { /* mobile Landscape */
    #nav-btn{
        width: 5vh;
        height: 8vh;
        padding: 3vh 10vh 7vh 7vh;
    }
    .logo
    {
        width: 50%;
    }
    #minimize_logo{
        width: 23%;
    }
    
    .slider_left_text, .door_img, .door_info_container{
        display: none;
    }
    #closed_sticker_flag{
        display:block;
        margin-right: 1vw;
        right: 6vh;
        
    }
    #side_sticker{
        top:3%;
        margin-top: 8vw;
        right: -10vh;
    }
    .btn_wrap_comments{
        bottom: -10vw;
        right: 25vw;
    }
    .second_comment_slide{
        display: none;
    }
    .only_mobile{
        display: block;
    }
    .nav{
        width: 100%;
    }
    #nav_warp{
        height: 60px;   
    }
    #cur_wrap {
        height: 47vw;
    }
    .mySlides{
        height: 70%
    }
    .overlay_slides_wrap{
        height: 70%;
    }
    .scrollingImageContainer img{
        width:10%;
    }
    #phone_number_mobile{
        margin-top: 4vh;
        font-size: 5vw;
    }
}

@media (min-width: 320px) and (max-width: 480px) {   /* mobile Portrait */
    #nav-btn{
        width: 5vh;
        height: 8vh;
    }
    .logo
    {
        width: 70%;
    }
    #minimize_logo{
        width: 27%;
    }
    .mySlides, #cur_wrap{
        height: 45vh;
    }
    .overlay_slides_wrap{
        height: 45vh;
    }
    .slider_left_text, .door_img, .door_info_container{
        display: none;
    }
    #closed_sticker_flag{
        display:block;
        right: 7vh;
    }
    #side_sticker{
        right: -15vh;
    }
    .btn_wrap_comments{
        right: 7vh;
    }
    .second_comment_slide{
        display: none;
    }
    .only_mobile{
        display: block;
    }
    .nav{
        width: 100%;
    }
    #nav_warp{
        height: 60px;   
    }
    .scrollingImageContainer img{
        width:15%;
    }

}