
/* CSS Reset */ 

@font-face
{
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 200;
    src: local('Assistant ExtraLight'), local('Assistant-ExtraLight'), url('/fonts/Assistant/Assistant-ExtraLight.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* assistant-300 - hebrew_latin */
@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 300;
    src: local('Assistant Light'), local('Assistant-Light'), url('/fonts/Assistant/Assistant-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* assistant-regular - hebrew_latin */
@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    src: local('Assistant'), local('Assistant-Regular'), url('/fonts/Assistant/Assistant-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* assistant-600 - hebrew_latin */
@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 600;
     src:      local('Assistant SemiBold'), local('Assistant-SemiBold'), url('/fonts/Assistant/Assistant-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* assistant-700 - hebrew_latin */
@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 700;
     src: local('Assistant Bold'), local('Assistant-Bold'), url('/fonts/Assistant/Assistant-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* assistant-800 - hebrew_latin */
@font-face
{
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 800;
    src: local('Assistant ExtraBold'), local('Assistant-ExtraBold'),  url('/fonts/Assistant/Assistant-ExtraBold.ttf') format('truetype'); /* Safari, Android, iOS */
}

body, img, p, form, a, div, li, input, textarea, h1, h2, h3, h4, h5, h6,table{ margin:0px; padding:0px; }
a, img, input, textarea{ border:0px; border-style:none; }
a{ text-decoration:none; }
p{ margin-bottom:12px; }


input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="image"]::-moz-focus-inner, img::-moz-focus-inner, a::-moz-focus-inner{ border: 0px; }

input[type="submit"]:focus, input[type="button"]:focus, input[type="image"]:focus, img:focus, a:focus{ outline: none; }

html{ overflow: -moz-scrollbars-vertical; }
html{ overflow-x: hidden; }
html{ overflow-y: scroll; }


*:focus {outline: none;}


body{
    background: #eeeeee;
	font:20px 'Assistant', Exo2_Light, Arial;
	color:#343434; 	
    position:relative;
    text-align:right;    
}

h2
{
    font-size:36px;
    line-height:34px;
    font-weight:normal;
    border-right:solid 16px #343434;
    padding-right:5px;
    margin-bottom:25px;
}
/* CSS Reset */
/* global wraps */
.wrap_container{
    position: relative;
    padding: 5vh 3% 5vh;
    background: #eeeeee;
    display: -webkit-box;
    /* border-bottom: 2px solid #ff4200; */
}

.wrap_container:nth-child(2n) {
    background: #f6f6f6;
}

.container
{
	width: 85%;
    max-width:1145px;
	margin:0 auto ;
	position:relative;
	direction:rtl; 
	text-align:center;
}
.container a {
    color: #343434;
}

.container h2{
    text-align:right !important;
}
/* end global wraps*/
/* nav */


#nav_panel
{
    overflow: hidden;
    -webkit-overflow-scrolling:touch;
    background:#ff4200;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3000;
    max-height: 10vh;
}
#nav_wrap{
    position: relative;
    width: 100%;
    height: 100%;
}

#logo_side 
{
    position: relative;
    width: 23%;
    height: auto;
    border-bottom: 100px solid #ffffff;
    border-left: 100px solid transparent;
    float: right;
}
#bigger_logo, #minimize_logo{
    position: absolute;
    padding: 2vh 8vh;
    width: 72%;
    left: 0;
}
#minimize_logo{
    opacity: 0;
    width: 22%;
}

#minimize_logo{
    opacity: 0;
    opacity: 0;
    width: 7vh;
    height: 8vh;
    top: 10px;
    position: absolute;
    z-index: 1000;
    right: 21px;
}

#centarl_nav{
    position: absolute;
    width: 70%;
    height: auto;
    text-align: left;
    padding: 2vh;
    right: 22%;
    margin-top: 1vh;
}

.header-nav, .header-lang-nav
{
    list-style:none;
    margin:0;
    direction:rtl;
    display:inline-block;
    vertical-align:middle;
    margin-top:5px;
    margin-right:60px;
    color: #ffffff;
}

.header-nav li, .header-lang-nav li
{
    display:inline-block;
    margin-left:-4px;
    padding:0 10px;
    border-left:solid 1px #ffffff;
}

.header-nav li:last-child, .header-lang-nav li:last-child
{
    border-left:none;
}

.header-nav li a, .header-lang-nav li a
{
    color:#ffffff;
}

#nav_side{
    position: absolute;
    width: 6%;
    height: inherit;
    text-align: left;
    float: left;
    height: 10vh;
}

#nav-btn {
    cursor: pointer;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    float: left;
    background: #222;
    position: absolute;
    height: 100%;
    width: 100%;
}

.bar1, .bar2, .bar3 {
    width: 40px;
    height: 5px;
    background-color: #ff4200;
    margin: 6px auto;
    transition: 0.4s;
}

.bar1{
    margin-top: 3vh;
}


.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.nav{
    background:#ffffff;
    width: 40%;
    padding: 3%;
    padding-top: 2%;
    border-right: 4px solid rgb(255, 66, 0);
    border-bottom: 4px solid rgb(255, 66, 0);
    direction:rtl;
    position: fixed;
    top:10vh;
    left:0;
    box-sizing:border-box;
    display:none;
    color:#343434;
    z-index: 10000;

}
.nav a{
    color:#343434;
}

.nav a.phoneto
{
    color:#000000;
    font-weight:400;
    font-size:28px;
    display:inline-block;
    margin-left:20px;
}
.nav a.mailto
{
    color:#000000;
    font-weight:300;
    font-size:22px;
    display:inline-block;
}
.nav ul.social li
{
    display:inline-block;
    border-bottom:none;
}
.nav ul
{
    list-style:none;
    padding:0;
    margin:0;
    display:inline-block;
    vertical-align:top;
    font-size:3vh;
    margin-left:20px;
    margin-bottom:72px;
}
.nav ul.long
{
    width:100%;
    margin-bottom:0;
} 
   
.nav ul:nth-child(3)
{
    margin-left:0;
}
.nav ul.long li.header
{
    margin-bottom:15px;
}
.nav ul li
{
    border-bottom:solid 1px #ded0cc;
}
.nav ul.social
{
    width:auto;
    margin:0;
}
.nav ul.social li a, .nav a.mailto, .nav a.phoneto
{
    padding:0;
}
.nav ul.long li:nth-child(2)
{
    border-bottom:none;
}
.nav ul li a
{
    padding: 0 6px;
}
.nav ul .navLink:hover
{
    box-shadow: inset 300px 0 0 0 #ff4200;
    color: #ffffff;
    -webkit-transition :  box-shadow ease-in-out 0.5s;
    -moz-transition: box-shadow ease-in-out 0.5s;
    -o-transition: box-shadow ease-in-out 0.5s;
    transition: box-shadow ease-in-out 0.5s;
}

.xNav
{
    position:absolute;
    bottom:12px;
    right:12px;
    cursor:pointer;
}

.mobileNavDesignerInfo
{
    display:none;
    padding:10px;
    color:#ffffff;
    background:#ff4200;
}
a.mobileNavDesignerInfo{
    color: #ffffff;
}

.mobileNavDesignerInfo img
{
    display:inline-block;
    vertical-align:middle;
    font-size:3vh;
}
.mobileNavDesignerInfo .click
{
    display:inline-block;
    vertical-align:middle;
    margin-left:10px;
    margin-right:50px;
    font-size:3vh;
}
.mobileNavDesignerInfo .fas{
    font-size: 5vh;
    margin-right: 5vh;
    vertical-align: middle;
}

#phone_number_mobile{
    display: none;
    right: 0;
    position: absolute;
    direction: rtl;
    top:2vh;
    z-index: -1;
    color: #ffffff;
}

footer
{
    background:#222222;
    color:#ffffff;
}
footer ul
{
    list-style:none;
    padding:0;
    margin:0;
}
footer ul li
{
    display:inline-block;
    margin-left:-4px;
}
.footer-nav
{
    padding:80px 0 30px 0;
    margin:0 auto;
    text-align:center;
}
.footer-nav li
{
    border-left:solid 1px #4b4b4b;
    border-right:solid 1px #000000;
}
.footer-nav li:first-child
{
    border-right:none;
}
.footer-nav li:last-child
{
    border-left:none;
}
.footer-nav a
{
    color:#ffffff;
    padding:0 10px;
}

.social
{
    margin:0 auto;
    text-align:center;
    margin-bottom:100px;
}
.social li
{
    margin-left:5px;
}
.social li:first-child
{
    display:none;
}
.nav .social li
{
    padding-right:0;
}
.site-map{
    text-align: center;
}
.site-map li
{
    width: calc(15% - 22px);
    margin-right: 3.5vh;
    margin-bottom: 6vh;
    vertical-align: top;
    font-size: 0.7em;
}
.site-map li:first-child{
    margin-right: 0;
}
.site-map li:nth-child(4n)
{
    margin-left:0;
}
.site-map li h3
{
    background:url(../images/site-map-logo.png) no-repeat center right;
    border-bottom:solid 1px #000000;
    box-shadow: 0px 1px 0px 0px #4b4b4b;
    padding-right:40px;
    padding-bottom:2px;
    margin-bottom:10px;
    line-height:24px;
    font-size: 1em;
}
a.phoneto
{
    font-size:46px;
    font-weight:200;
    color:#ffffff;
    background:url(../images/footer_phoneIcon.png) no-repeat center right;
    padding-right:60px;
    display:block;
    height:55px;
}
a.phoneto span
{
    display:inline-block;
    vertical-align:middle;
    padding-top:10px;
}
.footer-bottom-strip
{
    height:96px;
    background:#161616;
    font-size:16px;
}
.pandor-rights
{
    float:right;
    margin-top:40px;
    margin-right: 5vh;
}
.say-rights
{
    float:left;
    margin-top:40px;
}
.say-rights a
{
    color:#ffffff;
    font-size:16px;
}
.phoneto-mobile, .footerBtn
{
    display:none;
}

.content_sales {
    display: flex;
    direction: ltr;
}

.content_sales .left_one {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 2vh;
}

.content_sales .right_one {
    position: relative;
    flex: 2;
    overflow: hidden;
}

.content_sales .box_one {
    position: relative;
    overflow: hidden;
}

.content_sales .right_one img,
.content_sales .box_one img {
    width: 100%;
    transform: scale(1);
    transition: all 1s ease-in-out;
    height: 100%;
}

.content_sales .right_one a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.content_sales .info {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    right: 0;
    color: #ffffff;
    padding: 3vh 9vh;
}

.content_sales .right_one img:hover,
.content_sales .box_one img:hover {
    transform: scale(1.2);
}

.content_sales .right_one img:hover+.info,
.content_sales .box_one img:hover+.info {
    background: rgba(0, 0, 0, 0.65);
    transition: background ease-in-out 0.5s;
}

.month-recommended-box
{
    display:inline-block;
    position: relative;
    width: 24%;
    margin-bottom:30px;
}
.month-recommended-box img{
    width:80%;
}
.month-recommended-box:nth-child(4n + 1)
{
    margin-left:0;    
}
.month-recommended-box .info
{ 
    position:relative;
}
.month-recommended-box .info
{
    display:inline-block;
    padding: 1vh;
    font-size: 2.1vh;
    color: #4b4b4b;
    font-weight:bold; 
}

.month-recommended-box:hover .info
{
    background:#ff4200;
    color: #ffffff;
    transition: background ease-in-out 0.6s;
}

.recommendations-box
{
    display:inline-block;
    text-align:center;
    vertical-align:top;
    width:49%;
    height:500px;
    position: relative;
    color: #4b4b4b;
    font-size: 2.3vh;
}
.recommendations-box:nth-child(2n)
{
    margin-left:0;
}
.recommendations-box img
{
    border-radius:100px;
    width: 30%;
}
.recommendations-box q
{
    display:block;
    width:385px;
    margin:30px auto;
    padding:0 15px;
    position:relative;
    quotes: '”' '“' '’' '‘';
}
.scrollingImagesWrapper
{
    width:100%;
}
.recommendations-box q:before { 
    content: open-quote;
    color:#ff4200;
    position:absolute;
    top:-10px;
    right:3vh;
    font-size: 5vh;
}

.recommendations-box q:after { 
    content: close-quote;
    color:#ff4200;
    position:absolute;
    bottom:-10px;
    left:3vh;
    font-size: 5vh;
}
.recommendations-box .comment_wrap{
    padding: 5px;
    display: block;
    margin: 5px;
}
.recommendations-box .client-name
{
    display:block;
    position:relative;
    bottom:-20px;
    font-size:18px;
    font-weight:bold;
}

.contentMainImgContainer {
    position: relative;
    height: 60vh;
    overflow: hidden;
    direction: rtl;
}
.contentMainImg {
    position: absolute;
    left: 0;
    width: 100%;
    min-width: 1920px;
}
.contentMainImgContainer h3 {
    font-size: 200px;
    font-weight: 200;
    margin-top: 230px;
    position: relative;
    z-index: 1000;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}

.message_carousel{
    position: relative;
    background: #ff4200;
    width: 70%;
    text-align: center;
    margin: auto;
    height: auto;
    max-height: 15vh;
    min-height: 7vh;
    color: #ffffff;
    font-size: 2vh;
    padding: 3vh 1vh 0vh;
    overflow: hidden;
}

.message_carousel div{
    position: relative;
    top: -25vh;
    padding: 0 2vh;
}

.message_carousel div:first-child{
   top:0;
}

.contentTxt {
    position: relative;
    z-index: 300;
    color: #ffffff;
    text-align: center;
    border: none;
    font-size: 25px;
    font-weight: 300;
    direction: rtl;
    max-width: 620px;
    margin: 0 auto;
}
.downBtn {
    position: absolute;
    z-index: 1000;
    display: block;
    width: 43px;
    margin: 5px 48%;
    bottom: 0vh;
}
.contentTextContainer {
    float: left;
    width: calc(100% - 400px);
    line-height: 30px;
    text-align: right;
}
.contentImages {
    display: inline-block;
    max-width: 339px;
}
.contentImages img{
    width: 100%;
}

a.galleryCategory
{
    background:#000000;
    color:#ffffff;
    padding:5px 15px;
    margin:70px 5px 0 5px;
    display:inline-block;
    transition:all ease-in-out 0.5s;
}
a.galleryCategory:hover
{
    background:#ff4200;
}
.galleryContainer
{
    text-align:right; 
    direction:rtl;
    padding: 1% 13%;
}
.galleryContainer .col50pre
{
    display:inline-block;
    vertical-align:top;
    width:calc(50% - 2px);
}
.galleryContainer a
{
    display:inline-block;
    vertical-align:top;
    margin:22px;
    position:relative;
    overflow:hidden;
}
.galleryContainer a span.imgInfo
{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    bottom: -20vh;
    color:#ffffff;
    padding:30px 20px;
    box-sizing:border-box;
    background:rgba(0, 0, 0, 0.5);
    transition:all ease-in-out 0.5s;
}
.galleryContainer a:hover span.imgInfo
{
    background:rgba(0, 0, 0, 0.8);
    bottom: 0;
    height: 20vh;
}

.galleryContainer a span.imgInfo b
{
    display:block;
}
.galleryContainer a img
{
    display:block;
    width:100%;
    transform:scale(1);
    transition:all ease-in-out 0.5s;
}
.galleryContainer a:hover img
{
    transform:scale(1.1);
}
.thumbwidth100pre
{
    width:calc(100% - 46px);
}
.thumbwidth100pre4
{
    width:calc(100% - 44px);
}
.thumbW
{
    width:calc(50% - 46px);
}
.galleryContainer span.imgInfo span.sale-btn
{
    background: #262626 url('../images/sale-btn.png') no-repeat 16px 13px;
    color: #ffffff;
    width:47px;
    height:47px !important;
    padding:0;
    position: absolute;
    bottom: 30px;
    left: 30px;
    height: auto;
    font-size: 30px;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
    cursor: pointer;
}
.galleryContainer a:hover > span.imgInfo span.sale-btn
{
    background:#ff4200 url('../images/sale-btn.png') no-repeat 16px 13px;
}

.tbContainer {
    position: relative;
    margin: 0 auto;
    max-width:60%;
    margin-top: 16px;
    text-align: center;
}
.tbContainer .tb{
    padding: 1vh 1vh;
    margin: 1vh;
    font-size: 3vh;
}
.tbContainer.bottom_side{
    max-width:none;
}
.send_btn{
    width: 20%;
    background: #ff4200;
    color: #ffffff;
    cursor: pointer;
}
.send_btn:hover{
    background: #ffffff;;
    color: #ff4200;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.infoContactBox
{
    background:#ffffff;
    width:calc(25% - 4px);
    min-width:283px;
    padding: 25px;
    box-sizing:border-box;
    display:inline-flex;
    margin-bottom: 5px;
}
.infoContactBox.hover:hover {
    cursor: pointer;
    background: #ff4200;
    color: #ffffff;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.infoContactBox img
{
    vertical-align:middle;
    display:inline-block;
}
.infoContactBox span
{
    vertical-align:middle;
    width:calc(100% - 80px);
    display:inline-block;
}

.contactImgBg {
    background: url(../images/mainsimg/contactImgBgqq.jpg) no-repeat center center;
    height: 677px;
    padding: 60px 0;
    box-sizing: border-box;
    text-align: center;
    color: #ffffff;
}

.contactImgBg .ttl {
    font-size: 25px;
    margin-bottom: 40px;
}
.contactImgBg ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.contactImgBg ul li {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 16px;
    vertical-align: top;
}

.contactImgBg ul li div {
    width: 20vh;
    height: 20vh;
    background: #ffffff;
    color: #000000;
    padding-top: 48px;
    box-sizing: border-box;
    font-size: 20px;
    display: grid;
}
.to_form_section{
    display: none;
    position: relative;
    z-index: 1000;
    margin: 10px 31%;
    padding: 1vh;
    background: #ff4200;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}

.catalog {
    background: url(../images/mainsimg/CatalogBgqq.jpg) no-repeat bottom center;
    background-size: 100%;
    height: 817px;
    padding-top: 60px;
    color: #ffffff;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}

.doorsBox {
    position: relative;
    width: 133px;
    display: inline-block;
    margin: 2.5vh 10px 0 10px;
}
.doorsBox img{
    width:100%;
}

a.btn-model {
    display: block;
    padding: 12px 0;
    text-align: center;
    color: #ffffff;
    border: solid 1px #ffffff;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
    background: #262626;
    margin-top: 2vh;
}
.headerImgTextR {
    display: inline-block;
    width: 214px;
    text-align: right;
    vertical-align: top;
    margin-left: 100px;
}

.branches_wrap{
    display: inline-flex;
    height: 100vh;
}

.branchInfo {  
    vertical-align: top;
}
.branches_descriptions.active .infoContactBox{
    width: calc(45% - 4px);
    min-height: 20vh;
}
.branchInfo .infoContactBox{
    width: calc(45% - 4px);
}
.branchesMap {
    display: inline-block;
    vertical-align: top;
    width: 354px;
    height: 939px;
    margin-left: -4px;
    position: relative;
}
.branchesMap img{
    height: 70%;
}
.accordionContainer {
    margin-bottom: 20px;
}
.faq{
    padding: 60px 0;
    width: 100%;
}
.accordion_inside_panel .brancheName {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 15%;
}

.accordion_inside_panel .addresInfo {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.accordion_inside_panel .addres {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}

#ContactFormContainer {
    margin-left: 1px;
}

.tabButton {
    background: #000000;
    color: #ffffff;
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
    cursor: pointer;
}

.tabTb {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}
@media all and (max-width: 500px) {
    #nav_panel{
        padding: 0 !important;
        top: 0 !important;
        height: 10vh;
    }
    .container{
        width: 90%;
    }
    

    #logo_side {
        width: 49%;
    }

    #logo_imgs #bigger_logo{
        padding: 3vh 2vh;
        width: 80%;
    }
    #minimize_logo{
        padding: 0vh 1vh;
        width: 55%;
    }
    #centarl_nav{
        display: none;
    }

    #nav_side{
        width: 18%;
    }

    .bar1{
        margin-top: 3vh;
    }
    .nav{
        border-right: 0;
        border-bottom: 4px solid rgb(255, 66, 0);
    }
    #logo_pandoor_bav_desktop{
        display: none;
    }
    .mobileNavDesignerInfo{
        display: block;
    }
    
    .nav
    {
        padding: 0 !important;
    }
    .nav ul
    {
       width:100%;
       margin-bottom: 12px;
       padding:0 50px;
       box-sizing:border-box;
    }
    .nav ul:first-child{
        padding-top: 25px;
    }
    .nav ul li
    {
        padding-right:0;
        font-size: 4vh;
    }
    .nav ul li a
    {
        display:block;
    }
    .nav ul li.header
    {
        font-size:30px;
        font-weight:300;
        cursor:pointer;
    }
    .nav ul:first-child li.header
    {
        margin-top:40px;
    }
    .nav ul li.header:hover
    {
        color:#ff4200;
    }
    .nav ul li:first-child
    {
        border-bottom: solid 1px #ded0cc;
    }
    .nav ul.long
    {
        display:none;
    }
    .xNav
    {
       display: none;
    }
    .content_sales{
        display: inline-block;
    }
    .content_sales .right_one{
        overflow: hidden;
        display: inline-block;
    }
    .content_sales .right_one a{
        position: relative;
    }
    .content_sales .left_one{
        display: block;
        flex: none;
        margin: 0;
    }
    .left_one .box_one{
        flex: none;
        display: inline-flex;
    }
    .content_sales .info{
        padding: 7vh 1vh;
        text-align: center;
        font-size: 3.1vh;
        font-weight: 700;
    }
    .month-recommended-box{
        width:47%;
    }
    .month-recommended-box img {
        width: 90%;
    }
    .recommendations-box{
        width: 88%;
    }
    .recommendations-box q{
        width: 100%;
    }
    .contentMainImgContainer{
        height: 44vh;
    }
    .recommendations-box:nth-child(2n)
    {
        display: none;
    }
    .contactImgBg {
        background: #282828;
        height: auto;
        padding: 26px 0;
    }
    .send_btn{
        width: 45%;
    }
    .to_form_section{
        display: block;
    }
    .message_carousel{
        width: 90%;
    }
    .message_carousel div{
        position: absolute;
        margin-top: 3%;
    }

}

@media all and (max-width: 800px) and (orientation: landscape){
    #nav_panel{
        padding-bottom: 2vh !important;
        top: 0 !important;
    }

    #logo_side {
        width: 30%;
    }

    #logo_imgs #bigger_logo{
        padding: 3vh 2vh;
        width: 80%;
    }
    #minimize_logo{
        padding: 0vh 1vh;
        width: 45%;
    }
    #centarl_nav{
        display: none;
    }

    #nav_side{
        width: 10%;
        height: 120%;
    }
    .bar1, .bar2, .bar3{
        width: 30px;
        height: 5px;
    }
    .bar1{
        margin-top: vh;
    }
    .nav{
        border-right: 0;
        border-bottom: 4px solid rgb(255, 66, 0);
    }
    #logo_pandoor_bav_desktop{
        display: none;
    }
    .mobileNavDesignerInfo{
        display: block;
    }
    
    .nav
    {
        padding: 0 !important;
    }
    .nav ul
    {
       width:100%;
       margin-bottom: 12px;
       padding:0 50px;
       box-sizing:border-box;
    }
    .nav ul:first-child{
        padding-top: 25px;
    }
    .nav ul li
    {
        padding-right:0;
        font-size: 4vh;
    }
    .nav ul li a
    {
        display:block;
    }
    .nav ul li.header
    {
        font-size:30px;
        font-weight:300;
        cursor:pointer;
    }
    .nav ul:first-child li.header
    {
        margin-top:40px;
    }
    .nav ul li.header:hover
    {
        color:#ff4200;
    }
    .nav ul li:first-child
    {
        border-bottom: solid 1px #ded0cc;
    }
    .nav ul.long
    {
        display:none;
    }
    .xNav
    {
       display: none;
    }
    #phone_number_mobile{
        top:0;
    }
    .tbContainer .tb{
        font-size: 5vh;
    }
}

@media all and (max-width: 900px){
    h2
    {
        font-size: 3.7vh;
    }
    .footer-nav
    {
        display:none;
    }
    .social
    {
        margin-bottom:40px !important;
    }
    .social li:nth-child(1)
    {
        display:block !important;
        font-size:30px;
    }
    .phoneto-mobile
    {
        display:block;
        padding-top:40px;
        font-size:30px;
        text-align:center;
    }
    .phoneto-mobile a.phoneto
    {
        width:120px;
        margin:0 auto;
        margin-bottom:40px;
    }
    .site-map
    {
        display:none;
    }
    a.footerBtn
    {
        display:block;
        background:url(../images/site-map-logo.png) no-repeat 227px center;
        font-size:30px; 
        padding:10px 30px 10px 10px;
        text-align:center;
        border:solid 1px #ffffff;
        color:#ffffff;
        width:230px;
        margin:0 auto 40px auto;
    }
    .contentTextContainer {
        width: 100%;
        margin-bottom: 40px;
    }
    .galleryContainer .col50pre
    {
        width:100%;       
    }
    .thumbW, .galleryContainer a
    {
         width:calc(100% - 10px);
         box-sizing:border-box;
    }
    .galleryContainer a
    {
         margin: 22px 4px;
    }
    .contactImgBg {
        background: #282828;
        height: auto;
        padding: 26px 0;
    }
    .send_btn{
        width: 45%;
    }
    .to_form_section{
        display: block;
    }
    .catTxt{
        font-size: initial;
        margin-bottom: 5vh;
    }
    .doorsBox a img {
        width: 88px;
        display: inline-block;
        vertical-align: middle;
    }
    .doorsBox {
        position: relative;
        width: calc(100% - 60px);
        box-sizing: border-box;
        text-align: right;
        padding-bottom: 80px;
    }
    .branches_wrap {
        display: block;
        height: auto;
    }
    .branchesMap{
        display: none;
    }
    
}
/*==============*/
a.pandor-collection-btn
{
    border:solid 1px #ffffff;
    padding:0 10px 5px 30px;
    display:block;
    margin-top:40px;
    color:#ffffff;
    font-size:30px;
    font-weight:bold;
    background:url(../images/sale-dual-btn.png) no-repeat 20px center;
    transition:all ease-in-out 0.5s;
}
a.pandor-collection-btn:hover
{
    background:#ff4200 url(../images/sale-dual-btn.png) no-repeat 20px center;
    border:solid 1px #ff4200;
}

#cur_wrap {
    position:relative;
    height:72vh;
}

.cur_animate{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
}

.overlay_slides_wrap{
    position: absolute;
    width: 100%;
    background: #000000 url(../images/overlayPattern.png);
    z-index: 300;
    left: 0;
    top: 0;
    height: 72vh;
    opacity: 0;
}

.door_info_container{
    padding: 50px;
    width: 30%;
    max-width: 369px;
    box-sizing: border-box;
    background: rgba(37, 37, 37, 0.72);
    position: absolute;
    bottom: 25%;
    right: 25%;
    color: #ffffff;
    z-index: 400;
    opacity:0;
}

.door_img{
    position: absolute;
    float: right;
    right: 10%;
    opacity:0;
    width: 17%;
    z-index: 400;
    top: 4%;
}

.header-txt{
    padding-top: 8px;
}

.slider_left_text{
    position:absolute;
    z-index:400;
    bottom:25%;
    left:-25%;
    font-size:5vh;
    color:#ffffff;
    line-height:45px;
    max-width:500px;
    opacity:0;
}

#side_sticker{
    position:fixed;
    top: 33%;
    right: 1vw;
    z-index: 1000;
    display: inline-grid;
   
}
.side_sticker_slide{
    position: relative;
    width: 25vh;
    display: table;
}

#closed_sticker_flag{
    border: 1px solid #ff4200;
    height: 107px;
    background: #ff4200;
    padding-top: 5px;
    width: 14vh;
    cursor: pointer;
    position: absolute;
    right: -18vh;
    margin-top: 2vh;
}
.small_icons_slider{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    text-align: center;
}
.btn_wrap_comments{
    position: absolute;
    bottom: -4vh;
    right: 38%;
}
.header{
    display: none;
}
#logo_pandoor_bav_desktop{
    padding: 4% 3%;
    float: left;
}
.mySlides.cur_animate{
    opacity: 0;
}
.mySlides.cur_animate.active{
    opacity: 1;
}
.slide_inside{
    display: none;
}

.iconBg{
    background: #ff4200;
    transition: background ease-in-out 0.5s;
    color: #ffffff;
    padding: 2vh;
    margin-bottom: 3px;
    cursor: pointer;
    width: 12%;
    float: right;
    padding: 6%;
    text-align: center;
}
.iconBg a{
    color: #ffffff;
}
.iconBg:hover{
    background: #ffffff;
    transition: background ease-in-out 0.5s;
}
.iconBg:hover a{
    color: #000000;
    transition: color ease-in-out 0.5s;
}
.sticker_description{
    position: absolute;
    right: -30vh;
    width: 75%;
    height: 70%;
    font-size: 15px;
    padding: 1vh !important;
    color:#ffffff;
    z-index: -1;
}
.iconBg:hover+.sticker_description{
    right: 7vh;
    color:#ffffff;
    transition: right ease-in-out 0.5s;
} 

.light_style{
    color: #ffffff;
    font-size: 5vh;
}
.light_style *{
    color: #ffffff;
    font-size: 5vh;
}
.light_style *:hover{
    color: #ff4200;
    transition: color ease-in-out 0.5s;
}

.footerBtn:hover{
    background: #ff4200;
    transition: background ease-in-out 0.5s;
}
.footer-nav li:hover{
    background: #ff4200;
    transition: background ease-in-out 0.5s;
}

.accordion_row {
    background-color: #323234;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion_row:hover {
    background: #ff4200;
    transition: background ease-in-out 0.5s;
}
.active_row_acc{
    background: #ff4200;
    color: #ffffff;
}

.accordion_inside_panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    font-size: 1em;
    background: #dcd9d9;
}
.contactImgBg ul li div:hover{
    background: #ff4200;
    color: #ffffff;
    transition: background ease-in-out 0.5s;
}
.dialogbubbl_left {
    width: 120px;
    height: 50px;
    background: #ffffff;
    position: relative;
    color: #ff4200;
    cursor: pointer;
}

.dialogbubbl_left:before {
    content: "";
    position: absolute;
    right: 95%;
    top: 32px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 59px solid #ffffff;
    transform: rotate(-25deg)
}

.dialogbubbl_right {
    width: 120px;
    height: 50px;
    background:  #ffffff;
    position: relative;
    color: #ff4200;
    cursor: pointer;
}

.dialogbubbl_right:before {
    content: "";
    position: absolute;
    right: -33%;
    top: 24px;
    width: 0;
    height: 0;
    border-bottom: 16px solid transparent;
    border-left: 59px solid #ffffff;
    transform: rotate(38deg);
}

.dialogbubbl_left:hover, .dialogbubbl_right:hover{
    background: #ff4200;
    color: #ffffff;
    transition: background ease-in-out 0.5s;
}
.dialogbubbl_left:hover:before{
    border-right: 59px solid #ff4200;
    transition: border-right ease-in-out 0.5s;
}
.dialogbubbl_right:hover:before{
    border-left: 59px solid #ff4200;
    transition: border-left ease-in-out 0.5s;
}

#tag_on_map_bnay_brak{
    width: 35%;
    top: 16%;
    position: absolute;
    right: -9%;
}
#tag_on_map_reashin_top{
    width: 35%;
    top: 22%;
    position: absolute;
    right: 1%;
}
#tag_on_map_kriayt_gat{
    width: 35%;
    top: 31%;
    position: absolute;
    right: -4%;
}
#tag_on_map_natania{
    width: 35%;
    top: 12%;
    position: absolute;
    left: -6%;
}

#tag_on_map_rashlatz{
    width: 35%;
    top: 22%;
    position: absolute;
    left: -12%;
}
#tag_on_map_ashdod{
    width: 35%;
    top: 27%;
    position: absolute;
    left: -25%;
}
#branches_wrap{
width: 100%;
top: 50%;
margin: 5%;
}
#branches_wrap div{
width:96%;
background: #ffffff;
height: 5%;
margin-top: 1%;
text-align: right;
padding: 2% 2% 2% 2%;
display: inline-block;
}
#branches_wrap div h3{
width: 40%;
float: right;
padding-top: 3px;
}
#branches_wrap div img{
float: left;
}
.description_door_catalog{
position: absolute;
margin-right: 10px;
height: auto;
min-height: 70%;
background: #1c1c1c;
padding: 2% 9% 2% 9%;
font-size: 15px;
display: block;
top: 2vh;
z-index: -1;
color: #ffffff;
}
.doorsBox{
    position: relative;
}
.catalog_frame_door{
    position: absolute;
    top: 0;
    right:0;
}
.doorsBox:hover .image_door{
   animation: opendoor 0.8s forwards;
   animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.doorsBox:hover a.btn-model{
    background: #ff4200;
    color: #ffffff;
    transition: background 0.5s ease-in-out color ease-in-out 0.5s;
}
@keyframes opendoor {
    0% {
        transform: perspective(1000px) rotateY(0deg);
        transform-origin: 100% 50%;
        border-left: 0 ;
        border-left-width:0;
    }
    100% {
        transform: perspective(1000px) rotateY(-78deg);
        transform-origin: 100% 50%;
        border-right: 5px solid;
        border-right-width:5px;
        border-color: #bbb;
    }
}

@keyframes closedoor {
    0% {
        transform: perspective(1000px) rotateY(-78deg);
        transform-origin: 100% 50%;
        border-right: 5px solid;
        border-right-width:5px;
        border-color: #bbb;
    }
    100% {
        transform: perspective(1000px) rotateY(0deg);
        transform-origin: 100% 50%;
        border-left: 0 ;
        border-left-width:0;
    }
}

.contentMainImgContainer *{
    font-size: 3vh;
}
.contentMainImgContainer h3{
    font-size: 10vh;
    margin-top: 2vh;
}
.contentMainImgContainer i{
font-size: 6vh;
}
.catalog{
background-size: 110%;
background-position: top;
background-color: #1c1c1c;
height: 92vh;
}

.downBtn{
color: #ffffff;
font-size: 6vh;
}
.downBtn i:hover{
    color: #ff4200;
    cursor: pointer;
    transition: color ease-in-out 0.5s;
}

#warp_gallery_categories{
    text-align: center;
    margin-top: -3vh;
}

.dark_warp{
    background: rgba(0, 0, 0, 0.75);
    position: relative;
    margin: 1vh auto 0 auto;
    width: calc(67% - 60px);
    max-width: 1145px;
    padding: 0px;
    height: 45%;
    color:#ffffff;
}
.slideMobile{
    position: relative;
    height: 43vh;
}
.project_gallery_row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 5%;
    width: 100%;
}

.project_gallery_column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 1vh 2vh;
}

.project_gallery_column img {
    margin-top: 8px;
    vertical-align: middle;
    cursor: pointer;
}
.project_gallery_column img:hover{
    opacity: 0.7;
}
.preview_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.preview_modal .close{
    position: absolute;
    top: 14vh;
    right: 14vh;
    color: #f1f1f1;
    font-size: 8vh;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.preview_modal .next, .preview_modal .prev{
    position: absolute;
    color: #323234;
    font-size: 8vh;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    background: #f1f1f1;
    width: 8vh;
    opacity: 0.5;
    text-align: center;
}
.preview_modal .next{
    top: 50%;
    left: 1vh;
}
.preview_modal .prev{
    top: 50%;
    right: 1vh;
}
.preview_modal .next:hover, .preview_modal .prev:hover, .preview_modal .close:hover{
    color: #ff4200;
    opacity: 1;
}

.modal-content {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
#priceoffer_popup {
    display: none;
    position: fixed;
    z-index: -100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}
.popup_priceoffer_modal_content{
    position: relative;
    margin: auto;
    margin-top:5vh;
    padding: 0;
    width: 35%;
    background: #ff4200;
    padding: 18px;
    text-align: right;
    direction: rtl;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from { top: -300px; opacity: 0 }
    to { top: 0; opacity: 1 }
}

@keyframes animatetop {
    from { top: -300px; opacity: 0 }
    to { top: 0; opacity: 1 }
}

.tbContainer .longinput{
    width: calc(50vh - 14px);
}
.comments_row{
    display: -webkit-inline-box;
    padding: 2vh;
    margin: 2vh;
    display: -ms-inline-flexbox;
}
.comments_row div:first-child{
    margin-left: 2vh;
    display: inline-block;
}
.comments_row div:last-child{
    max-width: 80%;
    display: inline-block;
}
.comments_row img{
    width:50%;
}
.comments_row q{
    quotes: '”' '“' '’' '‘';
    padding: 1vh 1vh;
    word-break: break-word;
}
.comments_row q::before{
    font-size: 5vh;
    content: open-quote;
    color: #ff4200;
}
.comments_row q::after{
    font-size: 5vh;
    content: close-quote;
    color: #ff4200;
}
.infoContactBox.active{
    background: #ff4200;
    color: #ffffff;
    transition: background ease-in-out 0.5s;
}
.branches_descriptions{
    display: none;
}
.branches_descriptions.active{
    display: block;
}
.on_map_btn.active .dialogbubbl_left, 
.on_map_btn.active .dialogbubbl_right{
    background: #ff4200;
    color:#ffffff;
    transition: background ease-in-out 0.5s;
}
.on_map_btn.active .dialogbubbl_left:before{
    border-right: 59px solid #ff4200;
    transition: border-right ease-in-out 0.5s;
}
.on_map_btn.active .dialogbubbl_right:before{
    border-left: 59px solid #ff4200;
    transition: border-left ease-in-out 0.5s;
}
#architects_tb{
    border-collapse: collapse;
}
#architects_tb .architect_name{
    font-weight: bold;
}
#architects_tb tr{
    border-bottom: 2px solid #ff4200;
    cursor: pointer;
}
#architects_tb tr:hover{
    box-shadow: 0px 4px 16px 4px #ff4200;
    transition: box-shadow ease-in-out 0.5s;
}
#architects_tb .architect_description{
    width:45%;
    padding: 1vh 3vh;
}
.btn_all_pages{
    background: #ff4200 url(../images/sale-btn.png) no-repeat 1vh 2.5vh;
    padding: 2vh 2vh 2vh 5vh;
    height: 7.5vh;
    font-size: 3vh;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    margin: 1vh 1vh;
    position:relative;
}

.btn_all_pages:hover{
    
    background: #ffffff;
    color: #ff4200;
    transition: background ease-in-out 0.5s;
}
.door_name_catalog_preview{
   float: right;
}

.flex_container{
    display: flex;
    height: 54vh;
    min-height: 50vh;
    width: 70%;
    margin: 10.5vh 15%;
    position: absolute;
}

.flex_container > .flex_container_box {
    width: 60%;
    text-align: center;
    float: right;
}

.flex_container > .flex_container_box:last-child, .flex_container > .flex_container_box:first-child{
    width: 20%;
    background:none;
}

.door_wrap{
    float: left;
    position: relative;
}

.door_wrap img{
    position: absolute;
    width: 13.5vw;
}
.door_wrap .image_door{
    transform: perspective(1000px) rotateY(0deg);
    transform-origin: 100% 50% 0px;
    text-indent: 0px;
}

.choice_parts_door_list{
    position: relative;
    text-align: center;
}

.choice_parts_door_list ul{
    list-style-type: none;
    margin: 0 5%;
    padding: 2vh;
    overflow: hidden; 
}

.choice_parts_door_list ul li {
    float: right;
    border: 1px solid #dcd9d9;
    width: 27%;
    height: 100%;
    padding: 2vh;
}

.choice_parts_door_list ul li:hover{
    background: #ff4200;
    color: #ffffff;
    cursor: pointer;
    transition: background ease-in-out 0.5s;
}
.choice_parts_door_list ul li.active{
    background: #ff4200;
    color: #ffffff;
}
.choice_parts_preview_wrap{
    display: inline-flex;
    width: 100%;
    margin-top: 2vh;
}
.choice_parts_preview_wrap>.part_preview{
    width: 33%;
    cursor: pointer;
    padding: 1vh 7vh;
}
.choice_parts_preview_wrap>.part_preview img{
    float: left;
}
.header_door_wrap{
    font-size: 17px;
    position: relative;
    padding: 6vh 5vh;
    text-align: center;
    background: #000 url(../images/mainsimg/contentMainImgqq.jpg);
    color: #ffffff;
    height: 30vh;
}
.preview_modal #count_images{
    color: #ccc;
    position: absolute;
    left: 5vh;
    bottom: 21vh;
}

.block_wrap{
    display: block;
    position: relative;
    height: 35vh;
    margin: 0;
}
.block_box{
    position: relative;
    width: 45%;
    right: 0;
}
.block_box:first-child{
    float: right;
}
.block_box:last-child{
    float: left;
}
.block_box img{
    width: 100%;
}
.block_box:hover > img:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.5s;
}
.block_description{
    background: #ffffff;
    width: 89%;
    height: 15vh;
    position: absolute;
    bottom: -7vh;
    left: 0;
    box-shadow: 7px 3px 6px 0px #bfbfbf;
    display: block;
}

.block_date{
    width: 25%;
    float: right;
    text-align: center;
    padding-top: 8%;
    font-size: 4.4vh;
    border-left: 1px solid;
    padding-bottom: 4vh;
    font-family: sans-serif;
    color: #ff4200;
}
.block_title{
    text-align: center;
    font-size: 2.6vh;
    color: #ff4200;
    padding-top: 2vh;
}
.block_title span{
    color: rgba(34, 34, 34, 0.5411764705882353);
}

.video_wrap {
    position: relative;
    min-height: 60vh;
    display: inline-block;
}

.video_box {
    padding: 0 6px;
    float: right;
    width: 29%;
    margin: 1vh 1%;
}

.video_gallery {
    border: 1px solid #ccc;
}

.video_gallery iframe {
    width: 100%;
    height: auto;
}

.video_box .desc {
    padding: 15px;
    text-align: center;
}
.num_pages_wrap{
    position: relative;
    bottom: 0;
    text-align: center;
    direction: rtl;
    margin-top: 4vw;
}
.num_page_btn{
    background: #ff4200;
    color: #ffffff;
    height: auto;
    font-weight: bold;
    padding: 1vh;
    cursor: pointer;
    width: 4vh;
    height: 3vh;
    display: inline-block;
}
.num_page_btn:hover{
    background: #ffffff;
    color: #ff4200;
    transition: background ease-in-out 0.5s;
}
/* ------------  media --------------------------------------*/
@media all and (min-width:1900px){
    .container
    {
        width: 100%;
    }
    .doorsBox {
        width: 163px;
        margin-top: 15%;
    }

    .flex_container{
        margin: 13.5vh 15%;
    }
    .contactImgBg ul li div {
        width: 18vh;
        height: 18vh;
    }
    .branches_descriptions.active .infoContactBox{
        min-height: 14vh;
    }
    .branches_wrap{
        height: 70vh;
    }
}


@media (min-width: 481px) and (max-width: 767px) { /* mobile Landscape */
    
    .iconBg:hover+.sticker_description{
        right: -27vh;
    }

    #closed_sticker_flag{
        display:block;
        margin-right: 1vw;
        right: 6vh;
        
    }
    #side_sticker{
        top:3%;
        margin-top: 8vw;
        right: -10vh;
    }
    .btn_wrap_comments{
        bottom: -10vw;
        right: 25vw;
    }
    .second_comment_slide{
        display: none;
    }
    .only_mobile{
        display: block;
    }
    .nav{
        width: 100%;
    }
    .slideMobile{
        height: 70vh;
    }
    .mySlides, #cur_wrap{
        height: 70vh;
    }
    .overlay_slides_wrap{
        height: 70vh;
    }
    .door_info_container{
        max-width: 369px;
        box-sizing: border-box;
        background: rgba(37, 37, 37, 0.72);
        position: absolute;
        top: 11vh !important;
        padding: 0 5px !important;
        bottom: auto;
        height: 50vh;
        width: 50%;
        font-size: 20px;
    }
    .door_img{
        top: 6vh !important;
        padding: 0 5px !important;
        height: 60vh;
        width: 30vh;
        right: 0;
    }
    .slider_left_text{
        display: none;
    }
    #closed_sticker_flag{
        top:30vh;
    }
    #phone_number_mobile{
        display: block;
        margin-top: 1vh;
        font-size: 5vw;
    }
    .container ul{
        width: 72%;
        margin: 2% 14%;
    }
    .contactImgBg ul li{
        width: 100%;
    }
    .contactImgBg ul li div{
        padding: 0;
        height: 2%;
        width: 100%;
    }
    #branches_wrap{
        font-size: 4vh; 
    }
    .brancheName, .addresInfo{
        width:100%;
    }
    .catalog{
        background: #1c1c1c;
        height:85vh;
        height: fit-content;
        height: -moz-fit-content;
    }
    .description_door_catalog{
        display: inline-block;
    }
    .contentMainImgContainer *{
        font-size: 6vh;
    }
    .contentMainImgContainer h3{
        font-size: 10vh;
        font-weight: bold;
        margin-top: 16vh;
    }
    .downBtn{
        display: none;
    }
    .galleryContainer a span.imgInfo{
        bottom:0;
    }
    .project_gallery_column {
        -ms-flex: 45%;
        flex: 45%;
        max-width: 45%;
        padding: 0 1%;
    }
    .modal-content {
        top:1%;
        width: 65%;
    }
    .nav ul .navLink:hover{
        box-shadow: unset;
        color: unset;
        -webkit-transition :  unset;
        -moz-transition: unset;
        -o-transition: unset;
        transition: unset;
    }
    .contactForm{
        height: 110vh;
    }
    .contactForm .tb3, .contactForm .tb2{
        height: 10vh;
    }
    .doorsBox:hover .image_door{
        animation: 0;
     }
     .catalog_frame_door{
        display: none;
    }
    .tbContainer .longinput{
        width: calc(36vh - 14px);
    }
    #architects_tb{
        font-size: 15px;
    }
    #architects_tb .architect_logo{
        width: 25%;
        float: right;
    }
    #architects_tb .architect_logo img{
        width: 15vw;
    }
    #architects_tb .architect_description{
        width: auto;
    }
    .choice_parts_door_list ul{
        display: inline-flex;
        position: relative;
        width: 77%;
        margin: 2% 8%;
    }
    .choice_parts_door_list ul li{
        position: relative;
        height: auto;
    }
    .choice_parts_door_list ul li select{
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
    }
    .preview_modal .next, .preview_modal .prev{
        display: none;
    }
    .video_box {
        width: 42%;
    }
}

@media (min-width: 320px) and (max-width: 500px) {
   
    .mySlides, #cur_wrap{
        height: 42vh;
    }
    .overlay_slides_wrap{
        height: 42vh;
    }
    .door_info_container{
        max-width: 369px;
        box-sizing: border-box;
        background: rgba(37, 37, 37, 0.72);
        position: absolute;
        top: 5vh !important;
        padding: 0 5px !important;
        bottom: auto;
        height: 30vh;
        width: 50%;
        font-size: 16px;
    }
    .door_img{
        top: 6vh !important;
        padding: 0 5px !important;
        height: 30vh;
        width: 15vh;
        right: 0;
    }
    .slider_left_text{
        display: none;
    }
    #closed_sticker_flag{
        display:block;
        right: 7vh;
    }
    #side_sticker{
        right: -15vh;
    }
    .iconBg:hover+.sticker_description{
        right: -27vh;
    }
    .btn_wrap_comments{
        right: 8vw;
    }
    .second_comment_slide{
        display: none;
    }
    .only_mobile{
        display: block;
    }
    .nav{
        width: 100%;
    }
    #phone_number_mobile{
        display: block;
        margin-top: 1vh;
        font-size: 5vw;
    }

    .scrollingImageContainer img{
        width:47%;
    }
    .container ul{
        width: 72%;
        margin: 2% 14%;
    }
    .contactImgBg ul li{
        width: 100%;
    }
    .contactImgBg ul li div{
        padding: 0;
        height: 2%;
        width: 100%;
    }
    #branches_wrap{
        font-size: 2vh; 
    }
    .brancheName, .addresInfo{
        width:100%;
        font-size: 1em;
    }
    .description_door_catalog{
        display: inline-block;
        top: 0;
    }
    .catalog{
        background: #1c1c1c;
        height:85vh;
        height: fit-content;
        height: -moz-fit-content;
    }
    .contentMainImgContainer *{
        font-size: 3vh;
    }
    .contentMainImgContainer h3{
        font-size: 6vh;
        font-weight: bold;
        margin-top: 5vh;
    }
    .contentTxt{
        font-size: 2.5vh;
        padding: 1vh 8vh;
        word-break: break-word;
    }
    .downBtn{
        display: none;
    }
    .dark_warp{
        width: calc(100% - 60px);
        height: 68%;
    }
    .galleryContainer a span.imgInfo{
        bottom:0;
    }
    .project_gallery_column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 89%;
        padding: 0 1%;
    }
    .modal-content {
        width: 85%;
    }
    .nav ul .navLink:hover{
        box-shadow: unset;
        color: unset;
        -webkit-transition :  unset;
        -moz-transition: unset;
        -o-transition: unset;
        transition: unset;
    }
    .contactForm{
        height: 110%;
    }
    .popup_priceoffer_modal_content{
        width: 80%;
    }
    .doorsBox:hover .image_door{
        animation: 0;
     }
     .catalog_frame_door{
         display: none;
     }
     .tbContainer .longinput{
        width: calc(36vh - 14px);
    }
    #architects_tb{
        font-size: 15px;
    }
    #architects_tb tbody tr td{
        display: block;
    }
    #architects_tb .architect_logo{
        width: 25%;
        float: right;
    }
    #architects_tb .architect_logo img{
        width: 17vw;
    }
    #architects_tb .architect_description{
        width: auto;
    }
    .choice_parts_door_list ul{
        display: inline-flex;
        position: relative;
        width: 77%;
        margin: 2% 8%;
    }
    .choice_parts_door_list ul li{
        position: relative;
        height: auto;
    }
    .choice_parts_door_list ul li select{
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
    }
    .preview_modal .close{
        right: 47%;
        top: 10vh;
    }
    .preview_modal .next, .preview_modal .prev{
        display: none;
    }
    .galleryContainer
    {
        text-align:right; 
        direction:rtl;
        padding: 1% 8%;
    }
    .block_wrap{
        padding: 0;
        height: 65vh;
        width: 100%;
    }
    .block_box:first-child, .block_wrap .block_box:last-child{
        float: none;
        margin-bottom: 10vh;
        width: 100%;
    }
    .block_box img{
        width: 100%;
        z-index: 400;
    }
    .block_description{
        height: 13vh;
        width: 90%;
        z-index: 500;
    }
    .block_date{
        font-size: 100%;
    }
    .block_title{
        padding-top: 1vh;
        font-size: 80%;
        padding-bottom: 1vh;
    }
    .section_title{
        margin-right: 0;
    }
    .video_wrap {
        padding: 2vh 1%;
        display: inline-block;
        margin-right: 0;
    }
    .video_wrap h2{
        font-size: 27px;
    }

    .video_box {
        width: 100%;
    }
    .num_pages_wrap{
        margin: 2vh 0;
    }
    a.pandor-collection-btn{
        padding: 5px 4px;
        font-size: 12px;
    }
}

.select_item{
    background: #ff4200;
    color: #fff;
    height: auto;
    font-weight: 700;
    padding: 1vh;
    cursor: pointer;
    width: 150px;
    height: auto;
    display: inline-block;
    font-size: 15px;
    border: 0;
    margin: 0vh 3vh 2vh;
}