/* assistant-200 - hebrew_latin */
@font-face
{
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 200;
    src: local('Assistant ExtraLight'), local('Assistant-ExtraLight'), url('/fonts/Assistant/Assistant-ExtraLight.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* assistant-300 - hebrew_latin */
@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 300;
    src: local('Assistant Light'), local('Assistant-Light'), url('/fonts/Assistant/Assistant-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* assistant-regular - hebrew_latin */
@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    src: local('Assistant'), local('Assistant-Regular'), url('/fonts/Assistant/Assistant-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* assistant-600 - hebrew_latin */
@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 600;
     src:      local('Assistant SemiBold'), local('Assistant-SemiBold'), url('/fonts/Assistant/Assistant-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* assistant-700 - hebrew_latin */
@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 700;
     src: local('Assistant Bold'), local('Assistant-Bold'), url('/fonts/Assistant/Assistant-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* assistant-800 - hebrew_latin */
@font-face
{
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 800;
    src: local('Assistant ExtraBold'), local('Assistant-ExtraBold'),  url('/fonts/Assistant/Assistant-ExtraBold.ttf') format('truetype'); /* Safari, Android, iOS */
}

/*#region CSS Reset*/

body, img, p, form, a, div, li, input, textarea, h1, h2, h3, h4, h5, h6,table{ margin:0px; padding:0px; }
a, img, input, textarea{ border:0px; border-style:none; }
a{ text-decoration:none; }
p{ margin-bottom:12px; }

/*REMOVE THE OUTLINE BORDER WHEN CLICKING ON EN ELEMENT IN FF AND IE8*/
/*for FireFox*/
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="image"]::-moz-focus-inner, img::-moz-focus-inner, a::-moz-focus-inner{ border: 0px; }
/*for IE8 */
input[type="submit"]:focus, input[type="button"]:focus, input[type="image"]:focus, img:focus, a:focus{ outline: none; }

/*ALWAYS DISPLAY VERTICAL SCROLLBAR*/
html{ overflow: -moz-scrollbars-vertical; }
html{ overflow-x: hidden; }
html{ overflow-y: scroll; }

/*REMOVE INPUT FIELDS BORDERS IN CHROME*/
*:focus {outline: none;}

/*#endregion*/

/*#region General Classes*/

.center{ margin:0 auto; }
.pointer{ cursor:pointer; }
.bold_over:hover { font-weight:bold; }
.inline{ display:inline; }
.b{ font-weight:bold; }
.ta_center{ text-align:center; }
.d_none{ display:none; }
.rtl{ direction:rtl; }
.ltr{ direction:ltr; }
.clearB{ clear:both; }
.floatR{ float:right; }
.floatL{ float:left; }
.mb20px { margin-bottom:20px !important;  }
.mt20px { margin-top:20px; }
.dBlock { display: block; }
.w100per { width: 100% !important; }
.border_red { border:solid 1px red !important; }
.mb5px
{
    margin-bottom:5px;
}

/*#endregion*/

/*#region General Definitions*/

body{
    background:#ffffff url(../images/bodybg.gif) repeat-x left 10px;
	font:20px 'Assistant', Exo2_Light, Arial; 
    font-weight:300;
	color:#202020; 	
    position:relative;
    -webkit-appearance: none !important;
}
.container
{
	width:100%;
    max-width:907px;
	margin:0 auto;
	position:relative;
	text-align:left;
}
strong, b
{
    font-family:Assistant;
}
h1, .h1, h1 a:active, h1 a:link, h1 a:visited, h1 a:hover
{
	font:bold 16px 'Assistant' , Exo2_Light, Arial; 
}
h2, .h2, h2 a:active, h2 a:link, h2 a:visited, h2 a:hover
{
	font:bold 16px 'Assistant' , Exo2_Light, Arial; ;
	color:#202020;
	margin-top:5px;
}
h3, .h3, h3 a:active, h3 a:link, h3 a:visited, h3 a:hover
{
}
h4, .h4, h4 a:active, h4 a:link, h4 a:visited, h4 a:hover
{
}
h5, .h5, h5 a:active, h5 a:link, h5 a:visited, h5 a:hover
{
}
h6, .h6, h6 a:active, h6 a:link, h6 a:visited, h6 a:hover
{	
}
p, .p, p a:active, p a:link, p a:visited, p a:hover
{
}
a:link { color:#3c1b0c; }
a:visited { color:#3c1b0c; }
a:hover { color:#3c1b0c; } 
a:active {color:#3c1b0c; }

input
{
}
select
{
}
textarea
{
}

/*#endregion*/

/*#region Header*/
header
{
    height:166px;
    position:relative;
}
@supports (-webkit-appearance:none) {
    header {
         height:167px;
    }
}       
.top-strip
{
    width:100%;
    background:#feb008;
    padding:10px 5px;
    box-sizing:border-box;
}
.logo img
{
    transition: opacity 1s;
    width:100%;
}
.logo img:hover
{
    opacity:0;
}
.mobileLogo
{
    display:none;
}
.logo
{
    max-width:200px;
    width:100%;
    height:107px;
    background:url('../images/logoHover.png') no-repeat top left;
    display:block;
    position:relative;
    top:35px;
    transition: opacity 1s;
    margin:0 auto;
}
@media all and (max-width: 817px)
{
    .logo img
    {
        opacity:1 !important;
    }
}

.langNav
{
    list-style:none;
    background-color:transparent;
    padding:0;
    margin:0;
    position:relative;
    top:-2px;
}
.langNav li
{
    display:table-cell;
    vertical-align:middle;
    text-align:center;   
}
.langNav li:nth-child(2)
{
    padding-right:10px;
    background:url('../images/siteMap.gif') no-repeat center right;
}
.langNav li:nth-child(3)
{
    padding-left:10px;
}
.langNav li a
{
    font:18px 'Assistant' , Exo2_Light, Arial; 
    padding:5px;
    height:30px;
    color:#023c4a !important;
    transition:all 0.5s;
    border-radius:0;
}
    .langNav li:nth-child(2) a
    {
        padding-left:0;
    }
.langNav li:hover a, .langNav li a.Selected
{
    color:#ffffff !important;
}
@-moz-document url-prefix() {
	.engBtn { line-height:20px; }
}
.socialMediaContainer
{
    position:absolute;
    left:-279px;
    z-index:1000;
    width:279px;
    height:312px;
    background: #feb008;
     color:#ffffff !important;
    transition: left 1s, background 1s, color 1s;
    z-index:1000000;
    box-sizing:border-box;
    padding:40px;
}
.socialMediaContainer:hover
{
    left:0;
} 
a.socialMedia
{
    display:block;
    width:47px;
    height:47px;
    position:absolute;
    top:0;
    right:-47px;
    background:#feb008 url('../images/socialTab.png') no-repeat -57px center;
}
.socialMediaContainer:hover a.socialMedia
{
    background:#feb008 url('../images/socialTab.png') no-repeat 13px center;
}
.addthisContainer
{
    width:100%;
    height:100%;  
    background:#ffffff;
    color:#000000;
    padding:30px 40px;
    box-sizing:border-box;
    text-align:left;
    font-size:20px
}
.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m
{
    padding:6px 0;
}
.contactTabHolder > div
{
    padding:38px;
}

@media all and (max-width: 817px)
{
    .socialMediaContainer, .contactTabHolder, .searchTab
    {
        display:none;
    }
    nav
    {
        z-index: 990;
    }

    /*.langNav li:nth-child(2)
    {
    background:none;
    border-left:none;
    }*/

}
@media all and (max-width: 500px)
{
    .logo
    {
        display:none;
    }
    .mobileLogoLink
    {
    }
    .mobileLogo
    {
        display:block;
        margin:0 auto;
        width:80%;
        max-width:200px;
    }
}
.contactTab
{
    position:absolute;
    left:-279px;
    z-index:1200;
    width:279px;
    height:356px;
    background:#feb008;
    text-align:center;  
    color:#000000;
    transition: left 1s, background 1s, z-index 1s;
}
.searchTab
{
    height:47px;
    z-index:1000;
    padding:10px;
    box-sizing:border-box;
    text-align:left;
}
.contactTab:hover
{
    left:0;
    z-index:1000000;
}
.contactTabLink
{
    color:#000000 !important;    
    font-size:18px;
    display:block;     
    text-align:center;
    padding-top:10px;
    width:112px;
    height:47px;
    position:absolute;
    right:-79px;
    top:32px;
    background:#feb008;
    box-sizing:border-box;
    transition: background 1s;
    -ms-transform:rotate(-90deg); /* IE 9 */
    -webkit-transform:rotate(-90deg); /* Chrome, Safari, Opera */
    transform:rotate(-90deg); /* Standard syntax */   
}
.searchTab .contactTabLink
{
    width:47px;
    height:47px;
    background:#feb008 url(../images/searchIcon.png) no-repeat -59px 14px;
    transform:rotate(0);
    box-sizing:border-box;
    right:-47px;
    top:0;
    position:absolute;
    transition:none;
}
.searchTab:hover .contactTabLink
{
    background:#feb008 url(../images/searchIcon.png) no-repeat 14px 14px;
    color:#ffffff !important;
}
.contactTabTb
{
    text-align:left;
    direction:ltr;
    background:#ffffff;
    border:solid 1px #b1b1b1;
    color:#000000;
    font:17px 'Assistant' , Exo2_Light, Arial; ;
    height:60px;
    width:100%;
    padding:5px;
    margin-bottom:8px;
    box-sizing:border-box;
    box-shadow:none;
    border-radius:0;
}
.searchTab .contactTabTb
{
    background:#feb008;
    color:#000000;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:solid 1px #000000;
    height:25px;
    padding:2px 5px;
    margin-top:0 !important;
    transition: background 1s;
    box-sizing:border-box;
    box-shadow:none;
    border-radius:0;
}
.searchTab:hover .contactTabTb
{
    /*background:#07404e;*/
}
.contactTabTa
{
    text-align:right;
    background:#ffffff;
    color:#252525;
    font:17px 'Assistant' , Exo2_Light, Arial; ;
    height:70px;
    width:94px;
    padding:5px;
    margin:3px 10px;
    resize:none;
    box-shadow:none;
    border-radius:0;
}
.mt10
{
    margin-top:10px !important;
}
.errorStyle
{
    background:#ec0a53;
    color:#ffffff;
}
.contactTab .submitBtn {
    background:#000000;
    color:#ffffff;
    padding:10px;
    width:100%;
}
.searchTab .submitBtn
{
    background:none;
    width:40px;
    height:40px;
    color:transparent;
    position: absolute;
    top: 5px;
    right:-45px;
    width: 40px;
}
/*.contactTab .submitBtn:hover
{
    background:#32cbcd;   
}*/
.searchTab .submitBtn:hover
{
    background:none;
    color:transparent;
}
/*#endregion*/

/*#region Nav*/

nav
{
    width:calc(100% - 100px);
    text-align:center;
    margin:0 50px;
    height: 83px;
}

@media all and (max-width: 817px)
{
    nav
    {
        height: 40px;
        margin:0;
        width:100%;
    }
}

/*#endregion*/

/*#region Home Page*/

/*#region Slider*/

.slider img
{
    width:100%;
    /*cursor:pointer;*/
}
.slider a
{
    width:100%;
}
.posRel
{
    position:relative;
}
#HomeWideGalleryContainer
{
    margin-top:-4px;
}
@media all and (max-width: 600px)
{
   .posRel
    {
        width:90%;
        margin:0 auto;
    }
    #HebBtnLi, #EngBtnLi
    {
        display:inline-block;
    }
    #EngBtnLi
    {
        background:none;
    }
    #HomeWideGalleryContainer
    {
        margin-top:10px;
    }
    .logo
    {
        height:auto;
    }
}
.hWcustom-pager
{
    position:absolute;
    bottom:30px;
    left:0;
    padding:8px;
     background:#ffffff;
    z-index:2000;
    display:none;
}
.hWcustom-pager a:link
{
     color:#000000;
     display:block;    
     margin:5px 0;
     padding-bottom:1px;
     /*border-radius:18px;*/
     width:18px;
     height:18px;
     text-align:center;
     line-height:16px;
}
.hWcustom-pager a:hover, .hWcustom-pager .cycle-pager-active
{
     background:#e7e7e7;
     color:#000000 !important;
}

@media all and (max-width: 817px)
{
    .nextPrev { display:none !important; }
    .hWcustom-pager { display:none !important; }
}

.nextPrev .next
{
    background: url('../images/cycle_arrows.png')  no-repeat right top;
    width:72px;
    height:72px;
    position:absolute;
    bottom:15px;
    right:10px;
    z-index:1000;
    cursor:pointer;
    /*transition:background ease-in-out 0.5s;*/
}
.nextPrev .next:hover
{
    background:url('../images/cycle_arrows.png')  no-repeat  right -140px;
}
.nextPrev .prev
{
    background: url('../images/cycle_arrows.png') no-repeat left top;
    width:72px;
    height:72px;
    position:absolute;
    bottom:15px;
    right:40px;
    z-index:1000;
    cursor:pointer;
    /*transition:background ease-in-out 0.5s;*/
}
.nextPrev .prev:hover
{
    background:url('../images/cycle_arrows.png')  no-repeat left -140px;
}
@media all and (max-width: 500px)
{
    .hWcustom-pager { display:none; }
    .nextPrev { display:none; }
}
/*69Slider*/
.slider img.SliderImg
{
    width:895px;
    padding:5px;
    border:solid 1px #5f5f5f;
    cursor:pointer;
}

@media all and (max-width: 926px)
{
    /*69Slider*/
    .slider img.SliderImg
    {
        width: 100%;
        padding:5px;
        border: solid 1px #45967e;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

/*#endregion*/


/*#region Image Box*/

.ImgBoxWide
{
    position:relative;
    float:right;
    margin-left:6px;
    margin-bottom:6px;
    cursor:pointer;
    padding:5px;
    width:200px;  
    /*border: 1px solid transparent;*/
    overflow:hidden;
}
.ImgBoxWide:hover
{
    /*border: 1px solid transparent;*/
    transition: background 0.5s ease 0s;
}
.ImgBoxWide > a > img
{  
    width:100%;    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*border-bottom:solid 9px #d3020e !important;*/
    transform:scale(1.0);
    transition:background 0.5s ease, transform  0.5s ease;
}
.ImgBoxWide:hover > a > img
{   
    transform:scale(1.07);
}
.ImgBoxWide > a > .imgInfo
{
    width:96%;
    padding:10px 5px;
    text-align:center;
    background:none;
    position:absolute;
    background:#d3020e;
    color:#ffffff;
    bottom:0;
    left:0;
    font-size:16px;
    display:none;
}
.ImgBox
{
    width:218px;
    margin-right:10px;
    margin-bottom:30px;
    cursor:pointer;
    vertical-align:top;
    position:relative;
    transition:border 1s ease;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-bottom:10px;
}
    .ImgBox:nth-child(4n)
    {
        margin-right:0;
    }

.ImgBox > a
{
    display:block;
    overflow:hidden;
    height:232px;
    box-sizing:border-box;
    transition:all 0.2s ease-in;
    border-bottom:solid 6px transparent;
    position:relative;

}
.ImgBox:hover > a
{    
    height:232px;
}
.ImgBox > a > img
{
    width:100%; 
    display:block;   
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;    
    transform:scale(1.0);
    transition:background 0.5s ease, transform  0.5s ease;
}

.ImgBox:hover > a > img
{   
    transform:scale(1.2);
}
.ImgBox > a > .imgInfo
{
    width:100%;
    padding:0;
    text-align:center;
    color:#000000;
    position:absolute;
    right:0;
    bottom:0;
    display:block;
    font-size:20px;
    overflow:hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     background:#feb008;
     height:88px;
     text-align:center;
     display:none;
}
.imgInfo > span
{
    display:table-cell;
    width:230px;
    box-sizing:border-box;
    height:88px;
    vertical-align:middle;   
    text-align:center;
    font-size:26px; 
    font-weight:lighter;
    line-height:22px;   
}
.CatSubHeader
{
    position:absolute;
    bottom:-10px;
    right:0;
    height:20px;
    overflow:hidden;
    color:#3c1b0c;
    text-align:left;
}
.shortDesc
{
    text-align:left;
}
@media all and (max-width: 817px)
{
    .ImgBoxes
    {
        margin-bottom:30px;
    }
    .ImgBox
    {       
        width:49.5%; 
        margin:0 0 30px 0;
    }
    .ImgBox:nth-child(2n+1)
    {
        margin-right:1%;
    }
    .ImgBox a
    {
        height:auto;
        border-bottom:none;
        margin-bottom:0;
    }
    .ImgBox:hover a
    {
        height:auto;
        border-bottom:none;
        margin-bottom:0;
    }
   .ImgBox:hover > a > img
    {   
        transform:scale(1.0);
    }
    .ImgBox > a > .imgInfo
    {
        display:block !important;
        padding:5px;
        height:55px !important;
        position:relative;
        z-index:100;
        margin-top:-40px;
    }
    .ImgBox > a > .imgInfo span
    {
        height:auto;
        display:block;
        width:100%;
    }

}
@media all and (max-width: 470px)
{
    .ImgBox
    {
        height:auto !important;
    }
    .imgInfo > span
    {
        font-size:18px;
    }
}

/*#endregion*/

/*#region Textbox*/

.box
{
    /*font-size:15px;*/
    color:#202020;
    margin-bottom:85px;
}
.box h2, .contentContainer h1, .imgBoxHeader
{
    color:#202020;
    font-weight:300;
    font-size:45px;
    padding-left:20px;
    margin-bottom:10px;
    margin-top:0;
    line-height:45px;
    background:url(../images/headerIcon_en.png) no-repeat left 0;
}
/*.box h2
{
    
}*/
.box .txtBody
{
    /*padding:10px;
    border:solid 1px #e7e7e7;*/
}
#ContactFormContainer > div > div
{
    margin:10px 0;
} 
/*#endregion*/

/*#region Home Contact*/

.homeContact
{
    width:46%;
    float:left;
    margin-right:8%;
    /*height:320px;*/
    box-sizing:border-box;
    background:none;
}
/*.homeContact h2
{
    margin-bottom:0;
}*/
.mleft0
{
    margin-right:0 !important;
}

.homeContact .info
{
    max-height:40px;
    /*overflow:hidden;*/
    line-height:22px;
    margin-bottom: 10px;
}

.homeContact .contactForm
{
    margin:0;
}

.homeContact .contactForm .tb
{
    border:solid 1px #b1b1b1;
    background:#ffffff;
    /*box-shadow: 3px 3px 5px #000000 inset;*/
    padding: 0 15px;
    height:60px;
    color:#3f3f3f;
    font:17px 'Assistant' , Exo2_Light, Arial;
    width:100%;
    margin-bottom:8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow:none;
    border-radius:0;
    -webkit-appearance: none !important;
}

.facebookContent
{
    height:230px;
    overflow:hidden;
    line-height:20px;
    margin: 10px 0;
}

.tbShort
{
    border:solid 1px #b1b1b1;
    background:#ffffff;
    padding: 0 15px;
    height:60px;
    color:#3f3f3f;
    font:17px 'Assistant' , Exo2_Light, Arial;
    width:49%;
    margin-right:2%;
    margin-bottom:8px;
    float:left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow:none;
    border-radius:0;
    -webkit-appearance: none !important;
}

.contactForm button, .sendBtn, .submitBtn
{
    /*padding:10px 0;*/
    width:195px;
    text-align:center;
    background:#feb008;
    color:#000000;
    font:bold 22px 'Assistant' , Exo2_Light, Arial; 
    border:none;
    cursor:pointer;
    float:right;
    font-weight:normal;
    height:54px;
    box-sizing:border-box;
    transition:all 0.5s;
    border-radius:0;
    -webkit-appearance: none !important;
}
.contactForm button:hover, .sendBtn:hover, .submitBtn:hover
{
    background:#000000;
    color:#ffffff;
}
.sendBtn
{
    margin-right:1%;
}
/*#RL > div
{
    background:#ffffff !important;
}*/
.txtBox.contact .sendBtn
{
    width:24%;
}
@media all and (max-width: 926px)
{
    .homeContact
    {
        width: 49%;
        float: right;
        margin-left: 2%;
        height: 325px;
    }

    .tbShort
    {
        width: 100%;
    }
    .mt29px, .mt38px
    {
        display:none;
    }
}

@media all and (max-width: 817px)
{
    .homeContact
    {
        width:100%;
        height:auto;
        margin:10px 0;
    }
    .shaddowImgleft
    {
        display:none;
    }
}

/*#endregion*/

/*#region Home Scrolling Images*/

.scrollingImageContainer
{

    padding:0;
    margin-right:1%;
    float:left;
    border-bottom:solid 1px #ffffff;
    /*border-left:solid 1px #d6d6d6;*/
}
.scrollingImageContainer a:hover
{
    text-decoration:underline;
}
.scrollingImageContainer:first-child
{
    /*border-right:solid 1px #d6d6d6 !important;*/
}
.scrollingImageContainer:last-child
{
    /*border-left:none !important;*/
}
.scrollingImagesWrapper
{
    float:right;
    width:100%;
    margin:0;
}
#custom-pager
{
    float:right;
    margin-top:-50px;
    margin-right:4px;
}
#custom-pager a:link, #custom-pager a
{
     color:#03222a;
     display:block; 
     float:left;    
     margin:0 1px;
     padding-top:1px;
     border-radius:14px;
     width:14px;
     height:14px;
     text-align:center;
     line-height:18px;
     background:#202020;
}
#custom-pager a:hover, .cycle-pager-active
{
     background:#feb008 !important;
     color:#ffffff !important;
}
.PauseBtn
{
    background:url('../images/pauseBtnBg.png') no-repeat;
    width:22px;
    height:22px;
    float:right;
    cursor:pointer;
    opacity:0.6;
}
.resumeBtn
{
    background:url('../images/resumeBtnBg.png') no-repeat;
    width:22px;
    height:22px;
    float:right;
    margin-right:5px;
    cursor:pointer;
}
.PausePlayContainer
{
    /*background:#ffffff;*/
    padding:5px;
    width:130px;
    float:left;
    margin-bottom:-30px;
    position:relative;
    display:none;
}
.PausePlayContainer span
{
    position:absolute;
    top:8px;
}
.mb50px
{
    margin-bottom:50px;
}
.cycle-paused ~ .PausePlayContainer .resumeBtn
{
    opacity:0.6;
}
.cycle-paused ~ .PausePlayContainer .PauseBtn
{
    opacity:1;
}
/*@media all and (max-width: 817px)
{
    .scrollingImageContainer
    {
         width:33.33333333%;
    }

}
@media all and (max-width: 600px)
{
    .scrollingImageContainer
    {
         width:50%;
    }

}*/
@media all and (max-width: 600px)
{
    /*.scrollingImageContainer
    {
         width:100%;
    }*/
    #custom-pager
    {
        display:none;
    }

}
/*#endregion*/

/*#endregion*/

/*#region Content Page*/

.contentContainer
{
    width:917px;
    margin:45px auto 85px auto;
    box-sizing:border-box;
    position:relative;
}
.Ttl
{
    /*padding:2px 0;*/
    color:#02232a;
    box-sizing:border-box;
}

.imgContainer
{
    width:30%;
    float:left;
    margin-right:38px;
    margin-top:10px;
}
.imgContainer a
{
    display:inline-block;
}
.imgContainer img
{
    width:100%;
    display:block;
    transition:box-shadow 0.5s ease;
    cursor:pointer;
    border:solid 1px #ffffff;
    transition:all 1s;
}
.imgContainer img:hover
{
    border:solid 1px #0d0d0d;
}
.fancybox-title
{
    text-align:right;
}
.imgContainer .contentImgInfo
{
    font-size:16px;
    line-height:16px;
    /*margin-top:5px;*/
    margin-bottom:25px;
}
.txtContainer
{
    float:right;
    /*margin:0 15px 10px 0;*/
    width:calc(70% - 38px);
    /*background:#fcfcf9;*/
}
.contentContainer .txtContainer h2
{
    font-size:25px;
    line-height:29px;
    font-weight:300;
    margin-top:0;
    margin-bottom:27px;
}
.txtContainer .txt
{
    line-height:26px;
}
.ShareAndLike
{
	/*float:left;*/
	/*padding:0 10px;
	1413:solid 1px #000000;
	border-right:solid 1px #000000;
	background: linear-gradient(#272727, #121212);
	margin-right:10px;*/	
	/*height:50px;*/
}
.socialNetworking
{
	position:absolute;
	left:0;
	bottom:10px;
}
.socialNetwork
{
	display:inline-block;
	width:149px !important;
	height:56px;
    border:dotted 1px #000000;
	margin-right:5px;
    margin-bottom:5px;
	background:url('../images/snImgs.png') no-repeat;
    box-sizing:border-box;
    padding-top:13px;
    text-align:right;
    padding-right:15px;
    font-size:20px;
    color:#000000;
    vertical-align:top;
    transition:border,background-color 1s ease-in-out;
}
.socialNetwork:hover
{
    border:solid 1px #feb008;
    background-color:#feb008;
}
.socialNetwork span { display:none;}
.sn3 { background-position:15px 11px; }
.sn1 { background-position:15px -125px; }
/*.sn6 { background-position:15px 11px; }*/
.sn5 { background-position:15px -55px; }
.likebtn
{
	border:dotted 1px #000000;
    display:inline-block;
    vertical-align:top;
	width:149px !important;
	height:56px;
    text-align:center;
    padding-top:11px;
    margin-bottom:5px;
    margin-right:5px;
    box-sizing:border-box;
    transition:border,background-color 1s ease-in-out;
}
.likebtn:hover
{
    border:solid 1px #feb008;
    background-color:#feb008;
}
.fb-comments, .fb-comments iframe[style] {width: 100% !important;}
.at4-icon
{
    display:none !important;
}
#FacebookCommentsContainer .box h2, #ContactFormContainer .box h2,  
#SocialContainer .box h2
{
    font-size:36px;
}
@media all and (max-width: 926px)
{
    /***********************CONTENNT PAGE*****************************/

    .contentContainer
    {
        width:98%;
        margin:20px auto;
    }

    .imgContainer img
    {
        width:100%;
        max-width:none !important;
        float:right;
    }
    .imgContainer .contentImgInfo
    {
        font-size:12px;
        margin:4px 0 10px 0;
    }
}
@media all and (max-width: 700px)
{
    .box h2, .contentContainer h1, .imgBoxHeader
    {
        font-size:55px;
        line-height:55px;
        background:url(../images/headerIcon_en.png) repeat-y left top;
    }
    .contentContainer .txtContainer h2
    {
        font-size:24px;
        line-height:24px;
    }   
}
@media all and (max-width: 400px)
{
    .box h2, .contentContainer h1, .imgBoxHeader
    {
        font-size:35px;
        line-height:35px;
        margin-bottom:8px;
    }
    #FacebookCommentsContainer .box h2, #ContactFormContainer .box h2, #SocialContainer .box h2
    {
        font-size:26px;
        line-height:26px;
        margin-bottom:8px;
    }
    .contentContainer .txtContainer h2
    {
        font-size:20px;
        line-height:24px;
    }
    .txt
    {
        font-size:18px;
    }
    .contentContainer
    {
        width: 95.5%;
        margin: 20px auto;
    }
     header
    {
        height:auto  !important;
        padding:20px 0;
    }
    nav
    {
        height:auto !important;
        /*top:-10px;*/
    }
    .imgContainer
    {
        width: 100%;
        float: right;
        margin-right:0;
    }

    .imgContainer img
    {
        width: 100%;
        float: right;
    }

    .txtContainer
    {
        float: left;
        width: 100%;
    }
    .langNav
    {
        top:0;
        left:0;
    }
    /*.langNav li a
    {
        font-size:14px !important;
        padding:5px;
    }*/

}

/*#endregion*/

/*#region Contact Box*/

.contact
{
    padding-bottom:10px;
}
.contact .txtBody
{
    padding-right:1.5%;
}
.contact .tb
{
    border:solid 1px #b1b1b1;
    background:#ffffff;
    border-radius:2px;
    /*box-shadow: 3px 3px 5px #000000 inset;*/
    padding:0 15px;
    height:60px;
    margin-bottom:10px;
    margin-right:1%;
    width:24%;
    color:#000000;
    font-size:16px;
    font-family:'Assistant' , Exo2_Light, Arial;
    float:left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-shadow:none;
    border-radius:0;
    -webkit-appearance:none !important;
}
.contact .tb.medium
{
    margin-right:1%;
    width:48.75%;
}
.contact .tb.long
{
    margin-right:0;
    width:99%;
}
.contact .ta
{
    border:solid 1px #b1b1b1;
    background:#ffffff;
    border-radius:2px;
    /*box-shadow: 3px 3px 5px #000000 inset;*/
    padding:15px;
    margin-right:1%;
    margin-bottom:10px;
    width:99%;
    height:80px;
    color:#000000;
    font-size:16px;
    font-family:'Assistant' , Exo2_Light, Arial;
    float:left;
    resize:none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.contact .cb
{
    margin-right:1%;
    margin-bottom:10px;
    font-size:17px;
    float:left;
}
@media all and (max-width: 600px)
{
    .contact .tb
    {
        width:98% !important;   
    }
    .contact .cb
    {
        width:96%;  
    }
    div.fileinputs
    {
        width:98% !important;
    }
    .ddlButton
    {
        width:10% !important;
    }
    .fakefileText
    {
        width:88% !important;
    }
    .selectboxit-container.selectboxit-container
    {
         width:98% !important;
    }
    .selectboxit-text
    {
        margin-top:0px !important;
        float:right !important;
        margin-right:10%;
    }
    .selectboxit-container .ddlButton
    {
        width:100% !important;
    }
    .selectboxit-container .selectboxit .selectboxit-arrow-container
    {
        width:10% !important;
    }
    .selectboxit-text
    {
        width:90% !important;
    }

}
/*#region Drop Down List*/

.selectboxit-container.selectboxit-container
{
    width:23.75%;
    margin-right:1%;
    margin-bottom:10px;
    float:left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.selectboxit-container.medium
{
    width:48.75% !important;
    margin-right:1% !important;
}
.selectboxit-container.long
{
    width:99%;
    margin-right:1%;
}
.selectboxit-container .selectboxit
{
    width:100% !important;
    background-color:#ffffff !important;
    border:solid 1px #b1b1b1 !important;
    border-radius:2px;
    color:#000000 !important;
    box-sizing: border-box;
    height:60px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.contact .selectboxit-container .selectboxit-options
{
    text-align:left !important;
    top:60px !important;
    min-height:unset !important;
}
.selectboxit-list
{
    background-color:#ffffff !important;
    border:solid 1px #b1b1b1 !important;    
}
.selectboxit-list a
{
    color:#000000 !important;
}
.selectboxit .selectboxit-option-icon-container
{
    margin-left:0 !important;
}
.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor
{
    background-color:#b1b1b1 !important;
    color:#ffffff !important;
}


/*#endregion*/

/*#region File Upload*/

/*#region File Upload*/

div.fileinputs {
	position: relative;	
	width:23.75%;
	height:60px !important;
	margin-right:1%;
    margin-bottom:10px;
}
div.fileinputs.medium
{
    width:48.75%;
    margin-right:1%;
}
div.fileinputs.long
{
    width:99%;
    margin-right:0;
}
div.fakefile {
    background:#ffffff;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	/*background:url('../images/fileUploadBg.png') no-repeat top right;*/
	width:100%;
	height:60px !important;
    border:1px solid #b1b1b1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow:hidden;
    color:#000000;
}

.ddlButton
{
    height:100%;
    /*width:20%;*/
    float:right !important;
}
.selectboxit-arrow-container
{
    width:auto !important;
    height:60px;
}
.selectboxit-text
{
    margin-top:0;
    width:calc(100% - 60px);  
}
.selectboxit-container span
{
     height:60px !important;
     line-height:60px !important;
}
.fakefileText
{
	overflow:hidden;
    line-height:60px;
    margin-left:5px
}

input.file 
{
	position: relative;
	text-align: right;
	-moz-opacity:0;
	opacity:0;
	filter:alpha(opacity=0);
	z-index: 2;
	width:100%;
	height:60px;
	cursor:pointer;
	float:right;
}

.fakefile input
{
	-moz-opacity:0;
	opacity:0;
	filter:alpha(opacity=0);	
}

.fileUploadInfo
{
	display:none;
	/*background:url('../images/fileUploadInfo.png') no-repeat bottom left;*/
	width:95px;
	height:47px;
	position:absolute;
	left:-12px;
	top:-1px;	
	cursor:pointer;
}
/*.fileUploadInfo:hover { background:url('../images/fileUploadInfo.png') no-repeat top left; }*/

.fileUploadInfoNew
{
	display:none;
	/*background:url('../images/fileUploadInfo.png') no-repeat bottom left;*/
	width:95px;
	height:47px;
	cursor:pointer;
	float:left;
	margin-top:15px
}
/*.fileUploadInfoNew:hover { background:url('../images/fileUploadInfo.png') no-repeat top left; }*/

/*.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}*/

/*#endregion*/

/*#region Checkbox*/

label.cbLbl {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
    margin-top:10px;
	font-size: 13px;
    float:left;
}
input[type=radio],
input[type=checkbox] {
	display: none;
}
label.cbLbl:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border:solid 1px #b1b1b1;
    /*box-shadow: 3px 3px 5px #000000 inset;*/
    /*background:#efefef;*/
    color:#000000;
    border-radius:1px;
}

.radio label.cbLbl:before {
	border-radius: 8px;
}
.checkbox label {
	margin-bottom: 10px;
}
.checkbox label.cbLbl:before {
    border-radius: 1px;
}

input[type=radio]:checked + label.cbLbl:before {
    content: "\2022";
     color:#000000;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

input[type=checkbox]:checked + label.cbLbl:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #000000;
	text-align: center;
    line-height: 15px;
}

/*#endregion*/

/*#endregion*/

/*#endregion*/

/*#region Categories Page*/

.cat2Style
{
    /*width:1224px;*/
    width:100%;
    max-width:none;
    margin:0 auto;
    padding-bottom:20px;
}
.cat2Style .ImgBox, .cat2Style .ImgBoxWide
{
    position:relative;
    float:right;
    margin-left:4px;
    margin-bottom:0;
}
.cat2Style .wideImg
{
    /*width:188px;
    height:372px;*/
}
.cat2Style .imgInfo
{
    width:186px;
    padding:10px 5px;
    text-align:center;
    color:#ffffff;
    background:#0b0b0b;
    /*opacity:0.85;*/
    position:absolute;
    bottom:5px;
    left:1px;
}
.ImgBoxes
{
    text-align:center;
    margin-bottom:85px;
}
.ImgBoxes .last
{
    margin-left:0;
}

.cat2Style .arrow
{
    position:absolute;    
    width:8px;
    height:25px;
    bottom:0;
    cursor:pointer;
    padding:5px;
}
.cat2Style .left
{
    background:url('../images/Cat2Arrows.png') no-repeat left -5px;
    left:2px;
}
.cat2Style .right
{
    background:url('../images/Cat2Arrows.png') no-repeat right -5px;
    right:0;
}
/*.cat2Style .ImgBox:nth-child(4n)
{
    margin-left:4px !important;
}*/

/*.cat2Style .ImgBox:nth-child(6n)
{
    margin-left:0 !important;
}*/

#HomeScrollingImagesBlockContainer
{
    overflow:hidden;
    /*max-height:170px;*/
    width:100%;
}

.categoriesContainerWide
{
    overflow:hidden;
    /*height:388px;*/
    width:100%;
    margin:0 auto;
}

.scrollingCategoriesWrapper
{
    float:right;
    width:100%;
}

.scrollingCategoriesWrapper .ImgBoxWide:last-child
{
    margin-left:0 !important;
}

#CategoriesContainer
{
    margin:0 auto;
}
.categoriesContainer
{
    text-align:center;
}
.dib
{
    display:inline-block;
    /*float:none !important;*/
}

/*#endregion*/

/*#region Footer*/

footer
{   
    background:#feb008;
    /*height:300px;*/
    box-sizing:border-box;
    padding-top:65px;
    position:relative;
    color:#000000;
    width:100%;
}
.footerStickToBottom
{
    position:absolute;
    bottom:0;
}
.footerTopStrip
{
    background:#0e0e0e;
    height:3px;
    margin-bottom:15px;
    display:none;
}
.footerBottomStrip 
{
    height:40px;
    background:#ffffff;
    color:#000000;
}
footer ul
{
    
    list-style:none;    
    margin:0;  
    padding:0;  
    /*background:url('../images/siteMap.gif') repeat-y left top;*/    
    line-height:22px;
    box-sizing:border-box;
}

footer ul.siteMapUl
{
    padding:5px 15px 15px 15px;
    width:calc(25% - 8px);
    box-sizing:border-box;
    float:left;
    margin-bottom:20px;
    margin-left:10px;
    background:url('../images/siteMap.gif') repeat-y top left;
}
footer ul.siteMapUl:last-child
{
    background-image:url('../images/siteMap.gif'), url('../images/siteMap.gif');
    background-position:top right, top left;
    background-repeat:repeat-y, repeat-y;
}
footer ul.siteMapUl li
{
    line-height:25px;
}
footer ul.siteMapUl ul li
{
    padding:2px 0;
}
footer ul.last
{
    background:none;
}
footer h2
{
    color:#000000;
    font-weight:normal;
    font-size:30px;
    margin-bottom:10px;
    margin-top:0;
    line-height:25px;
    /*padding-right:20px;*/
    /*padding:0 25px 15px 5px;*/
}
footer .container
{
    min-height:196px;
    padding-bottom:45px;
}
.footerLinksContainer a
{
    color:#000000;
    padding-top:5px;
    padding-bottom:5px;
}
.footerLinksContainer a:hover
{
    text-decoration:underline;
}
.footerLinksContainer ul:nth-child(4n)
{
}
.footerLinksContainer > ul:first-child
{
    /*border-left:solid 1px #3c3c3c;
    border-right:solid 1px #3c3c3c;*/
    margin-left:0;
}
.sayCopy
{
    left:0;
}
.clientCopy
{
    right:0;
}
.copy
{
    color:#000000;
    font-weight:normal;
    font-size:15px;
    position:absolute;
    bottom:-29px;
}
.copy a
{
    color:#000000;
}
.bizInfoMobile
{
    display:none;
}
@media all and (max-width: 817px)
{
    footer ul.siteMapUl
    {
         width:calc(50% - 10px);
         float:none;
         display:inline-block;
         vertical-align:top;
         margin:5px !important; 
         background:url('../images/siteMap.gif') repeat-y top right;
    }
    footer ul.siteMapUl:nth-child(2n), footer ul.siteMapUl:last-child
    {
        background:none;
    }
}
@media all and (max-width: 500px)
{
    footer ul
    {
        display:none;
    }
    footer
    {
        height:auto;
        background:#feb008;
        padding-top:0;
    }
    .copy
    {
        display:block !important;
        position:relative;
        bottom:0;
        text-align:center;
    }
    .footerBottomStrip
    {
        background:#ffffff;
        display:none;
    }
    footer .container
    {
        min-height:unset;
        padding-bottom:0;
        /*padding-top:10px;*/
        width:100%;
        border-top:solid 1px #ffc000;
    }
    .footerTopStrip
    {
        display:block;
        padding:15px 0;
        margin-bottom:0;
        height:auto;
        background:#feb008;
        border-bottom:solid 1px #fea408;
        border-top:solid 1px #ffc000;
    }
    .bizInfoMobile
    {
        display:block !important;
        text-align:center !important;
        float:none !important;
        position:relative;
    }
    .sayCopy
    {
        padding:10px 0;
        border-bottom:solid 1px #fea408;
        border-top:solid 1px #ffc000;
    }
    .clientCopy
    {
        padding:10px 0;
        border-top:solid 1px #ffc000;
    }
    .footerLinksContainer
    {
        display:none;
    }
    .footerLinksContainer_404
    {
        display:block;
    }
    footer ul.siteMapUl
    {
         width:calc(100%);
         margin:0 !important; 
         background:none;
         border-top:solid 1px #ffc000;
         border-bottom:solid 1px #fea408;
         text-align:center
    }
    footer ul.siteMapUl:first-child
    {
        border-top:none;
    }
    .error_404
    {
        padding-bottom:40px;
    }
}

/*#endregion*/

/*#region Menu*/

ul.slimmenu > li a.Selected, ul.slimmenu > li:hover > a
{
     background:#feb008 !important;
     color:#000000 !important;
}
ul.slimmenu.collapsed li a.Selected
{
     background:#feb008 !important;
     color:#000000 !important;
}
ul.slimmenu li .sub-collapser > i
{
    color:#ffffff !important
}
ul.slimmenu li .sub-collapser
{
    background:none !important;
    right:0 !important;
    left:auto !important;
    top:10px !important;
}
ul.slimmenu li > ul
{
    padding:0;
}
@media all and (max-width: 817px)
{
    body
    {
        background: #ffffff;
    }
    header
    {
        height:auto  !important;
        padding:30px 0 0 0;
    }
    .container
    {
        width:90%;
    }
    .logo
    {
        position:static;
        margin-bottom:10px;
    }
    /*.langNav
    {
        position:relative;
        top:-10px;
        margin:0 auto;
        z-index:1000;
    }*/
    nav
    {
        width:100%;
        /*margin-top:5px;*/
    }
    .imgContainer a
    {
        padding-bottom:0;
        margin-bottom:0;
    }
    nav ul.slimmenu
    {
        z-index:11000;
        position:relative;
        /*margin-top:10px;*/
        background:rgba(23, 23, 23, 0.98);
        /*padding:5px;*/
        box-sizing:border-box;
        max-width:300px;
        width:100%;
    }
    .menu-collapser
    {
        background-color:transparent !important;
        height:30px !important;
        line-height:30px !important;
        padding-left:65px !important;
        font-size:25px !important;
        color:#000000 !important;
        text-shadow:none !important;
        text-align:left !important;
    }
    nav ul.slimmenu.collapsed
    {
        position:absolute;
        max-width:none;
        background:#feb008;
    }
    ul.slimmenu.collapsed li
    {
        width: 100% !important;
    }

    ul.slimmenu.collapsed a
    {
        width: auto !important;
    }
    ul.slimmenu.collapsed li ul li a
    {
        width: auto !important;
        color:#000000 !important;
        border-bottom:solid 1px #fea408 !important;
        border-top:solid 1px #ffc000 !important;
        padding-right:60px !important;
        background:#023c4a !important;
    }
    ul.slimmenu.collapsed li ul li a.Selected
    {
        color:#ffffff !important;
        background:#000000 !important;
    }
    ul.slimmenu.collapsed li ul li a i
    {
        display:none;
    }
    .collapse-button .icon-bar
    {
        background-color:#feb008 !important;
        height:5px !important;
        width:43px !important;
        box-shadow:none !important;
        margin:2px 0 !important;        
    }
    .collapse-button
    {
        background:none !important;
        padding:0 !important;
        box-shadow:none !important;
        border:none !important;
        left:5% !important;
        right:auto !important;
    }
    ul.slimmenu.collapsed li > ul li a
    {
        border-bottom:solid 1px #0d0d0d !important;
        border-top:solid 1px #252525 !important;
        background:#131313 !important;
        color:#ffffff !important;
        font-size:20px !important;
        text-shadow:none !important;
        padding-left:40px !important;
    }
        ul.slimmenu.collapsed li > ul li a:hover
        {
            color:#ffffff !important;
        }
}

ul.slimmenu li
{
    background-color:transparent !important;
    border-left:none !important;
}
ul.slimmenu.collapsed a
{
    text-align:left !important;
    width:100% !important;
    border-bottom:solid 1px #fea408 !important;
    border-top:solid 1px #ffc000 !important;
    color:#000000 !important;
    font:25px 'Assistant' , Exo2_Light, Arial !important; 
    font-weight:lighter !important; 
    height:79px;
    padding-top:25px !important;
    box-sizing:border-box;
}
    ul.slimmenu.collapsed a:hover
    {
        color:#000000 !important;
    }
ul.slimmenu > li
{
    margin-right:0 !important;
}
ul.slimmenu li .sub-collapser::before
{
    content:url(../images/navArrow.png) !important;
    margin-top:14px;
}
ul.slimmenu li .sub-collapser.expanded::before
{
    content:url(../images/navArrowd.png) !important;
    margin-top:18px;
}
ul.slimmenu li .sub-collapser > i
{
    display:none !important;
}
@media all and (min-width: 818px)
{
    ul.slimmenu
    {
        height:72px;
        display:table;
        margin-top:0 !important;
    }

    ul.slimmenu > li > ul
    {
        padding-top:2px;
    }
    ul.slimmenu > li > ul li
    {
        height:auto !important;
        text-align:center !important;
    }
    .sub-collapser
    {
        display: none !important;
    }

    /*ul.slimmenu > li.first
    {
        border-right: 1px solid #707070 !important;
    }*/
    ul.slimmenu li
    {
        background:none !important;      
    }
    ul.slimmenu > li
    {
        margin-right: 0 !important;
        margin: 0 auto !important;
        padding:0;
        height:76px !important;
        text-align: center !important;
        /*border-left: solid 1px #ffe2a7 !important;
        border-right: solid 1px #cea656 !important;*/        
        background: url(../images/navBorder.jpg) no-repeat right center !important;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        max-width:200px !important;
    }
    ul.slimmenu > li:first-child
    {
        background: url(../images/navBorder.jpg) left center no-repeat, url(../images/navBorder.jpg) right center no-repeat !important;
    }    
    ul.slimmenu > li > a
    {
        text-align: center !important;
        display: table-cell !important;
        vertical-align:middle;
        height:64px !important;     
        padding:10px 5px 5px 5px !important;
        color:#ffffff !important;
        font-size:18px !important;
        font-family:'Assistant' , Exo2_Light, Arial !important;
        transition:all ease-in-out 0.5s !important;
        background:none !important;
        line-height:15px;  
        width:1%;   
        padding-top:10px;          
    }
    ul.slimmenu li > ul
    {
        top:78px !important;
        width:100% !important;
        left:0 !important;
        background:#feb008;
        padding: 0;
        border-top:solid 1px #ffa200 !important;
    }
    @supports (-webkit-appearance:none) {
    ul.slimmenu li > ul
    {
        top:78px !important;
    }
}  
    nav ul.slimmenu li > ul > li ul
    {
        left:100% !important;
        background:#feb008;
        top:0 !important;
        border-top:none !important;

    }
    ul.slimmenu > li > a:hover
    {
         background:#feb008 !important;
        color:#000000 !important;
    }
    ul.slimmenu > li > ul a:hover
    {
        background:#131313 !important;
        color:#ffffff !important;
    }
    ul.slimmenu > li > ul a.Selected
    {
        background:#131313  !important;
        color:#ffffff !important;
    }
    ul.slimmenu > li > ul li
    {
        width:100% !important;
        height: 50px;
        margin-top:0 10px !important;
        text-align:right;
        border-top:solid 1px #ffba00;
        border-top:solid 1px #ffa200;
    }
        ul.slimmenu > li > ul li:first-child
        {
            border-top:none;
        }

    ul.slimmenu > li > ul a
    {
        padding:15px 20px !important;
        background-color:none;
        color:#000000;
        font:18px 'Assistant' , Exo2_Light, Arial; 
        /*width:100%;*/
        margin: 0!important;
        text-align:left;       
    }    
}

/*#endregion*/

/*#region Gallery*/

#GalleryContainer
{
    text-align:center;
}

#GalleryContainer a
{
    display:inline-block;
    margin:5px;
}

@media all and (max-width: 817px)
{
    .jb-bb-btn-full-screen { display: none !important; }
    .jb-bb-btn-de-full-screen { display: none !important; }
}

/*#endregion*/

.md-content h3
{
    color: #202020;
    font-weight: 200;
    font-size: 45px;
    padding-left: 20px;
    /* margin-bottom: 25px; */
    margin-top: 0;
    line-height: 65px;
    background: url(../images/headerIcon_en.png) no-repeat left 11px;
}
.md-content
{
    background: #ffffff !important;  /* Safari 5.1 to 6.0 */
    color:#262626 !important; 
    padding-bottom:1px;
    padding:40px 40px 90px 40px;
}
@media all and (min-width: 818px)
{
    .md-content
    {
        min-width:500px !important;
    }
}
.md-close
{
    background:#feb008 !important;
    color:#000000 !important;
    width:200px;
    height:54px;
    border:none !important;
    font:20px 'Assistant' , Exo2_Light, Arial; 
    cursor:pointer;
    position:absolute;
    bottom:40px;
    right:40px;
}
.md-close:hover
{
    background:#000000 !important;
    color:#ffffff !important;
}
.md-content > div
{
   margin-bottom:40px;
}

.error_404
{
    text-align:center;
    font: 20px 'Assistant-Light',Exo2_Light,Arial;
}
.container.error_404
{
    width:100%;
    margin-top:-4px;
    background:#feb008;
    max-width:none;
}
    .container.error_404 img
    {
        width:90%;
        max-width:303px;
        margin:40px 0;
    }
.error_404 h1
{
    padding:50px 20px 0 20px;
    font: 50px 'Assistant-Light',Exo2_Light,Arial;
    color:#000000;
    margin:0 auto 0 auto; 
    text-align:center;
}
.error_404 a:link, .error_404 a:visited
{
    text-decoration:underline !important;
    color:#023c4a  !important;
}
.error_404 > div span
{
    font: 25px "Assistant",Exo2_Light,Arial;
    margin-bottom:80px;
}
@media all and (max-width: 400px)
{
    .container.error_404
    {
        margin-top:0;
    }
    .error_404
    {
        font-size:17px;
    }
}
.errorfb
{
    font-size:40px;
}
#myDiv
{
    margin-bottom:20px;
    margin-top:16px;
    direction:rtl !important;
    text-align:right !important;
    min-height:200px;
}
@media all and (max-width: 817px)
{
    #myDiv
    {
       width:90%;
       margin:10px auto;
    }
}
#myDiv div
{
    background:none !important;
}
form #myDiv img
{
    border-radius:0 !important;
}

.preloader
{
    display:none;
    float:left; 
    margin:10px 0 0 10px;
}

.facebookContent .fb_iframe_widget { width:100%; }
.facebookContent .fb_iframe_widget span { width:100% !important; display:block !important; }
.facebookContent .fb_iframe_widget iframe { width:100% !important; /*max-width:400px !important;*/ }

.SearchPage h1
{
    font-weight:lighter;
}
.SearchPage h1 span
{
    font-size:25px;
    font-weight:bold;
}
.SearchPageTb
{
    border:solid 1px #b1b1b1;
    color: #000000;
    font: 16px 'Assistant',Exo2_Light,Arial;
    height: 60px;
    text-align: left;
    width: calc(100% - 210px);
    margin-right:10px;
    padding:0 5px;
    line-height:15px;
    box-sizing:border-box;
    display:inline-block;
}
.SearchPage .submitBtn
{
    max-width:200px;
    height:60px;
    box-sizing:border-box;
}
.SearchRes
{
    background:#ffffff;
    padding:0;
    position:relative;
}
.searchResContainer
{
    padding:5px 0;
    cursor:pointer;
    margin-bottom:5px;
    transition: background 1s;
    font-size:16px;
}
.pageTtl
{
    font-weight:200;
}
.searchResContainer h2
{
    background:#f6f6f6;
    padding:5px;   
    position:relative; 
    margin-top:5px;
    font-size:15px;
}
.searchResContainer:hover
{
    text-decoration:underline;
}
.SearchReadMore
{
    position:absolute;
    top:5px;
    right:10px;
    font-weight:200;
}
span.searchWordColor
{
    font-weight:bold;
}
.pageName
{
    color:#3c1b0c;
    font-size:13px;
    transition: color 0.5s ease-in;

}
@media all and (max-width: 500px)
{
    .SearchPage .submitBtn, .SearchPageTb
    {
        max-width:none;
        width:100%;
        margin:0 0 5px 0;
        float:none;
    }
}
.Pageshadow
{
    background: url("../images/Pageshadow.png") no-repeat top right;
    height:20px;
    display:none;
}
.txtContainer .Pageshadow
{
    bottom:-21px;
    position:relative;
    display:none;
}
.mt29px
{
    margin-top:-6px;
}
@-moz-document url-prefix() {
	.mt29px
    {
        margin-top:-12px;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .mt29px{margin-top:32px;}
}
.mt38px
{
    margin-top:38px;
}
.mt-30px
{
    margin-top:-30px;
}
.mb100px
{
    margin-bottom:100px;
}
.mb30px
{
    margin-bottom:30px;
}
.mt50px
{
    margin-top:50px;
}
.homeWideBottomDashedLine
{
    background: url("../images/homeWideBottomDashedLine.png") repeat-x top center;
    height:2px;  
    position:absolute;
    bottom:-3px; 
    right:0;
    width:100%;
    z-index:2000;   
    display:none; 
}
.homeWideBottomDashedLineTop
{
    background: url("../images/homeWideBottomDashedLine.png") repeat-x top center;
    height:2px;  
    position:absolute;
    top:1px; 
    right:0;
    width:100%;
    display:none; 
}
.shaddowImg
{
    background: url("../images/Pageshadow.png") no-repeat top right;
    height:20px;
    /*background-size:100%;*/
    width:48%;
    position:absolute;
    bottom:0;
    right:0;
    display:none;
}
.shaddowImgleft
{
    background: url("../images/Pageshadow.png") no-repeat top right;
    height:20px;
    /*background-size:100%;*/
    width:48%;
    position:absolute;
    bottom:0;
    left:0;
    display:none;
}
.bizInfo
{
    color:#000000;
    font:30px 'Assistant' , Exo2_Light, Arial;
    font-weight:lighter;
    float:right;
    margin-top:-4px;
    margin-right:5px;
}
.bizInfo img
{
    margin-right:5px;
}
.bizInfo span
{
    position:relative;
    top:-4px;
}
.Comments
{
    border:dotted 1px #000000;
    padding:20px;
}
@media all and (max-width: 600px)
{
    .bizInfo
    {
        top:auto;
        bottom:-7px;
    }
    .box, .ImgBoxes
    {
        margin-bottom:65px;
    }
    .submitBtn
    {
        width:100%;
    }
    .txtBox.contact .sendBtn, .contactForm button, .sendBtn
    {
        width:98%;
        margin-right:2%;
    }
}
@media all and (max-width: 400px)
{
    .txtContainer
    {
        margin-bottom:20px;
    }
}
.breadCrumbsContainer
{
	height:10px;
	/*padding:10px 0 20px 60px;*/
    padding:10px 0 20px 0;
    color:#1c130e;
    display:none;
}
.breadCrumbsContainer ul
{
    margin:0;
    padding:0;
}
.breadCrumbsContainer ul li
{
	display:inline-block;
    color:#1c130e;
}
.breadCrumbsContainer ul li a
{
    color:#1c130e;
    font-size:15px;
}

.gallery1DecHeader
{
    color:#181818 !important;
    font:15px 'Assistant' , Exo2_Light, Arial !important;
}

form { height:100%; }

/* Mostly: http://ryanfait.com/sticky-footer/ */

* { margin: 0; }
html { height: 100%; }
html, body { min-height: 100%; }
/*.page-wrap { min-height: 100%;  }*/
.page-wrap:after { content: ""; display: block; }
.site-footer, .page-wrap:after {  }
.site-footer { position:absolute; bottom:0; width:100%;  /*display:none;*/}
/*.site-footer { background: orange; }*/
.product-box
{
    background:#ffffff;
    padding:28px 0;
    position:relative;
    min-height:190px;
}
.product-box:nth-child(2n)
{
    background:#f5f5f5;
}
.prod-img
{
    display:inline-block;
    border:solid 1px #e5e5e5;
    max-width:245px;
    margin-left:24px;
    vertical-align:top;
}
.prod-info
{
    display:inline-block;
    width:calc(100% - 275px);
    vertical-align:top;
    padding-bottom:40px;
}
.prod-info h2, .buy-form h2
{
    font-size:26px;
    line-height:20px;
    margin-top:0;
    margin-bottom:15px;
    text-align:right;
}
.pices_btn-line
{
    text-align:left;
    position:absolute;
    bottom:28px;
    left:0;
}
a.buy-btn
{
    display:inline-block;
    width:157px;
    height:38px;
    box-sizing:border-box;
    padding-right:20px;
    color:#ffffff;
    font-size:26px;
    font-weight:bold;
    text-align:center;
    background: url(../images/buy-btn.png);
    vertical-align:bottom;
}
.price
{
    display:inline-block;
    margin-left:20px;
    vertical-align:bottom;
}
.price span
{
    font-size:26px;
}
.price-full
{
    color:#a9b4b6;
}
.buy-form
{
    margin-bottom:50px;
}
.buy-form:nth-child(5)
{
    margin-bottom:20px;
}
.buy-form .tb-container
{
    width:24%;
    margin:10px 0.2%;
    display:inline-block;
    position:relative;
}
.buy-form .tb
{
    width:100%;
    height:60px;
    border:solid 1px #92aeb5;
    font:16px 'Assistant' , Exo2_Light, Arial; 
	color:#03222a; 	
    box-sizing:border-box;
    padding:5px 8px;    
}
.buyErrorMsg, .buyErrorMsgEmail
{
    background:url(../images/buyErrorMsg.png) no-repeat top right;
    width:165px;
    height:31px;
    color:#ffffff;
    position:absolute;
    top:-20px;
    right:0;
    line-height:17px;
    display:none;
}
.buy-form .tb-long
{
    width:100%;
    margin:8px 0.2%;
    height:60px;
    border:solid 1px #92aeb5;
    font:16px 'Assistant' , Exo2_Light, Arial; 
	color:#03222a; 	
    box-sizing:border-box;
    padding:5px 8px;
    display:inline-block;
}
.buy-form .ta
{
    border:solid 1px #92aeb5;
    font:16px 'Assistant' , Exo2_Light, Arial; 
	color:#03222a; 	
    box-sizing:border-box;
    padding:5px 8px;
    height:110px;
    width:100%;
    margin:8px 0.2%;
}
.iframe-box
{
    border:solid 1px #92aeb5;
    padding:10px;
}
.sum.pices_btn-line
{
    position:static;
    margin-bottom:20px;
}
.sum.pices_btn-line .price span
{
    font-size:36px;
    font-weight:bold;
}
.sum.pices_btn-line a.buy-btn
{
    background:#0c2a32;
    font-weight:normal;
    width:auto;
    height:auto;
    padding:10px 15px;
    line-height:20px;
}
.buyProdSafe
{
    width:100%;
}
.buy-form ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.buy-form ul li{
  position: relative;
  display:inline-block;
}

.buy-form ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.buy-form ul li label{
  display: block;
  position: relative;
  padding: 5px 25px 5px 5px;
  margin: 0 auto;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

/*.buy-form ul li:hover label{
	color: #FFFFFF;
}*/

.buy-form ul li .check{
  display: block;
  position: absolute;
  border: 1px solid #f6f6f6;
  box-shadow:inset 2px 2px 2px #bdbdbd;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 5px;
  right: 0;
z-index: 5;
transition: border .25s linear;
-webkit-transition: border .25s linear;
}

/*.buy-form ul li:hover .check {
  border: 5px solid #FFFFFF;
}*/

.buy-form ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 8px;
  width: 8px;
  top: 7px;
	left: 7px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.buy-form input[type=radio]:checked ~ .check {
  border: 1px solid #f6f6f6;
}

.buy-form input[type=radio]:checked ~ .check::before{
  background: #17d0d2;
}

/*.buy-form input[type=radio]:checked ~ label{
  color: #17d0d2;
}*/

.buy-form .signature {
	position: fixed;
	margin: auto;
	bottom: 0;
	top: auto;
	width: 100%;
}

.buy-form .signature p{
	text-align: center;
}

.buy-form .signature .much-heart{
	display: inline-block;
	position: relative;
	margin: 0 4px;
	height: 10px;
	width: 10px;
	background: #AC1D3F;
	border-radius: 4px;
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.buy-form .signature .much-heart::before, 
.buy-form .signature .much-heart::after {
	  display: block;
  content: '';
  position: absolute;
  margin: auto;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #AC1D3F;
  top: -4px;
}

.buy-form .signature .much-heart::after {
	bottom: 0;
	top: auto;
	left: -4px;
}

.buy-form .signature a {
	color: #AAAAAA;
	text-decoration: none;
	font-weight: bold;
}
.buyerrorstyle
{
    border:solid 1px #ec0a53;
}
@media all and (max-width: 770px)
{
    .buy-form .tb-container
    {
        width:49%;
        margin:10px 0.3%;
    }
}
@media all and (max-width: 715px)
{
    .prod-img
    {
        display:block;
        width:100%;
        max-width:200px;
        margin:10px auto;
    }
    .prod-info
    {
        width:100%;
        margin:0;
        padding-bottom:0;
    }
    .pices_btn-line
    {
        position:static;
        margin-top:10px;
        text-align:center;
    }
    a.buy-btn
    {
        margin-top:10px;
    }
    .homeContact .info
    {
        max-height:unset;
    }
}
@media all and (max-width: 540px)
{
    .bizInfo
    {
        display:none;
    }
    .langNav
    {
        margin:0 auto;
        display:inline-block;
        top:-2px;
    }
    .langNav li
    {
        display:inline-block;
    }
    .top-strip
    {
        text-align:center;
    }
    .buy-form .tb-container
    {
        width:100%;
        margin:10px 0;
    }    

}

@media all and (max-width: 240px)
{
    .price
    {
        margin-left:5px;
    }
}
#HomeFormValidationSummeryContainer
{
    display:none;
}

.archiDesForm .tb
{
    border:solid 1px #000000 !important;
}