
a, img, input, textarea{ border:0px; border-style:none; }
a{ text-decoration:none; }
p{ margin-bottom:12px; }


input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="image"]::-moz-focus-inner, img::-moz-focus-inner, a::-moz-focus-inner{ border: 0px; }

input[type="submit"]:focus, input[type="button"]:focus, input[type="image"]:focus, img:focus, a:focus{ outline: none; }

html{ overflow: -moz-scrollbars-vertical; }
html{ overflow-x: hidden; }
html{ overflow-y: scroll; }


*:focus {outline: none;}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #eeeeee;
	color:#343434; 	
    position:relative;
    direction: rtl;
    text-align: right;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

section {
    display: -webkit-flex;
    display: flex;
}

nav {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    position: relative;
    height: 100%;
    top: 1em;
    width: 15%;
    float: right;
}

article {
    -webkit-flex: 9;
    -ms-flex: 9;
    flex: 9;
    background-color: #f1f1f1;
    padding: 10px;
}

.container{
    width: 100%;
    height: auto;
    padding: 0vh 1vh;
    max-height: 100%;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0vh 1vh;
    overflow: auto;
    min-height: 60vh;
    overflow-x: hidden;
}

.title_wrap{
    font-size: 6vh;
    color: #ff4200;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2vh;
}

h2{
    margin-bottom: 1vh; 
}

.btn_class{
    background-color: #ff4200; 
    border: none;
    color: white;
    padding: 10px 2vh;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-weight: 600;
}
.btn_class:hover{
    box-shadow: none;
    background-color:#ffffff;
    color: #ff4200;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}
.btn_class.active{
    box-shadow: none;
    background-color:#ffffff;
    color: #ff4200;
}
.btn_class:disabled{
    box-shadow: none;
    background-color:rgb(199, 194, 194);
    color: #ff4200;
    cursor:context-menu;
}

.btn_green{
    background-color: #0bbe23; 
}

.btn_blue{
    background-color: #5350e6; 
}

.btn_arrow_up, .btn_arrow_down{
    background-color: #a4a2f5;
    color: white;
    padding: 3% 5%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn_arrow_up:hover, .btn_arrow_down:hover{
    box-shadow: none;
    background-color:#ffffff;
    color: #ff4200;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.modal .modal-content.conform_content{
    position: relative;
    height:23vh;
    padding: 3vh;
}
.modal .modal-content.conform_content .buttons_wrap{
    position: relative;
    margin: 2vh 28%;
    bottom: -5vh;
}
.modal .modal-content.conform_content .buttons_wrap button{
    position: relative;
}

@media all and (min-width: 1700px) {
    nav {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .container{
        max-height: 88vh;
    }
}

#nav_bar_wrap .nav_item {
    margin-right: -5em;
    transition: 0.3s;
    padding: 15px;
    width: 10em;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    border-radius: 5px 0px 0px 5px;
    padding-right: 25px;
    margin-bottom: 5px;
    background: #343434;
    cursor: pointer;
}

#nav_bar_wrap .nav_item span{
    float: left;
    margin-left: 1em;
    width:3vh;
    text-align: center;
}
#nav_bar_wrap .nav_item.active{
    background: #ff4200;
    color: #ffffff;
    margin-right: -2vh;
}
#nav_bar_wrap .nav_item:hover {
    margin-right: -2vh;
    background: #ff4200;
    color: #ffffff;
    transition: background 0.4s ease-in-out, margin-right 0.3s ease-in-out;
}

#nav_bar_wrap .nav_item#pages:hover+.pages_list{
    margin-right: 0;
    transition: margin-right 0.3s ease-in-out;
}

#gallery_wrap{
    position: relative;
    padding: 1vh;
    max-height: 67vh;
    overflow-y: auto;
}
.gallery_image {
    margin: 10px;
    border: 1px solid #ccc;
    float: right;
    width: 30%;
    text-align: center;
    background: #eae6e6;
}

.gallery_image:hover {
    border: 1px solid #777;
}

.gallery_image img {
    height: 20vh;
    cursor: pointer;
    max-width: 100%;
}

.gallery_image .desc {
    position: relative;
    padding: 3px;
    text-align: right;
    min-height: 5vh;
    background: #f7d5a3;
}
.gallery_image .desc span{
    max-width: 85%;
    display: inline-block;
}
.gallery_image .desc i{
    display: inline-block;
    left: 0;
    font-size: 3vh;
    position: absolute;
    color: #f30a0a;
    margin: 5px 5px;
    cursor: pointer;
}
.upload_btn{
    float: left;  
}

.preview_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.preview_modal .close{
    position: absolute;
    top: 14vh;
    right: 14vh;
    color: #f1f1f1;
    font-size: 8vh;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.preview_modal .next, .preview_modal .prev{
    position: absolute;
    color: #323234;
    font-size: 8vh;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    background: #f1f1f1;
    width: 8vh;
    opacity: 0.5;
    text-align: center;
}
.preview_modal .next{
    top: 50%;
    left: 1vh;
}
.preview_modal .prev{
    top: 50%;
    right: 1vh;
}
.preview_modal .next:hover, .preview_modal .prev:hover, .preview_modal .close:hover{
    color: #ff4200;
    opacity: 1;
}

.modal-content-images {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal .close_modal{
    position: absolute;
    top: 8vh;
    right: 25%;
    color: #f1f1f1;
    font-size: 8vh;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.modal .modal-content {
    margin: auto;
    display: block;
    width: 41%;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    height: 68%;
    background: #ffffff;
    position: relative;
    text-align: center;
}
.modal-content .head_modal{
    position: absolute;
    top:0;
    width: 100%;
    background: #777;
    color: #ffffff;
    font-size: 2em;
    padding: 1vh;
}
.modal-content i {
    font-size: 15em;
    margin-top: 16%;
    color:rgba(149, 194, 234, 0.2784313725490196);
    cursor: pointer;
}
.modal-content input{
    position: absolute;
    border: 1px solid;
    width: 50%;
    height: 53%;
    margin-top: 13%;
    left: 25%;
    opacity: 0;
    cursor: pointer;
}
#images_to_upload{
    top: 6vh;
    position: absolute;
    width: 100%;
    border-bottom: 3px solid #ff641a;
    border-top: 1px solid #ff641a;
    text-align: right;
    font-size: 2vh;
    font-weight: 600;
    background: #ffffff;
}

.result_upload{
    border: 0;
    width: 0;
    font-size: 1px;
    float: right;
    margin-left: 40px;
    padding: 0 5px 0 5px;
}

.new_image_to_upload{
    padding: 2vh 2vh 4vh;
    border-bottom: 1px solid;
}

.new_image_to_upload span{
    float: right;
    overflow: hidden;
    max-width: 28%;
    white-space: nowrap;
    width: 28%;
    text-overflow: ellipsis;
}

.new_image_to_upload span:hover{
    overflow: visible;
}

#flash {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 16px;
    position: fixed;
    z-index: 10000;
    left: 50%;
    top:5vh;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

#flash.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}
#flash.success {
    background: #78ff7e;
    color: #343434;
    font-weight: 500;
}
#flash.warning {
    background: #ffbe08;
    color: #343434;
    font-weight: 500;
}
#flash.error {
    background: #ff6666;
    color: #ffffff;
    font-weight: 500;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 5vh; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 5vh; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 0; opacity: 0;} 
    to {top: 5vh; opacity: 1;}
}

@keyframes fadeout {
    from {top: 0; opacity: 0;} 
    to {top: 5vh; opacity: 1;}
}

.progress {
    border: 1px solid #ffffff;
    padding: 1px;
    position: relative;
    border-radius: 3px;
    margin: 4px 10px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
    width: 55%;
    display: inline-flex;
    float: left;
}
.progress > .progress-bar{
    border-radius: 3px;
    background: #9292ec;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
    height: 5px;
}

.wrap_three_col{
    position: relative;
    display: inline-flex;
    width: 96%;
    height: auto;
    margin: 2vh;
    padding: 1vh;
}
.wrap_three_col_head{
    position: relative;
    display: inline-flex;
    width: 96%;
    height: auto;
    padding: 3px 1vh;
}
.wrap_three_col .col{
    width: 42%;
    min-height: 54vh;
    margin-left: 8vh;
    background: #f9c6c6;
    max-height: 80vh;
    overflow-y: auto;
    padding: 0 2px;
}
.wrap_three_col .col:first-child{
    background: #bef1b8;
}
.wrap_three_col_head .col_head{
    width: 42%;
    padding-right: 5vh;
}
.wrap_three_col .col:last-child{
    width: 12%;
    background: none;
    margin-left: 0;
    padding: 7vh 1vh;
}
.wrap_three_col_head .col_head:last-child{
    width: 15%;
}
.wrap_three_col .col li{
    background: #ccc;
}
/*=================== */
.wrap_two_col{
    position: relative;
    display: inline-flex;
    width: 96%;
    height: auto;
    margin: 2vh;
    padding: 1vh;
}
.wrap_two_col .col{
    min-height: 54vh;
    margin-left: 8vh;
    max-height: 80vh;
    overflow-y: auto;
    padding: 0 2px;
}
.wrap_two_col .col:first-child{
    width: 88%;
    background: #bef1b8;
}

.wrap_two_col .col:last-child{
    width: 12%;
    background: none;
    margin-left: 0;
    padding: 7vh 1vh;
}



.navigate_item, .page_item{
    width: 100%;
    background: #ffffff;
    border: 2px solid #8f9cf3;
    border-radius: 5px;
    text-align: right;
    padding: 2vh;
}
.connectedSortable li{
    list-style: none;
    text-decoration: none;
}
.navigate_item:hover, .page_item:hover{
    background: #ff4200;
    color: #ffffff;
    transition: background 0.4s ease-in-out, color 0.3s ease-in-out;
}
.navigate_item i, .page_item i{
    cursor: all-scroll;
    float: left;
}
.page_item:hover{
    cursor: pointer;
}

.page_item:hover i{
    color:#ffffff;
}

.page_item.active{
    background: #ff4200;
    color: #ffffff;
}

.sub_navigate_item{
    display: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 2px;
}
#sortable input, #sortable_tmp input{
    width: 60%;
    background: #ffffff; 
    border: 2px solid #8f9cf3; 
    border-radius: 5px;
    text-align: right;
    padding: 1vh;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 2px;
    margin-right: 8vw;
    font-size: 1em;
}

.sub_navigate_item .btn_class{
    padding: 1vh 1.5vh;
}
.sub_navigate_item .fa-edit{
    color: #ffffff;
    font-size: 2vh;
}

.sub_navigate_item .remove_nav_item{
    color: #f30a0a;
    margin-right: 1vh;
    cursor: pointer;
}


.branches_table, .meta_data_table, .default_table{
    width: 100%;
}
.branches_table input, .branches_table select,
.meta_data_table input, .meta_data_table select,
.default_table input, .default_table select{
    width: 92%;
    padding: 1vh;
    font-size: 2vh;
    border: 0;
}

.pages_list{
    list-style: none;
    position: relative; 
    margin-right: -25em;
}
.pages_list li{
    padding: 1vh 2vh;
    background: #749cf3;
    border: 1px solid #ff4200;
    width: 60%;
    border-radius: 10px 0 0 0;
    color: #ffffff;
    margin-bottom: 3px;
}

.pages_list li:hover{
    cursor: pointer;
    background: #ffffff;
    color: #749cf3;
    transition: background 0.4s ease-in-out, color 0.3s ease-in-out margin-right 0.3s ease-in-out;
}

.text_area_page_editor{
    width: 100%;
    resize: none;
    padding: 1vh;
    font-size: 2vh;
    height: 40vh;
    pointer-events: none;
}
.modal-content.for_gallery_preview{
    width: 70%;
    height: 80vh;
}
#modal_preview_gallery_wrap{
    height: 70vh;
    position: absolute;
    overflow: auto;
    padding: 2vh;
}
#modal_preview_gallery_wrap .image_one.active{
    opacity: 0.3;
}
#modal_preview_gallery_wrap .image_one.active+.desc{
    background: rgb(114, 112, 230);
}
.wrap_images_ {
    position: absolute;
    width: inherit;
    margin-top: 25px;
}
.wrap_images_>.gallery_image {
    width: 80%;
}

.original_html_text{
    display: none;
    direction: ltr;
    background: #ffffff;
    padding: 3vh;
    height: auto;
}
.accordion_container{
    overflow: auto;
    height: 68vh;
}
.accordion_row {
    background-color: #323234;
    color: #ffffff;
    cursor: pointer;
    padding: 6px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.accordion_row input{
    width: 35%;
    padding: 1vh;
    font-size: 20px;
    background: #323234;
    color: #ffffff;
    cursor: pointer;
}
.accordion_row .edit_row, .accordion_row .remove_acc_row{
    color: #ffffff;
    float: left;
    font-size: 30px;
    cursor: pointer;
    margin: 0 2vh;
}

.accordion_row:hover {
    background: #ff4200;
    transition: background ease-in-out 0.5s;
}
.active_row_acc{
    background: #ff4200;
    color: #ffffff;
}

.accordion_inside_panel {
    padding: 2% 2%;
    display: none;
    background-color: white;
    overflow: hidden;
    font-size: 1.5em;
    background: #dcd9d9;
}

.sub_navigate_item .btn_class:hover .fa-edit{
    color: #ff4200;
}

.list_table{
    padding: 2vh;
}

.list_table tr{
    cursor: pointer;
}
.list_table tr:hover td{
    background: #ccc;
}
.list_table tr td{
    background: #ffffff;
    padding: 1vh 3vh;
}