<% layout('layoutindex/mainpage') -%>

<div class="catalog" style="">
    <div class="container">
        <h1>קולקצית פנדור</h1>
        <div class="catTxt">שילוב של ידע וניסיון רב שנים, שימוש בחומרים מהשורה הראשונה ובאמצעים האיכותיים והמתקדמים
            ביותר, תורמים להיותה יצרנית דלתות הפנים הגדולה בישראל.
            פנדור מצטיינת ב: מוניטין, איכות מוצרים גבוהה, עיצוב מרהיב ושירות לקוחות אמין ובלתי מתפשר לאורך כל שנות
            קיומה.
            חזון החברה מציב את דלתות הפנים כחלק אינטגרלי מעיצוב הבית כולו. מדובר בשינוי בצורה בה אנו תופשים דלתות פנים;
            מאלמנט פונקציונאלי בלבד, לאחד המרכיבים החשובים והייחודים בעיצוב פנים הבית.
        </div>
        <div class="doorsBox">
            <a href="/door" class="catalog_link_door">
                <img alt="" src="images/catDoorDemo.png" class="image_door" />
                <img class="catalog_frame_door" alt="" src="images/ff.png" />
                <div class="description_door_catalog">
                    נדור מצטיינת ב: מוניטין, bls מוצרים גבוהה, עיצוב מרהיב
                </div>
            </a>
            <a class="btn-model" href="/door">bla</a>
        </div>
        <div class="doorsBox">
            <a href="#" class="catalog_link_door">
                <img alt="" src="images/catDoorDemo.png" class="image_door" />
            </a>
            <img class="catalog_frame_door" alt="" src="images/ff.png" />
            <div class="description_door_catalog">
                נדור מצטיינת ב: מוניטין, bls מוצרים גבוהה, עיצוב מרהיב
            </div>
            <a class="btn-model" href="#">bla</a>
        </div>
        <div class="doorsBox">
            <a href="#" class="catalog_link_door">
                <img alt="" src="images/catDoorDemo.png" class="image_door" />
            </a>
            <img class="catalog_frame_door" alt="" src="images/ff.png" />
            <div class="description_door_catalog">
                נדור מצטיינת ב: מוניטין, bls מוצרים גבוהה, עיצוב מרהיב
            </div>
            <a class="btn-model" href="#">bla</a>
        </div>
        <div class="doorsBox">
            <a href="#" class="catalog_link_door">
                <img alt="" src="images/catDoorDemo.png" class="image_door" />
            </a>
            <img class="catalog_frame_door" alt="" src="images/ff.png" />
            <div class="description_door_catalog">
                נדור מצטיינת ב: מוניטין, bls מוצרים גבוהה, עיצוב מרהיב
            </div>
            <a class="btn-model" href="#">bla</a>
        </div>
        <div class="doorsBox">
            <a href="#" class="catalog_link_door">
                <img alt="" src="images/catDoorDemo.png" class="image_door" />
            </a>
            <img class="catalog_frame_door" alt="" src="images/ff.png" />
            <div class="description_door_catalog">
                נדור מצטיינת ב: מוניטין, bls מוצרים גבוהה, עיצוב מרהיב
            </div>
            <a class="btn-model" href="#">bla</a>
        </div>
        <!-- <div class="doorsBox">
            <a href="#" class="catalog_link_door">
                <img alt="" src="images/catDoorDemo.png" class="image_door" />
            </a>
            <img class="catalog_frame_door" alt="" src="images/ff.png" />
            <div class="description_door_catalog">
                נדור מצטיינת ב: מוניטין, bls מוצרים גבוהה, עיצוב מרהיב
            </div>
            <a class="btn-model" href="#">bla</a>
        </div> -->
    </div>
</div>