<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="" src="images/mainsimg/contentMainImgqq.jpg" />
    <h3>פנדור T.V</h3>
    <div class="contentTxt"></div>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>

<section id="wrap_container">
    <div class="video_wrap">
        <h2>פנדור T.V</h2>

        <div class="video_box">
            <div class="video_gallery">
                <!-- <img src="http://img.youtube.com/vi/embed/tgbNymZ7vqY/maxresdefault.jpg">   // only one frame for preview -->
                <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1" frameborder="0" allowfullscreen="1"></iframe>
                <div class="desc">Add a description of the image here</div>
            </div>
        </div>


        <div class="video_box">
            <div class="video_gallery">
                <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1" frameborder="0"></iframe>
                <div class="desc">Add a description of the image here</div>
            </div>
        </div>

        <div class="video_box">
            <div class="video_gallery">
                <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY" frameborder="0"></iframe>
                <div class="desc">Add a description of the image here</div>
            </div>
        </div>

        <div class="video_box">
            <div class="video_gallery">
                <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY" frameborder="0"></iframe>
                <div class="desc">Add a description of the image here</div>
            </div>
        </div>

        <div class="video_box">
            <div class="video_gallery">
                <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY" frameborder="0"></iframe>
                <div class="desc">Add a description of the image here</div>
            </div>
        </div>

        <div class="video_box">
            <div class="video_gallery">
                <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY" frameborder="0"></iframe>
                <div class="desc">Add a description of the image here</div>
            </div>
        </div>

    </div>
</section>