<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="" src="images/galleryMainImg.jpg" />
    <h3>גלריית דלתות פנדור</h3>
    <div class="contentTxt">אַדְרִיכָלוּת או אַרְכִיטֶקְטוּרָה מוגדרת באופן מסורתי כאמנות הבנייה, כתחום העוסק בתכנון
        ועיצוב חללים, והיא בטווח שבין אמנות לבין הנדסת בניין. העיסוק בחלל ומרחב עשוי לכלול את הסביבה הבנויה בכללה ברמת
        המקרו, ועד לעיצוב פרטים ברמת המיקרו.
    </div>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>
<section id="wrap_container">
    <div class="galleryContainer">
        <div class="col50pre">
            <a class="thumbwidth100pre" data-fancybox="gallery" href="/project">
                <img alt="" src="images/galleryImg/thumbB.jpg" />
                <span class="imgInfo">
                    <b>ליאת הדס</b> אדריכלות ועיצוב פנים
                </span>
            </a>
            <a class="thumbW" data-fancybox="gallery" href="/project">
                <img alt="" src="images/galleryImg/thumbW.jpg" />
                <span class="imgInfo">
                    <b>ליאת הדס</b> אדריכלות ועיצוב פנים
                </span>
            </a>
            <a class="thumbW" data-fancybox="gallery" href="/project">
                <img alt="" src="images/galleryImg/thumbW.jpg" />
                <span class="imgInfo">
                    <b>ליאת הדס</b> אדריכלות ועיצוב פנים
                </span>
            </a>
            <a class="thumbW" data-fancybox="gallery" href="/project">
                <img alt="" src="images/galleryImg/thumbW.jpg" />
                <span class="imgInfo">
                    <b>ליאת הדס</b> אדריכלות ועיצוב פנים
                </span>
            </a>
            <a class="thumbW" data-fancybox="gallery" href="images/galleryImg/thumbW.jpg"><img alt="" src="images/galleryImg/thumbW.jpg" />
                <span class="imgInfo">
                    <b>ליאת הדס</b> אדריכלות ועיצוב פנים
                </span>
            </a>
        </div>
        <div class="col50pre">
            <div class="col50pre">
                <a class="thumbwidth100pre4" data-fancybox="gallery" href="images/galleryImg/thumbW.jpg"><img alt=""
                        src="images/galleryImg/thumbW.jpg" />
                    <span class="imgInfo">
                        <b>ליאת הדס</b> אדריכלות ועיצוב פנים
                    </span>
                </a>
                <a class="thumbwidth100pre4" data-fancybox="gallery" href="images/galleryImg/thumbW.jpg"><img alt=""
                        src="images/galleryImg/thumbW.jpg" />
                    <span class="imgInfo">
                        <b>ליאת הדס</b> אדריכלות ועיצוב פנים
                    </span>
                </a>
            </div>
            <div class="col50pre">
                <a data-fancybox="gallery" href="images/galleryImg/thumbV.jpg"><img alt="" src="images/galleryImg/thumbV.jpg" />
                    <span class="imgInfo">
                        <b>ליאת הדס</b> אדריכלות ועיצוב פנים
                    </span>
                </a>
            </div>
            <a class="thumbB" data-fancybox="gallery" href="images/galleryImg/thumbB.jpg"><img alt="" src="images/galleryImg/thumbB.jpg" />
                <span class="imgInfo">
                    <b>ליאת הדס</b> אדריכלות ועיצוב פנים
                </span>
            </a>
        </div>
    </div>
</section>