<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="" src="images/mainsimg/contentMainImgqq.jpg" />
    <h3>מבצע של כל השנים!!!!</h3>
    <div class="contentTxt">כל דלתות בחינם!!!</div>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>

<section id="wrap_container">
    <div class="container">
        <div style="text-align: center;">
            <img src="/images/sales/sales1.jpg">
        </div>
    </div>
</section>