<% layout('layoutindex/mainpage') -%>

<div class="contactForm" style="z-index: 0;margin-top: 5vh;">
    <img class="contactMainImg" alt="" src="images/contactMainImg.jpg" />
    <h2>שירות לקוחות</h2>
    <div class="contactTxt">אַדְרִיכָלוּת או אַרְכִיטֶקְטוּרָה מוגדרת באופן מסורתי כאמנות הבנייה. השאירו לנו הודעה
        ונחזור אליכם בהקדם!</div>
    <div class="tbContainer">
        <input type="text" class="tb tb3" placeholder="שם מלא:" />
        <input type="text" class="tb tb3" placeholder="טלפון:" />
        <input type="text" class="tb tb3" placeholder="אימייל:" />
        <input type="text" class="tb tb2" placeholder="כתובת:" />
        <input type="text" class="tb tb2 floatL" placeholder="תוכן:" />
        <input type="button" class="sale-btn" value="שליחה" style="color:#ffffff;" />
    </div>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>
<div class="infoContact" id="wrap_container">
    <div class="container">
        <div class="infoContactBox">
            <img src="images/contactIconsTime.png" />
            <span>
                <b>שעות פעילות</b><br />
                א'-ה' 08:00-16:00
            </span>
        </div>
        <div class="infoContactBox">
            <img src="images/contactIconsEmail.png" />
            <span>
                <b>אימייל</b><br />
                <a href="mailto:sp@pandoor.co.il">sp@pandoor.co.il</a>
            </span>
        </div>
        <div class="infoContactBox">
            <img src="images/contactIconsPhone.png" />
            <span>
                <b>טלפון</b><br />
                <a href="tel:03-9555034">03-9555034</a>
            </span>
        </div>
        <div class="infoContactBox">
            <img src="images/contactIconsFax.png" />
            <span>
                <b>פקס</b><br />
                03-9555050
            </span>
        </div>
    </div>
</div>
<div class="faq">
    <div class="container">
        <h2>שאלות נפוצות</h2>
        <button class="accordion_row">Section 1</button>
        <div class="accordion_inside_panel">
            <p>
                Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
            </p>
        </div>
        <button class="accordion_row">Section 2</button>
        <div class="accordion_inside_panel">
            <p>
                Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                suscipit faucibus urna.
            </p>
        </div>
        <button class="accordion_row">Section 3</button>
        <div class="accordion_inside_panel">
            <p>
                Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
            </p>
            <ul>
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
            </ul>
        </div>
        <button class="accordion_row">Section 4</button>
        <div class="accordion_inside_panel">
            <p>
                Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                mauris vel est.
            </p>
            <p>
                Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos.
            </p>
        </div>
    </div>
</div>
</div>
<div class="contactImgBg">
    <div class="container ta_center">
        <div class="ttl">
            <img src="images/247Icon.png" /><br />
            <b>טיפול חירום בפריצות דלתות</b>
        </div>
        <ul>
            <li>
                <a href="tel:050-3212923">
                    <div>
                        <b>אריק מור</b>
                        <span>050-3212923</span>
                    </div>
                </a>
                (באיזור הדרום בלבד)
            </li>
            <li>
                <a href="tel:050-3212923">
                    <div>
                        <b>אריק מור</b>
                        <span>050-3212923</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="tel:050-3212923">
                    <div>
                        <b>אריק מור</b>
                        <span>050-3212923</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="tel:050-3212923">
                    <div>
                        <b>אריק מור</b>
                        <span>050-3212923</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="tel:050-3212923">
                    <div>
                        <b>אריק מור</b>
                        <span>050-3212923</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="tel:050-3212923">
                    <div>
                        <b>אריק מור</b>
                        <span>050-3212923</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="tel:050-3212923">
                    <div>
                        <b>אריק מור</b>
                        <span>050-3212923</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="tel:050-3212923">
                    <div>
                        <b>אריק מור</b>
                        <span>050-3212923</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="tel:050-3212923">
                    <div>
                        <b>אריק מור</b>
                        <span>050-3212923</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="tel:050-3212923">
                    <div>
                        <b>אריק מור</b>
                        <span>050-3212923</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="tel:050-3212923">
                    <div>
                        <b>אריק מור</b>
                        <span>050-3212923</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>