<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="" src="images/mainsimg/contentMainImgqq.jpg" />
    <h3>הצהרת פרטיות</h3>
    <div class="contentTxt"></div>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>

<section id="wrap_container">
    <div class="container" style="position: relative;display: table;">
        <div class="contentTextContainer">
        <b><p>המחוייבות שלנו להגנת הפרטיות</p></b>
        הפרטיות שלנו חשובה לנו כדי לשפר את ההגנה על הפרטיות שלך אנחנו מספקים מידע זה לגבי מדיניות הפרטיות שלנו.
        <b><p>מה אנחנו עושים עם המידע</p></b>
        במידע הנמסר לשם ביצוע הזמנת מוצר או שירות, אנו עושים שימוש אך ורק למטרת ביצוע אותה מטלה והמטלות הנגזרות ממנה .המידע אינו מועבר לכל גורם אחר, למעט ככל הנדרש להשלמת המטלה (כגון לחברת האשראי). במקרה ששלחת לנו דוא"ל נשתמש בכתובת הדוא"ל שממנה שלחת לצורך משלוח דוא"ל חוזר אך לא לכל מטרה אחרת, וכמו כן לא נמסור את הכתובת לכל גוף אחר, למעט ככל שנדרש בקשר עם הטיפול בפניה. דואר שיווקי ישלח רק במקרה שניתנה הסכמה מפורשת בכתב מראש בהתאם להוראות החוק.
        <b><p>המחוייבות שלנו לאבטחת מידע</p></b>
        איננו עושים כל שימוש בפרטים של אמצעי התשלום שהעברת, בין אם זה כרטיס אשראי או מספר חשבון בנק אלא לביצוע התשלום ואיננו מעבירים אותו לכל גורם נוסף זולת לצורך זה. אנו מונעים כניסה לא מורשית למאגרי המידע שלנו. 
        <b><p>יצירת קשר איתנו</p></b>
        לשאלות בעניין הגנת הפרטיות באתר, וכן לתלונות על הטיפול במידע באתר, אנא פנה לאחראי על הגנת הפרטיות באתר, גברת מור אהרוני, למייל: mariah@pandoor.co.il
        
        </div>
        <div class="contentImages">
            <img alt="" src="images/contentDemoPic.jpg" />
        </div>
    </div>
</section>