<% layout('layoutindex/mainpage') -%>

<div class="contentMainImgContainer">
    <img class="contentMainImg" alt="" src="images/mainsimg/contentMainImgqq.jpg" />
    <h3>מעמרים</h3>
    <div class="contentTxt"></div>
    <span class="downBtn" data-scrollto="wrap_container"><i class="far fa-caret-square-down"></i></span>
</div>

<section id="wrap_container" class="wrap_container">

    <h2 class="section_title">מעמרים</h2>
    <div class="block_wrap">
        <div class="block_box">
            <a href="/blog">
                <img src="images/demo-pic-home-sale-long.jpg" />
                <div class="block_description">
                    <div class="block_date">15.02</div>
                    <div class="block_title">
                        <h5>בלה בלה בלה</h5>
                        <span>נות המקסימים. הילדות בעננים, והמתקין נתן שירות</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="block_box">
            <a href="/blog">
                <img src="images/demo-pic-home-sale-long.jpg" />
                <div class="block_description">
                    <div class="block_date">15.02</div>
                    <div class="block_title">
                        <h5>בלה בלה בלה</h5>
                        <span>נות המקסימים. הילדות בעננים, והמתקין נתן שירות</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="block_wrap">
        <div class="block_box">
            <a href="/blog">
                <img src="images/demo-pic-home-sale-long.jpg" />
                <div class="block_description">
                    <div class="block_date">15.02</div>
                    <div class="block_title">
                        <h5>בלה בלה בלה</h5>
                        <span>נות המקסימים. הילדות בעננים, והמתקין נתן שירות</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="block_box">
            <a href="/blog">
                <img src="images/demo-pic-home-sale-long.jpg" />
                <div class="block_description">
                    <div class="block_date">15.02</div>
                    <div class="block_title">
                        <h5>בלה בלה בלה</h5>
                        <span>נות המקסימים. הילדות בעננים, והמתקין נתן שירות</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="block_wrap">
        <div class="block_box">
            <a href="/blog">
                <img src="images/demo-pic-home-sale-long.jpg" />
                <div class="block_description">
                    <div class="block_date">15.02</div>
                    <div class="block_title">
                        <h5>בלה בלה בלה</h5>
                        <span>נות המקסימים. הילדות בעננים, והמתקין נתן שירות</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="block_box">
            <a href="/blog">
                <img src="images/demo-pic-home-sale-long.jpg" />
                <div class="block_description">
                    <div class="block_date">15.02</div>
                    <div class="block_title">
                        <h5>בלה בלה בלה</h5>
                        <span>נות המקסימים. הילדות בעננים, והמתקין נתן שירות</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    <div class="num_pages_wrap">
        <div class="num_page_btn">1</div>
        <div class="num_page_btn">2</div>
        <div class="num_page_btn">3</div>
        <div class="num_page_btn">4</div>
        <div class="num_page_btn">...</div>
        <div class="num_page_btn">&gt;</div>
    </div>
</section>