<% layout('layoutindex/mainpage') -%>
<!--[if lt IE 10]> 
      <style>
            .ie_class{
                display: list-item;
                float: left !important;
            }
            .part_preview{
                display:inline-block;
            }
        </style>
<![endif]-->
<div class="catalog door_preview_wrap">
    <div class="flex_container">
        <div class="flex_container_box ie_class">
            <div class="door_wrap">
            <img class="image_door" alt="" src="images/doors/unik_exlusive_broun/blank1.jpg" class="" />
            <img alt="" src="images/doors/unik_exlusive_broun/ff.png" class="" />
            <img alt="" src="images/doors/unik_exlusive_broun/fun.jpg" class="for_fun_after_door" style="width: 26vh;height: 53vh;z-index:-1;display:none;" />
            </div>
        </div>
        <div class="flex_container_box ie_class">
            <div class="choice_parts_door_list">
                <ul class="">
                    <li class="active">חלונות</li>
                    <li>חריטות</li>
                    <li>פתח לחתול\כלב</li>
                </ul>
                <div>
                    <h2>חולונות</h2>
                    <div class="choice_parts_preview_wrap">
                        <div class="part_preview" data-large-door="images/doors/unik_exlusive_broun/window1.jpg">
                            <img alt="" src="images/doors/unik_exlusive_broun/window1_mini.jpg" class="" />
                            <span>חלון גדול</span>
                        </div>
                        <div class="part_preview" data-large-door="images/doors/unik_exlusive_broun/window_1530_1.jpg">
                            <img alt="" src="images/doors/unik_exlusive_broun/window_1530_mini.jpg" class="" />
                            <span>חלון קטן</span>
                        </div>
                        <div class="part_preview" data-large-door="images/doors/unik_exlusive_broun/window_rhombus_1.jpg">
                            <img alt="" src="images/doors/unik_exlusive_broun/window_rhombus_1_mini.jpg" class="" />
                            <span>חלון רומב</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex_container_box ie_class">
            <div class="headerImgTextR door_name_catalog_preview">
                <div class="content">
                    <h1><span>פנדור</span><br> יוניק <br>קלאסיק </h1>
                    <div>
                        <b>פנדור יוניק קלאסיק:</b> אַדְרִיכָלוּת או אַרְכִיטֶקְטוּרָה מוגדרת באופן מסורתי כאמנות
                        הבנייה,
                        כתחום
                        העוסק בתכנון ועיצוב חללים.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>